.colors {
    margin: -3px 0 0 -4px;
    overflow: hidden;
    width: 204px;
}
.colors li {
    border: 2px solid transparent;
    border-radius: 20px;
    float: left;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 2px;
}
.colors li  input{
    display: none;
}
.colors li label {
    background: none repeat scroll 0 0 #000000;
    border-radius: 20px;
    display: block;
    height: 21px;
    width: 21px;
	cursor: pointer;
}
.colors li.selected {
    border: 2px solid #ffc601;
    opacity: 1;
}
.colors li .selected:hover {
    opacity: 1;
}
.colors li:hover {
    opacity: 0.9;
}
.preloader_bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background:#FFF;
	opacity:0.9;
	text-align: left;
}
.preloader_progress {
	padding:3.5% 0 0;
	vertical-align:middle;
}

.windows-reviews .slide-div .rating a.active {
    background: url("../images/stars.jpg") no-repeat scroll 1px 0 rgba(0, 0, 0, 0);
}

.windows-reviews .slide-div .rating a {
    cursor: pointer;
}

#review-form-add #comment-file-avatar {
    position: absolute; cursor: pointer; margin-top: 0px; height: 65px; opacity: 0; width: 260px;
}

#review-form-add #comment-file-avatar-name {
    color: infotext;
    font-size: 10px;
    font-style: italic;
    margin-left: 70px;
    margin-top: 45px;
    position: absolute;
}

.rating .rating-value {
    background: url("../images/stars.jpg") no-repeat scroll 1px 0px rgba(0, 0, 0, 0);
    height: 19px;
}
#review_messages {
    padding-left: 10px;
    padding-right: 10px;
}

.yashare-init {
    overflow: hidden;
}
.yashare-init .b-share{
    padding: 0 !important;
}
.yashare-init a {
    background: url("../images/icons.png") no-repeat scroll left -373px rgba(0, 0, 0, 0);
    border: 2px solid #1266b1;
    border-radius: 30px;
    display: block;
    height: 30px;
    margin: 4px 7px 0 0;
    width: 30px;
    padding: 0 !important;
}
.yashare-init a span {
    display:none;
}

.yashare-init a.b-share-btn__facebook {
    background-position: 11px -412px;
    border: 2px solid #aab1b8;
}
.yashare-init a.b-share-btn__facebook:hover {
    background-color: #aab1b8;
    background-position: 11px -452px;
}

.yashare-init a.b-share-btn__vkontakte {
    background-position: -30px -412px;
    border: 2px solid #aab1b8;
}
.yashare-init a.b-share-btn__vkontakte:hover {
    background-color: #aab1b8;
    background-position: -30px -452px;
}

.yashare-init a.b-share-btn__odnoklassniki {
    background-position: -71px -412px;
    border: 2px solid #aab1b8;
}
.yashare-init a.b-share-btn__odnoklassniki:hover {
    background-color: #aab1b8;
    background-position: -71px -452px;
}

.yashare-init a.b-share-btn__twitter {
    background-position: -112px -412px;
    border: 2px solid #aab1b8;
}
.yashare-init a.b-share-btn__twitter:hover {
    background-color: #aab1b8;
    background-position: -112px -452px;
}

.yashare-init a.b-share-btn__gplus {
    background-position: -153px -412px;
    border: 2px solid #aab1b8;
}
.yashare-init a.b-share-btn__gplus:hover {
    background-color: #aab1b8;
    background-position: -153px -452px;
}

.button.submit {
    background: none repeat scroll 0 0 #aab1b8;
    border: medium none;
    border-radius: 4px;
    color: #ffffff;
    font-family: "arialbold";
    font-size: 11px;
    height: 35px;
    letter-spacing: 1.5px;
    position: relative;
    text-transform: uppercase;
    top: -1px;
    width: 105px;
    padding: 9px 10px;
}

.slider-range {
    background: none repeat scroll 0 0 #aab1b8;
    border-radius: 4px;
    height: 6px;
    position: relative;
    width: 100%;
}
.slider-range .ui-slider-handle.first-a {
    margin-left: -7px;
}
.slider-range .ui-slider-handle span {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #999999;
    color: #999999;
    font-family: "arialregular";
    font-size: 16px;
    height: 24px;
    left: 0;
    padding-left: 4px;
    position: absolute;
    top: -40px;
    width: 60px;
}
.slider-range .ui-slider-handle span:before {
    border-left: 1px solid #999999;
    border-right: 5px solid transparent;
    border-top: 4px solid #999999;
    bottom: -5px;
    content: "";
    left: -1px;
    position: absolute;
}


.bx_filter_container_modef {
    position: relative;
}
.bx_filter_popup_result{
    position: absolute;
    display: none;
    height: 33px;
    border-top:   1px solid #c0d6dc;
    border-right: 1px solid #c0d7dd;
    border-bottom:1px solid #c0d6dc;
    border-left:  1px solid #c0d7dd;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    color: #3f3f3f;
    font-weight: normal;
    font-size: 13px;
    line-height: 33px;
    padding: 0 10px;
    margin-left: 10px;
    margin-top: -7px;
    z-index: 1100;
    white-space: nowrap;
}
.bx_filter_popup_result .arrow{
    width:8px;
    height: 14px;
    position: absolute;
    top:50%;
    margin-top:-7px;
    background: url(../images/arr_left.png) no-repeat center;

}
.bx_filter_popup_result.left  {
    left: 190px;
    top: -11px;
}
.bx_filter_popup_result.right .arrow{left: -8px;background: url(../images/arr_left.png)  no-repeat center}
.bx_filter_popup_result.left  .arrow{right:-8px;background: url(../images/arr_right.png) no-repeat center}
.bx_filter_popup_result a{color: #0073a3}
.bx_filter_popup_result a:hover{text-decoration: none}
.bx_filter_popup_result_close{display: none}
.bx_filter_popup_result_link {
    display: inline !important;
    border-bottom: none !important;
}
.bx_filter_popup_result_link:before{
    background: none !important;
    content: "";
    height: auto !important;
    position: relative;
    right: 0;
    top: 0;
    width: auto !important;
}

.window-inside2 {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

.auth-forms h1 {
    text-align: center;
}
.forms-page .windows-form {
    z-index: 900;
}
.product-common .compare-table {
	font-family: 'arialbold';
	color: #264f85;
}