.fix-width-961 {

}

.fix-width-961 .pick-color-open {
    background-position: 14px 15px;
    padding: 13px 0 14px 48px;
    width: 0;
}

.fix-width-961 .top-blue-line .top-blue-line-inner,
.fix-width-961 .top-info-line,
.fix-width-961 .main-catalog ul,
.fix-width-961 .content-main #carousel2 .carousel-outer,
.fix-width-961 .catalog,
.fix-width-961 .preim,
.fix-width-961 footer .footer-inner-top-line,
.fix-width-961 .nav-block .nav-block-inner,
.fix-width-961 .copyright,
.fix-width-961 .inner-catalog .inner,
.fix-width-961 .inner-product.inner-catalog .nav.nav-tabs,
.fix-width-961 .inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.fix-width-961 .inner_actions .inner-content-inner,
.fix-width-961 .news .news-inner,
.fix-width-961 .inner_profile .col-set,
.fix-width-961 .inner-cart .inner-cart-inner, .nav-dop .outer {
    width: 961px;
}
.fix-width-961 .content-main #carousel3 .carousel-outer {
    width: 893px;
}
.fix-width-961 .main-catalog ul {
    height: 52px;
    overflow: hidden;
}
.fix-width-961 .carousel-caption {
    margin: 0 auto 0 -486px;
    width: 960px;
}

.fix-width-961 .carousel-caption + .red-button {
    margin: 0 auto 0 -486px;
}

.fix-width-961 .top-info-line .form-search {
    left: 321px;
    width: 176px;
}
.fix-width-961 .top-info-line .form-search input {
    width: 141px;
}
.fix-width-961 .top-info-line .phone-block {
    right: 235px;
}
.fix-width-961 .main-catalog ul li {
    margin-right: 27px;
}
/*
.fix-width-961 .carousel1 .carousel-inner {
    height: 485px;
}
.fix-width-961 #carousel1 {
    height: 485px;
}
.fix-width-961 #carousel1 .carousel-inner .item {
    height: 485px;
}
.fix-width-961 #carousel1 .carousel-inner .item img {
    height: 485px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    position: absolute;
    top: 0px;
}
.fix-width-961 #carousel1 .carousel-inner .item img.slider-img {
    display: none;
}
.fix-width-961 #carousel1 .carousel-inner .item img.slider-img2 {
    display: block;
}
.fix-width-961 .carousel-caption {
    padding-top: 126px;
}
.fix-width-961 .carousel-caption .header {
    font-size: 46px;
    letter-spacing: -0.7px;
}
.fix-width-961 .carousel-indicators {
    bottom: 44px;
}
.fix-width-961 .content-main #carousel2 {
    margin: -32px auto 0;
}
.fix-width-961 .content-main #carousel2 .carousel-outer {
    height: 168px;
}
.fix-width-961 .content-main #carousel2 .carousel-inner {
    height: 168px;
}
.fix-width-961 .content-main #carousel2 .carousel-inner .item span {
    width: 308px;
    height: 168px;
    margin: 0 9px;
}
.fix-width-961 .content-main #carousel2 .carousel-inner .item span:before {
    width: 308px;
}
.fix-width-961 .content-main #carousel2 .carousel-inner .item:hover::before {
    height: 168px;
}
.fix-width-961 .content-main #carousel2 .carousel-inner .item img {
    height: 168px;
}
*/
.fix-width-961 .catalog {
    padding-top: 70px;
}
.fix-width-961 .catalog .nav.nav-tabs {
    margin-left: 2px;
}
.fix-width-961 .main-news {
    margin-bottom: 50px;
}
.fix-width-961 .preim ul li.preim1 {
    background-position: 39px 0;
    margin-right: 40px;
    padding-left: 2px;
}
.fix-width-961 .preim ul li.preim2 {
    background-position: -296px 0;
    margin-right: 44px;
    width: 175px;
}
.fix-width-961 .preim ul li.preim3 {
    background-position: -587px 0;
    width: 205px;
}
.fix-width-961 .preim ul li.preim4 {
    margin-left: 44px;
}
.fix-width-961 footer {
    margin-top: 94px;
}
.fix-width-961 .podp {
    margin-left: 62px;
}
.fix-width-961 .nav-block .contacts {
    width: 328px;
}
.fix-width-961 .nav-block-inner nav {
    width: auto;
}
.fix-width-961 .nav-block-inner nav .li {
    margin-right: 167px;
}
.fix-width-961 .nav-block-inner nav .li:first-child {
    display: none;
}
/* inner product */
.fix-width-961 .product-common .photo-part {
    width: 361px;
    height: 494px;
}
.fix-width-961 .photo-part .big-img a {
    height: 300px;
    width: 300px;
}
.fix-width-961 .photo-part .big-img .main_picture {
    max-height: 300px;
    max-width: 300px;
}
.fix-width-961 .product-common .photo-part .big-img .lupa {
    background-position: 0px -95px;
    margin-top: 20px;
}
.fix-width-961 .product-common .photo-part .big-img .product-tile-sale {
    right: 42px;
}
.fix-width-961 .product-common .photo-part .carousel.product {
    width: 304px;
}
.fix-width-961 .product-common .photo-part .carousel.product .carousel-outer {
    width: 222px;
}
.fix-width-961 .product-common .info-part {
    padding: 23px 0 0 30px;
    width: 569px;
}
.fix-width-961 .product-common .info-part .soc {
    bottom: 31px;
    right: 199px;
}
.fix-width-961 .inner-product.inner-catalog .nav.nav-tabs {
    margin: -46px auto 29px;
}
.fix-width-961 .inner-product.inner-catalog .nav.nav-tabs li a, .inner-product.inner-catalog .nav.nav-tabs li.active a {
    width: 239px;
}
.fix-width-961 .inner-product.inner-catalog .nav.nav-tabs li a {
    width: 240px;
}
.fix-width-961 .inner-product.inner-catalog .nav.nav-tabs li:last-child a {
    width: 239px;
}
.fix-width-961 .inner-product.inner-catalog .nav.nav-tabs li:first-child a {
    width: 239px;
}
.fix-width-961 .inner-product.inner-catalog .tab-content .left-part {
    width: 438px;
}
.fix-width-961 .inner-product.inner-catalog .tab-content .right-part {
    width: 478px;
}
/* inner product */

/* inner catalog */
.fix-width-961 .inner-catalog .catalog-inner {
    width: 721px;
    padding-top: 1px;
}
.fix-width-961 .inner-catalog.container {
    width: 720px;
}
.fix-width-961 .inner-catalog .sorting {
    margin-left: 200px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big {
    height: 289px;
    width: 239px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big a {
    height: 289px;
    width: 239px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big a .img-inside {
    height: 167px;
    width: 170px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big a img {
    width: 100%;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big .name {
    bottom: 52px;
    width: 199px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big .price span {
    font-size: 14px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big .add2cart {
    height: 0px;
    left: 48px;
    top: 88px;
    width: auto;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big .add2cart:hover {
    height: 14px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-big .economy {
    display: none;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium {
    height: 289px;
    width: 239px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium a {
    height: 289px;
    width: 239px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium a img {
    width: 100%;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium .name {
    bottom: 52px;
    width: 199px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium .price span {
    font-size: 14px;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.fix-width-961 .inner-catalog .catalog-inner .item.item-medium .product-tile-sale {
    display: none;
}

.fix-width-961 .inner-catalog .catalog-inner .item .dop-thing.hurry-up {
    right: 20px;
}
/* inner catalog */

/* inner search */
.fix-width-961 .inner_search .search-container input {
    width: 923px;
}
/* inner search */

/* inner actions */
.fix-width-961 .inner_actions .inner-content-inner ul {
    margin: 0 0 -7px -7px;
    width: 988px;
}
.fix-width-961 .inner_actions .inner-content-inner ul .item {
    margin: 0 9px 17px 8px;
}
.fix-width-961 .inner_actions .inner-content-inner ul .item img {
    height: 168px;
}
.fix-width-961 .inner-content.inner_actions {
    margin-bottom: -94px;
}
/* inner actions */

/* inner news */
.fix-width-961 .inner-content.news {
    margin-bottom: -94px;
}
.fix-width-961 .news .news-inner h1 {
    margin: 0 0 12px;
}
.fix-width-961 .news .news-inner ul {
    margin: 0 0 13px -28px;
    width: 1014px;
}
.fix-width-961 .news .news-inner ul li, .news .news-inner .item {
    margin: 0 27px 55px 28px;
}
/* inner news */

/* inner profile */
.fix-width-961 .inner_profile {
    margin-bottom: -94px;
}
.fix-width-961 .inner_profile .col-set .col-1, .inner_profile .col-set .col-2, .inner_profile .col-set .col-3 {
    width: 304px;
}
.fix-width-961 .inner_profile .col-set .box {
    width: 305px;
}
.fix-width-961 .inner_profile .col-set .contact-information .box-content p span {
    width: 106px;
}
.fix-width-961 .inner_profile .col-set .newsletter .box-content input[type="text"] {
    width: 229px;
}
/* inner profile */

/* inner compare */
.fix-width-961 .inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 721px;
}
.fix-width-961 .inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 720px;
}
.fix-width-961 .inner-compare .acsesorises.compare-page .compare-table-block {
    width: 960px;
}
.fix-width-961 .inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 960px;
}
.fix-width-961 .inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    width: 225px;
}
/* inner compare */

.fix-width-961 .inner-content.inner-cart {
    margin-bottom: -94px;
}

/* 961 - 1201 ----------------------------  */

.fix-width-961 .content-inner .contacts-block .map {
    width: 600px;
}
.fix-width-961 .content-inner .map > img {
    width: 600px;
}
.fix-width-961 .form-block.ask-question .right-part {
    width: 600px;
}
.fix-width-961 .form-block.ask-question .textarea {
    width: 566px;
}







.fix-width-721 {

}

.fix-width-721 .pick-color-open {
    background-position: 14px 15px;
    padding: 13px 0 14px 48px;
    width: 0;
}

.fix-width-721 .top-blue-line .top-blue-line-inner,
.fix-width-721 .top-info-line,
.fix-width-721 .main-catalog ul,
.fix-width-721 .content-main #carousel2-1 .carousel-outer,
.fix-width-721 .catalog,
.fix-width-721 .preim,
.fix-width-721 .nav-block .nav-block-inner,
.fix-width-721 .inner-catalog .inner,
.fix-width-721 .inner-product.inner-catalog .nav.nav-tabs,
.fix-width-721 .inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.fix-width-721 .inner_actions .inner-content-inner,
.fix-width-721 .news .news-inner,
.fix-width-721 .inner_profile .col-set,
.fix-width-721 .inner-cart .inner-cart-inner {
    width: 721px;
}
.fix-width-721 header {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
}
.fix-width-721 footer .footer-inner-top-line {
    width: auto;
    padding: 0px 20px;
}

.fix-width-721 .content-main #carousel3 .carousel-outer {
    width: 588px;
}
.fix-width-721 .phone-menu {
    display: block;
    top: 19px;
}
.fix-width-721 .phone-menu {
    background-position: -39px -974px;
    display: block;
    top: 19px;
    height: 22px;
    width: 26px;
}
.fix-width-721 .main-catalog ul {
    height: 52px;
    overflow: hidden;
}
.fix-width-721 .carousel-caption {
    margin: 0 auto 0 -360px;
    width: 720px;
}
.fix-width-721 .carousel-caption + .red-button {
    margin: 0 auto 0 -360px;
}
.fix-width-721 .top-blue-line {
    display: none;
}

.fix-width-721 .top-info-line .form-search {
    display: none;
}
.fix-width-721 .top-info-line .phone-block {
    display: none;
}
.fix-width-721 .top-info-line .cart-block {
    top: 19px;
    width: 24px;
}
.fix-width-721 .top-info-line .cart-block span {
    display: none;
}
.fix-width-721 .top-info-line .cart-block a {
    color: #fff;
}
.fix-width-721 .cart-block b {
    color: #000;
    font-size: 21px;
    font-weight: normal;
}
.fix-width-721 .top-info-line .logo {
    height: 44px;
    left: 50%;
    margin-left: -114px;
    top: 11px;
    width: 228px;
}
.fix-width-721 .top-info-line .logo > img {
    margin-top: -106px;
}
.fix-width-721 .top-info-line {
    height: 65px;
    margin: 0 20px;
    width: auto;
}
.fix-width-721 .main-catalog {
    display: none;
}
/*
.fix-width-721 #carousel1 .carousel-inner {
    height: 348px;
}
.fix-width-721 #carousel1 {
    height: 348px;
}
.fix-width-721 #carousel1 .carousel-inner .item {
    height: 348px;
}
.fix-width-721 #carousel1 .carousel-inner .item img {
    height: 348px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    position: absolute;
    top: 0px;
}
.fix-width-721 #carousel1 .carousel-inner .item img.slider-img {
    display: none;
}
.fix-width-721 #carousel1 .carousel-inner .item img.slider-img3 {
    display: block;
}
.fix-width-721 .carousel-caption {
    padding-top: 106px;
}
.fix-width-721 .carousel-caption .header {
    font-size: 30px;
    letter-spacing: -0.2px;
}
.fix-width-721 .carousel-caption .text {
    font-size: 13px;
    line-height: 21px;
    margin: 3px 0 16px;
    width: 344px;
}
.fix-width-721 .carousel-caption + .red-button {
    font-size: 11px;
    letter-spacing: 0.9px;
    padding: 13px 14px 12px 15px;
    margin: -20px auto 0 -360px;
}
.fix-width-721 .carousel-indicators {
    bottom: 44px;
}
.fix-width-721 .content-main #carousel2-1 {
    margin: -42px auto 0;
}
.fix-width-721 .content-main #carousel2 {
    display: none;
}
.fix-width-721 .content-main #carousel2-1 {
    display: block;
}
.fix-width-721 .content-main #carousel2-1 .carousel-outer {
    height: 190px;
}
.fix-width-721 .content-main #carousel2-1 .carousel-inner {
    height: 190px;
    margin-left: -10px;
}
.content-main #carousel2-1 .carousel-indicators {
    top: 195px;
    display: block;
}
.fix-width-721 #carousel2-1 .carousel-indicators li {
    background-color: #666;
    border: 2px solid #666;
    height: 7px;
    margin: 1px 4px;
    width: 7px;
}
.fix-width-721 #carousel2-1 .carousel-indicators li:hover {
    background: none repeat scroll 0 0 transparent;
}
.fix-width-721 #carousel2-1 .carousel-indicators .active {
    background-color: transparent;
    border: 2px solid #d8192b;
    height: 10px;
    margin: 0 1px;
    width: 10px;
}*/
.fix-width-721 .catalog {
    padding-top: 79px;
}
.fix-width-721 .catalog .nav.nav-tabs {
    margin-left: 19px;
}
.fix-width-721 .catalog-inner .item.item-big {
    height: 289px;
    width: 239px;
}
.fix-width-721 .catalog-inner .item.item-big a {
    height: 289px;
    width: 239px;
}
.fix-width-721 .catalog-inner .item.item-big a .img-inside {
    height: 167px;
    width: 170px;
}
.fix-width-721 .catalog-inner .item.item-big a img {
    width: 100%;
}
.fix-width-721 .catalog-inner .item.item-big .name {
    bottom: 52px;
    width: 199px;
}
.fix-width-721 .catalog-inner .item.item-big .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.fix-width-721 .catalog-inner .item.item-big .price span {
    font-size: 14px;
}
.fix-width-721 .catalog-inner .item.item-big .add2cart {
    height: 0px;
    left: 48px;
    top: 88px;
    width: auto;
}
.fix-width-721 .catalog-inner .item.item-big .add2cart:hover {
    height: 14px;
}
.fix-width-721 .catalog-inner .item.item-big .economy {
    display: none;
}
.fix-width-721 .catalog-inner .item.item-medium {
    height: 289px;
    width: 239px;
}
.fix-width-721 .catalog-inner .item.item-medium a {
    height: 289px;
    width: 239px;
}
.fix-width-721 .catalog-inner .item.item-medium a img {
    width: 100%;
}
.fix-width-721 .catalog-inner .item.item-medium .name {
    bottom: 52px;
    width: 199px;
}
.fix-width-721 .catalog-inner .item.item-medium .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.fix-width-721 .catalog-inner .item.item-medium .price span {
    font-size: 14px;
}
.fix-width-721 .catalog-inner .item.item-medium .add2cart {
    height: 0px;
    left: 48px;
    top: 88px;
    width: auto;
}
.fix-width-721 .catalog-inner .item.item-medium .add2cart:hover {
    height: 14px;
}
.fix-width-721 .catalog-inner .item.item-medium .product-tile-sale {
    display: none;
}
.fix-width-721 .catalog-inner .item .dop-thing.hurry-up {
    right: 20px;
}
.fix-width-721 .main-news {
    margin-bottom: 50px;
    margin-top: 38px;
}
.fix-width-721 .preim h2 {
    margin-bottom: 22px;
}
.fix-width-721 .preim ul li.preim1 {
    background-position: 41px 0;
    margin-left: 63px;
    margin-right: 106px;
    padding-left: 2px;
    width: 232px;
}
.fix-width-721 .preim ul li.preim2 {
    background-position: -268px 0;
    margin-bottom: 46px;
    margin-right: 44px;
    width: 230px;
}
.fix-width-721 .preim ul li.preim3 {
    background-position: -565px 0;
    margin-left: 44px;
    width: 249px;
}
.fix-width-721 .preim ul li.preim4 {
    margin-left: 126px;
}
.fix-width-721 footer {
    margin-top: 94px;
}
.fix-width-721 .podp {
    float: right;
    margin: 0px;
}
.fix-width-721 .money {
    display: none;
}
.fix-width-721 .nav-block .nav-block-inner {
    padding-top: 38px;
}
.fix-width-721 .nav-block .contacts {
    float: none;
    left: 50%;
    margin-left: -164px;
    position: relative;
    text-align: center;
    width: 328px;
}
.fix-width-721 .nav-block .contacts .logo {
    margin-left: 51px;
}
.fix-width-721 .nav-block .contacts .phone-block {
    margin-bottom: 17px;
    margin-top: 19px;
}
.fix-width-721 .nav-block-inner nav {
    display: none;
}
.fix-width-721 .nav-block .nav-block-inner {
    padding-bottom: 37px;
}
.fix-width-721 .copyright {
    padding: 18px 20px 21px;
    width: auto;
}
/* inner product */
.fix-width-721 .product-common .photo-part {
    border-bottom: 1px solid #d8dadf;
    border-right: none;
    height: auto;
    width: 100%;
}
.fix-width-721 .product-common .photo-part .big-img {
    display: table;
    margin-left: 0;
    width: 100%;
    padding-bottom: 10px;
}
.fix-width-721 .product-common .photo-part .big-img a {
    width: 100%;
}
.fix-width-721 .product-common .photo-part .big-img .lupa {
    display: none;
}
.fix-width-721 .product-common .photo-part .big-img .product-tile-sale {
    right: 42px;
}
.fix-width-721 .product-common .photo-part .carousel.product {
    width: 369px;
    margin: 29px auto 0;
}
.fix-width-721 .product-common .photo-part .carousel.product .carousel-outer {
    width: 292px;
}
.fix-width-721 #carousel4 .carousel-control.right {
    right: 11px;
}
.fix-width-721 .product-common .info-part {
    padding: 23px 0 107px 89px;
    width: 569px;
}
.fix-width-721 .product-common .info-part .cart-thing {
    margin-left: -89px;
    margin-top: -2px;
    padding-left: 89px;
    padding-top: 32px;
    width: 632px;
}
.fix-width-721 .product-common .info-part .soc {
    bottom: 40px;
    right: 257px;
}
.fix-width-721 .product-common {
    margin-bottom: 29px;
}
.fix-width-721 .tab-content {
    padding-top: 41px;
}
.fix-width-721 .inner-product.inner-catalog .tab-content .left-part {
    width: auto;
    float: none;
}
.fix-width-721 .inner-product.inner-catalog .decription {
    border-bottom: none;
}
.fix-width-721 .inner-product.inner-catalog .nav.nav-tabs {
    display: none;
}

.fix-width-721 .inner-product.inner-catalog .tab-content .right-part {
    width: auto;
    float: none;
    margin-top: 15px;
}
.fix-width-721 .inner-product.inner-catalog .tab-content .watch-more {
    display: none;
}
.fix-width-721 .inner-product.inner-catalog .tab-content .closed-info.closed-docs {
    margin-bottom: 30px;
    margin-top: 23px;
}
.fix-width-721 .inner-product.inner-catalog .tab-content .grey-button {
    display: inline;
}
.fix-width-721 .inner-product.inner-catalog .tab-content .right-part .grey-button,
.fix-width-721 .inner-product.inner-catalog .review-part .grey-button {
    display: block;
    float: left;
    margin-top: 2px;
}
.fix-width-721 .inner-product.inner-catalog .review-part {
    border-top: medium none;
    padding-bottom: 42px;
    padding-top: 46px;
}
.fix-width-721 .inner-product.inner-catalog .acsesorises {
    border-top: medium none;
    padding-top: 46px;
}
.fix-width-721 .inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-indicators {
    display: block;
    top: 297px;
}
.fix-width-721 .inner-product.inner-catalog .acsesorises .carousel.acsesorise {
    margin-bottom: 73px;
}
.fix-width-721 .product-common .photo-part .big-img .product-tile-sale {
    right: 257px;
    bottom: -6px;
}
/* inner product */

/* inner catalog */
.fix-width-721 .inner-catalog .catalog-inner {
    width: 721px;
    padding-top: 1px;
}
.fix-width-721 .inner-catalog.container {
    width: 720px;
}
.fix-width-721 .inner-catalog .filter {
    display: none;
}
.fix-width-721 .filtr-button {
    display: block;
    margin-top: -4px;
    padding: 11px 43px 11px 41px;
}
.fix-width-721 .inner-catalog .sorting {
    float: right;
    margin-bottom: 29px;
    margin-left: 0;
    width: 322px;
}
/* inner catalog */

/* inner search */
.fix-width-721 .inner_search .search-container input {
    width: 683px;
}
/* inner search */

/* inner actions */
.fix-width-721 .inner-content.inner_actions {
    margin-bottom: -94px;
}
.fix-width-721 .inner_actions .inner-content-inner h1 {
    margin: 0 0 12px 0px;
}
.fix-width-721 .inner_actions .inner-content-inner ul {
    margin: 0 0 -7px -10px;
    width: 741px;
}
.fix-width-721 .inner_actions .inner-content-inner ul .item {
    margin: 0 11px 22px;
}
.fix-width-721 .inner_actions .inner-content-inner ul .item img {
    height: 190px;
}
/* inner actions */

/* inner news */
.fix-width-721 .inner-content.news {
    margin-bottom: -94px;
}
.fix-width-721 .news .news-inner h1 {
    margin: 0 0 12px;
    text-align: center;
}
.fix-width-721 .news .news-inner ul {
    margin: 0 auto 13px;
    width: 674px;
}
.fix-width-721 .news .news-inner ul li, .news .news-inner .item {
    margin: 0 27px 55px;
}
/* inner news */

/* inner profile */
.fix-width-721 .inner_profile {
    margin-bottom: -94px;
}
.fix-width-721 .inner_profile .col-set .box {
    width: 100%;
}
.fix-width-721 .inner_profile .col-set .contact-information .box-content p span {
    width: 106px;
}
.fix-width-721 .inner_profile .col-set .newsletter .box-content input[type="text"] {
    width: 640px;
}
/* inner profile */

/* inner compare */
.fix-width-721 .inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 481px;
}
.fix-width-721 .inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 480px;
}
.fix-width-721 .inner-compare .acsesorises.compare-page .compare-table-block {
    width: 720px;
}
.fix-width-721 .inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 720px;
}
.fix-width-721 .inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    width: 225px;
}
/* inner compare */

/* inner cart */
.fix-width-721 .inner-content.inner-cart {
    margin-bottom: -94px;
}
.fix-width-721 .inner-cart .inner-cart-inner .cart {
    padding: 23px 0 30px;
}
.fix-width-721 .cart-items {
    width: 660px;
    margin: 0 auto 16px;
}
.fix-width-721 .cart-item .close-item {
    border-radius: 26px;
    height: 26px;
    width: 26px;
    background-position: -82px -967px;
}
.fix-width-721 .cart-item .close-item:hover {
    background-position: -112px -967px;
}
.fix-width-721 .cart-items .cart-item .product-info-container .c-name {
    float: none;
    margin: 0 10px 0 0;
    width: 400px;
}
.fix-width-721 .cart-items .cart-item .product-info-container .c-qty {
    margin: 18px 0 0 -24px;
    width: 177px;
}
.fix-width-721 .cart-items .cart-item .product-info-container .c-price {
    margin: 20px 0 0;
    width: 171px;
}
.fix-width-721 .cart-items .cart-item .product-info-container .c-tprice {
    margin: 20px 0 0;
}
.fix-width-721 .cart-items .price-container .left-container input[type="text"] {
    width: 110px;
}
.fix-width-721 .inner-cart .inner-cart-inner .cart .checkout-container {
    width: 660px;
}
.fix-width-721 .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 114px 31px;
}
.fix-width-721 .inner-cart2 .inner-cart-inner .cart .cart-items .l-cart-item {
    padding: 26px 114px 0;
}
.fix-width-721 .inner-cart3 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 165px 3px;
}

/* inner cart */


.fix-width-721 .content-inner .contacts-block .map {
    width: 361px;
}
.fix-width-721 .content-inner .map > img {
    width: 361px;
}
.fix-width-721 .form-block.ask-question .right-part {
    width: 361px;
}
.fix-width-721 .form-block.ask-question .textarea {
    width: 327px;
}





.fix-width-481 {

}







