
.ms-ctn {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #D4D4D4;
    color: #555555;
    cursor: default;
    display: block;
    font-size: 14px;
    height:30px;
    line-height: 20px;
    margin-bottom: 36px;
    margin-top: 5px;
    padding: 0;
    position: relative;
}
.ms-ctn-invalid {
    border: 1px solid #CC0000;
}
.ms-ctn-readonly {
    cursor: pointer;
}
.ms-ctn-disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
}
.ms-ctn-bootstrap-focus, .ms-ctn-bootstrap-focus .ms-res-ctn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ms-ctn input {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 0 none;
    box-shadow: none;
    display: block;
    float: left;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    height: 24px;
    line-height: normal;
    margin: 4px 0 2px 2px;
    outline: 0 none;
    overflow: hidden;
    padding: 0px 6px 0;
}
.ms-ctn-disabled input {
    background-color: #EEEEEE;
    cursor: not-allowed;
}
.ms-ctn .ms-input-readonly {
    cursor: pointer;
}
.ms-ctn input:focus {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 0 none;
    box-shadow: none;
	color: #000;
}
.ms-ctn .ms-trigger {
    cursor: pointer;
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
    width: 27px;
}
.ms-ctn .ms-trigger .ms-trigger-ico {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #555555;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 13px;
    margin-top: 13px;
    vertical-align: top;
    width: 0;
}
.ms-ctn .ms-trigger:hover {
    background: -moz-linear-gradient(100% 100% 90deg, #E3E3E3, #F1F1F1) repeat scroll 0 0 transparent;
}
.ms-ctn .ms-trigger:hover .ms-trigger-ico {
    background-position: 0 -4px;
}
.ms-ctn-disabled .ms-trigger {
    background-color: #EEEEEE;
    cursor: not-allowed;
}
.ms-ctn-bootstrap-focus {
    border-bottom: 1px solid #CCCCCC;
}
.ms-res-ctn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    left: -1px;
    overflow-y: auto;
    position: relative;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    z-index: 9999;
}
.ms-res-ctn .ms-res-group {
    background: none repeat scroll 0 0 #F3EDFF;
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #333333;
    font-weight: bold;
    line-height: 23px;
    padding: 2px 5px;
    text-align: left;
}
.ms-res-ctn .ms-res-item {
    color: #037387;
    cursor: pointer;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    line-height: 28px;
    padding: 0 5px;
    text-align: left;
}
.ms-res-ctn .ms-res-item-grouped {
    padding-left: 15px;
}
.ms-res-ctn .ms-res-odd {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ms-res-ctn .ms-res-item-active {
    background-color: #037387;
    color: #FFFFFF;
}
.ms-sel-ctn {
    line-height: 22px;
    overflow: auto;
    padding-right: 27px;
}
.ms-sel-ctn .ms-sel-item {
    background: none repeat scroll 0 0 #037387;
    color: #FFFFFF;
    float: left;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    line-height: 24px;
    margin-left: 3px;
    margin-top: 4px;
    padding: 0 6px 0 8px;
}
.ms-sel-ctn .ms-sel-text {
    background: none repeat scroll 0 0 #037387;
    color: #FFFFFF;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    font-weight: normal;
    margin-left: 0;
    padding-right: 0;
}
.ms-res-ctn .ms-res-item em {
    background: none repeat scroll 0 0 #565656;
    color: #FFFFFF;
    font-style: normal;
}
.ms-sel-ctn .ms-sel-item:hover {
    background: none repeat scroll 0 0 #565656;
}
.ms-sel-ctn .ms-sel-text:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ms-sel-ctn .ms-sel-item-active {
    background: none repeat scroll 0 0 #757575;
    border: 1px solid red;
}
.ms-ctn .ms-sel-ctn .ms-sel-item {
    margin-top: 3px;
}
.ms-stacked .ms-sel-item {
    float: inherit;
}
.ms-sel-ctn .ms-sel-item .ms-close-btn {
    background-image: url("../images/crest.png");
    cursor: pointer;
    float: right;
    height: 10px;
    margin: 8px 0 0 12px;
    width: 10px;
}
.ms-sel-ctn .ms-sel-item .ms-close-btn:hover {
    background-position: 0 -7px;
}
.ms-helper {
    color: #AAAAAA;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: -17px;
}