@media only screen and (min-width: 1201px) {
/* ----------------------------  */  
/* > 1201px ----------------------------  */   
}

@media screen and (min-width: 961px) and (max-width: 1201px) {
/* ----------------------------  */  

.top-blue-line .top-blue-line-inner,
.top-info-line,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.content-main #carousel3 .carousel-outer,
.preim,
footer .footer-inner-top-line,
.nav-block .nav-block-inner,
.copyright,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner {
    width: 961px;
}

.main-catalog ul {
    height: 52px;
    overflow: hidden;
}
.carousel-caption {
    margin: 0 auto 0 -486px;
    width: 960px;
}
    
.top-info-line .form-search {
    left: 321px;
    width: 176px;
}
.top-info-line .form-search input {
    width: 141px;
}
.top-info-line .phone-block {
    right: 235px;
}
.main-catalog ul li {
    margin-right: 27px;
}
.carousel1 .carousel-inner {
    height: 485px;
}
.carousel-caption {
    top: 126px;
}
.carousel-caption .header {
    font-size: 46px;
    letter-spacing: -0.7px;
}
.carousel-indicators {
    bottom: 44px;
}
.content-main #carousel2 {
    margin: -32px auto 0;
}
.content-main #carousel2 .carousel-outer {
    height: 168px;
}
.content-main #carousel2 .carousel-inner {
    height: 168px;
}
.content-main #carousel2 .carousel-inner .item {
    margin: 0 9px;
}
.content-main #carousel2 .carousel-inner .item:first-child {
    margin-left: 0;
}
.content-main #carousel2 .carousel-inner .item img {
    height: 168px;
}
.catalog {
    padding-top: 70px;
}
.catalog .nav.nav-tabs {
    margin-left: 2px;
}
.content-main #carousel3 .carousel-inner {
    margin-left: -27px;
}
.content-main #carousel3 .carousel-inner .item {
    margin: 0 27px 0 28px;
}
.main-news {
    margin-bottom: 50px;
}
.preim ul li.preim1 {
    background-position: 39px 0;
    margin-right: 40px;
    padding-left: 2px;
}
.preim ul li.preim2 {
    background-position: -296px 0;
    margin-right: 44px;
    width: 175px;
}
.preim ul li.preim3 {
    background-position: -587px 0;
    width: 205px;
}
.preim ul li.preim4 {
    margin-left: 44px;
}
footer {
    margin-top: 94px;
}
.podp {
    margin-left: 62px;
}
.nav-block .contacts {
    width: 328px;
}
.nav-block-inner nav {
    width: auto;
}
.nav-block-inner nav .li {
    margin-right: 167px;
}
.nav-block-inner nav .li:first-child {
    display: none;
}
/* inner product */
.product-common .photo-part {
    padding-top: 29px;
    width: 361px;
    height: 494px;
}
.big-img img {
    height: 301px;
}
.product-common .photo-part .big-img .lupa {
    background-position: 141px -95px;
    margin-top: 20px;
}
.product-common .photo-part .big-img .product-tile-sale {
    right: 72px;
}
.product-common .photo-part .carousel.product {
    width: 304px;
}
.product-common .photo-part .carousel.product .carousel-outer {
    width: 222px;
}
.product-common .info-part {
    padding: 23px 0 0 30px;
    width: 569px;
}
.product-common .info-part .soc {
    bottom: 31px;
    right: 199px;
}
.inner-product.inner-catalog .nav.nav-tabs {
    margin: -46px auto 29px;
}
.inner-product.inner-catalog .nav.nav-tabs li a, .inner-product.inner-catalog .nav.nav-tabs li.active a {
    width: 239px;
}
.inner-product.inner-catalog .nav.nav-tabs li a {
    width: 240px;
}
.inner-product.inner-catalog .nav.nav-tabs li:last-child a {
    width: 239px;
}
.inner-product.inner-catalog .nav.nav-tabs li:first-child a {
    width: 239px;
}
.inner-product.inner-catalog .tab-content .left-part {
    width: 438px;
}
.inner-product.inner-catalog .tab-content .right-part {
    width: 478px;
}
/* inner product */
    
/* inner catalog */
.inner-catalog .catalog-inner {
    width: 721px;
    padding-top: 1px;
}
.inner-catalog.container {
    width: 720px;
}
.inner-catalog .sorting {
    margin-left: 200px;
}
.inner-catalog .catalog-inner .item.item-big {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-big a {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-big a img {
    width: 100%;
}
.inner-catalog .catalog-inner .item.item-big .name {
    bottom: 52px;
    width: 199px;
}
.inner-catalog .catalog-inner .item.item-big .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-big .price span {
    font-size: 14px;
}
.inner-catalog .catalog-inner .item.item-big .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.inner-catalog .catalog-inner .item.item-big .economy {
    display: none;
}
.inner-catalog .catalog-inner .item.item-medium {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-medium a {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-medium a img {
    width: 100%;
}
.inner-catalog .catalog-inner .item.item-medium .name {
    bottom: 52px;
    width: 199px;
}
.inner-catalog .catalog-inner .item.item-medium .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-medium .price span {
    font-size: 14px;
}
.inner-catalog .catalog-inner .item.item-medium .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.inner-catalog .catalog-inner .item.item-medium .product-tile-sale {
    display: none;
}

.inner-catalog .catalog-inner .item .dop-thing.hurry-up {
    right: 20px;
}
/* inner catalog */

/* inner search */
.inner_search .search-container input {
    width: 923px;
}
/* inner search */
    
/* inner actions */
.inner_actions .inner-content-inner ul {
    margin: 0 0 -7px -7px;
    width: 988px;
}
.inner_actions .inner-content-inner ul .item {
    margin: 0 9px 17px 8px;
}
.inner_actions .inner-content-inner ul .item img {
    height: 168px;
}
.inner-content.inner_actions {
    margin-bottom: -94px;
}
/* inner actions */
    
/* inner news */
.inner-content.news {
    margin-bottom: -94px;
}
.news .news-inner h1 {
    margin: 0 0 12px;
}
.news .news-inner ul {
    margin: 0 0 13px -28px;
    width: 1014px;
}
.news .news-inner ul li, .news .news-inner .item {
    margin: 0 27px 55px 28px;
}
/* inner news */

/* inner profile */
.inner_profile .col-set .col-1, .inner_profile .col-set .col-2, .inner_profile .col-set .col-3 {
    width: 304px;
}
.inner_profile .col-set .col-1 .box, .inner_profile .col-set .col-2 .box, .inner_profile .col-set .col-3 .box {
    width: 305px;
}
.inner_profile .col-set .col-1 .contact-information .box-content p span, .inner_profile .col-set .col-2 .contact-information .box-content p span, .inner_profile .col-set .col-3 .contact-information .box-content p span {
    width: 106px;
}
.inner_profile .col-set .col-1 .newsletter .box-content input[type="text"], .inner_profile .col-set .col-2 .newsletter .box-content input[type="text"], .inner_profile .col-set .col-3 .newsletter .box-content input[type="text"] {
    width: 229px;
}
/* inner profile */
    
/* inner compare */
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 721px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 720px;
}
.inner-compare .acsesorises.compare-page .compare-table-block {
    width: 960px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 960px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    width: 225px;
}
/* inner compare */
    
    
    
/* 961 - 1201 ----------------------------  */
}

@media screen and (min-width: 721px) and (max-width: 960px) {
/* ----------------------------  */  

.top-blue-line .top-blue-line-inner,
.top-info-line,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.content-main #carousel3 .carousel-outer,
.preim,
footer .footer-inner-top-line,
.nav-block .nav-block-inner,
.copyright,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner {
    width: 721px;
}
header {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
}

.phone-menu {
    display: block;
    top: 22px;
}
.main-catalog ul {
    height: 52px;
    overflow: hidden;
}
.carousel-caption {
    margin: 0 auto 0 -360px;
    width: 720px;
}
.top-blue-line {
    display: none;
}
    
.top-info-line .form-search {
    display: none;
}
.top-info-line .phone-block {
    display: none;
}
.top-info-line .cart-block {
    top: 19px;
    width: 24px;
}
.top-info-line .cart-block span {
    display: none;
}
.top-info-line .cart-block a {
    color: #fff;
}
.cart-block b {
    color: #000;
    font-size: 21px;
    font-weight: normal;
}
.top-info-line .logo {
    height: 42px;
    left: 50%;
    margin-left: -114px;
    top: 11px;
    width: 228px;
}
.top-info-line .logo > img {
    margin-top: -106px;
}
.top-info-line {
    height: 65px;
    margin: 0 auto;
}
.main-catalog {
    display: none;
}
#carousel1 .carousel-inner {
    height: 348px;
}
.carousel-caption {
    top: 86px;
}
.carousel-caption .header {
    font-size: 30px;
    letter-spacing: -0.2px;
}
.carousel-caption .text {
    font-size: 13px;
    line-height: 21px;
    margin: 3px 0 16px;
    width: 344px;
}
.carousel-caption .red-button {
    margin-left: 0;
    font-size: 11px;
    letter-spacing: 0.9px;
    padding: 13px 14px 12px 15px;
}
.carousel-indicators {
    bottom: 44px;
}
.content-main #carousel2 {
    margin: -42px auto 0;
}
.content-main #carousel2 .carousel-outer {
    height: 190px;
}
.content-main #carousel2 .carousel-inner {
    height: 190px;
    margin-left: -11px;
}
.content-main #carousel2 .carousel-inner .item {
    margin: 0 12px;
}
.content-main #carousel2 .carousel-indicators {
    top: 195px;
    display: block;
}
#carousel2 .carousel-indicators li {
    background-color: #666;
    border: 2px solid #666;
    height: 7px;
    margin: 1px 4px;
    width: 7px;
}
#carousel2 .carousel-indicators li:hover {
    background: none repeat scroll 0 0 transparent;
}
#carousel2 .carousel-indicators .active {
    background-color: transparent;
    border: 2px solid #d8192b; /* @red */
    height: 10px;
    margin: 0 1px;
    width: 10px;
}
.content-main #carousel2 .carousel-inner .item img {
    height: 190px;
}
.catalog {
    padding-top: 79px;
}
.catalog .nav.nav-tabs {
    margin-left: 19px;
}
.catalog-inner .item.item-big {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-big a {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-big a img {
    width: 100%;
}
.catalog-inner .item.item-big .name {
    bottom: 52px;
    width: 199px;
}
.catalog-inner .item.item-big .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.catalog-inner .item.item-big .price span {
    font-size: 14px;
}
.catalog-inner .item.item-big .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.catalog-inner .item.item-big .economy {
    display: none;
}
.catalog-inner .item.item-medium {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-medium a {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-medium a img {
    width: 100%;
}
.catalog-inner .item.item-medium .name {
    bottom: 52px;
    width: 199px;
}
.catalog-inner .item.item-medium .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.catalog-inner .item.item-medium .price span {
    font-size: 14px;
}
.catalog-inner .item.item-medium .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.catalog-inner .item.item-medium .product-tile-sale {
    display: none;
}
.catalog-inner .item .dop-thing.hurry-up {
    right: 20px;
}
.content-main #carousel3 .carousel-outer {
    width: 592px;
}
.content-main #carousel3 .carousel-inner {
    margin-left: -7px;
}
.content-main #carousel3 .carousel-inner .item {
    margin: 0 11px;
}
.main-news {
    margin-bottom: 50px;
    margin-top: 38px;
}
.preim h2 {
    margin-bottom: 22px;
}
.preim ul li.preim1 {
    background-position: 41px 0;
    margin-left: 63px;
    margin-right: 106px;
    padding-left: 2px;
    width: 232px;
}
.preim ul li.preim2 {
    background-position: -268px 0;
    margin-bottom: 46px;
    margin-right: 44px;
    width: 230px;
}
.preim ul li.preim3 {
    background-position: -565px 0;
    margin-left: 44px;
    width: 249px;
}
.preim ul li.preim4 {
    margin-left: 126px;
}
footer {
    margin-top: 94px;
}
.podp {
    float: right;
    margin: 0px;
}
.money {
    display: none;
}
.nav-block .nav-block-inner {
    padding-top: 38px;
}
.nav-block .contacts {
    float: none;
    left: 50%;
    margin-left: -164px;
    position: relative;
    text-align: center;
    width: 328px;
}
.nav-block .contacts .logo {
    margin-left: 51px;
}
.nav-block .contacts .phone-block {
    margin-bottom: 17px;
    margin-top: 19px;
}
.nav-block-inner nav {
    display: none;
}
.nav-block .nav-block-inner {
    padding-bottom: 37px;
}
.copyright {
    padding: 18px 0 21px;
}
/* inner product */
.product-common .photo-part {
    border-bottom: 1px solid #d8dadf;
    border-right: none;
    height: auto;
    padding-top: 38px;
    width: 100%;
}
.product-common .photo-part .big-img .lupa {
    display: none;
}
.product-common .photo-part .big-img .product-tile-sale {
    right: 72px;
}
.product-common .photo-part .carousel.product {
    width: 369px;
    margin: 29px auto 0;
}
.product-common .photo-part .carousel.product .carousel-outer {
    width: 302px;
}
#carousel4 .carousel-control.right {
    right: 11px;
}
.product-common .info-part {
    padding: 23px 0 107px 89px;
    width: 569px;
}
.product-common .info-part .cart-thing {
    margin-left: -89px;
    margin-top: -2px;
    padding-left: 89px;
    padding-top: 32px;
    width: 632px;
}
.product-common .info-part .soc {
    bottom: 40px;
    right: 257px;
}
.product-common {
    margin-bottom: 29px;
}
.tab-content {
    padding-top: 41px;
}
.inner-product.inner-catalog .tab-content .left-part {
    width: auto;
    float: none;
}
.inner-product.inner-catalog .decription {
    border-bottom: none;
}
.inner-product.inner-catalog .nav.nav-tabs {
    display: none;
}

.inner-product.inner-catalog .tab-content .right-part {
    width: auto;
    float: none;
    margin-top: 15px;
}
.inner-product.inner-catalog .tab-content .watch-more {
    display: none;
}
.inner-product.inner-catalog .tab-content .closed-info.closed-docs {
    margin-bottom: 30px;
    margin-top: 23px;
}
.inner-product.inner-catalog .tab-content .grey-button {
    display: inline;
}
.inner-product.inner-catalog .tab-content .right-part .grey-button,
.inner-product.inner-catalog .review-part .grey-button {
    display: block;
    float: left;
    margin-top: 2px;
}
.inner-product.inner-catalog .review-part {
    border-top: medium none;
    padding-bottom: 42px;
    padding-top: 46px;
}
.inner-product.inner-catalog .acsesorises {
    border-top: medium none;
    padding-top: 46px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-indicators {
    display: block;
    top: 297px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise {
    margin-bottom: 73px;
}
.product-common .photo-part .big-img .product-tile-sale {
    right: 257px;
    bottom: -6px;
}
/* inner product */
    
/* inner catalog */
.inner-catalog .catalog-inner {
    width: 721px;
    padding-top: 1px;
}
.inner-catalog.container {
    width: 720px;
}
.inner-catalog .filter {
    display: none;
}
.filtr-button {
    display: block;
    margin-top: -4px;
    padding: 11px 43px 11px 41px;
}
.inner-catalog .sorting {
    float: right;
    margin-bottom: 29px;
    margin-left: 0;
    width: 322px;
}
/* inner catalog */

/* inner search */
.inner_search .search-container input {
    width: 683px;
}
/* inner search */
    
/* inner actions */
.inner-content.inner_actions {
    margin-bottom: -94px;
}
.inner_actions .inner-content-inner h1 {
    margin: 0 0 12px 0px;
}
.inner_actions .inner-content-inner ul {
    margin: 0 0 -7px -10px;
    width: 741px;
}
.inner_actions .inner-content-inner ul .item {
    margin: 0 11px 22px;
}
.inner_actions .inner-content-inner ul .item img {
    height: 190px;
}
/* inner actions */
    
/* inner news */
.inner-content.news {
    margin-bottom: -94px;
}
.news .news-inner h1 {
    margin: 0 0 12px;
    text-align: center;
}
.news .news-inner ul {
    margin: 0 auto 13px;
    width: 674px;
}
.news .news-inner ul li, .news .news-inner .item {
    margin: 0 27px 55px;
}
/* inner news */

/* inner profile */
.inner_profile .col-set .col-1, .inner_profile .col-set .col-2, .inner_profile .col-set .col-3 {
    width: 304px;
}
.inner_profile .col-set .col-1 .box, .inner_profile .col-set .col-2 .box, .inner_profile .col-set .col-3 .box {
    width: 305px;
}
.inner_profile .col-set .col-1 .contact-information .box-content p span, .inner_profile .col-set .col-2 .contact-information .box-content p span, .inner_profile .col-set .col-3 .contact-information .box-content p span {
    width: 106px;
}
.inner_profile .col-set .col-1 .newsletter .box-content input[type="text"], .inner_profile .col-set .col-2 .newsletter .box-content input[type="text"], .inner_profile .col-set .col-3 .newsletter .box-content input[type="text"] {
    width: 229px;
}
/* inner profile */
    
/* inner compare */
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 481px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 480px;
}
.inner-compare .acsesorises.compare-page .compare-table-block {
    width: 720px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 720px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    width: 225px;
}
/* inner compare */
    
/* inner cart */
.inner-cart .inner-cart-inner .cart {
    padding: 23px 0 30px;
}
.cart-items {
    width: 660px;
    margin: 0 auto 16px;
}
.cart-item .close-item {
    border-radius: 26px;
    height: 26px;
    width: 26px;
}
.cart-items .cart-item .product-info-container .c-name {
    float: none;
    margin: 0 10px 0 0;
    width: 400px;
}
.cart-items .cart-item .product-info-container .c-qty {
    margin: 18px 0 0 -24px;
    width: 177px;
}
.cart-items .cart-item .product-info-container .c-price {
    margin: 20px 0 0;
    width: 171px;
}
.cart-items .cart-item .product-info-container .c-tprice {
    margin: 20px 0 0;
}
.cart-items .price-container .left-container input[type="text"] {
    width: 110px;
}
.inner-cart .inner-cart-inner .cart .checkout-container {
    width: 660px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 114px 31px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .l-cart-item {
    padding: 26px 114px 0;
}
.inner-cart3 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 165px 3px;
}

/* inner cart */
    
    
/* 721 - 960 ----------------------------  */  
}

@media only screen and (max-width: 721px) { 
/* ----------------------------  */  

.top-blue-line .top-blue-line-inner,
.top-info-line,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.content-main #carousel3 .carousel-outer,
.preim,
footer .footer-inner-top-line,
.nav-block .nav-block-inner,
.copyright,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner {
    width: 481px;
}
.phone-menu {
    display: block;
}
.phone-nav-tabs {
    display: block;
}

.jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 478px;
}
header {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
}
.main-catalog ul {
    height: 52px;
    overflow: hidden;
}
.carousel-caption {
    margin: 0 auto 0 -238px;
    width: 458px;
}
.top-blue-line {
    display: none;
}
.top-info-line .form-search {
    display: none;
}
.top-info-line .phone-block {
    display: none;
}
.top-info-line .cart-block {
    top: 13px;
    width: 24px;
}
.top-info-line .cart-block span {
    display: none;
}
.top-info-line .cart-block a {
    color: #fff;
}
.cart-block b {
    color: #000;
    font-size: 21px;
    font-weight: normal;
}
.top-info-line .logo {
    height: 42px;
    left: 50%;
    margin-left: -105px;
    top: 10px;
    width: 228px;
}
.top-info-line .logo > img {
    margin-top: -228px;
}
.top-info-line {
    height: 53px;
    margin: 0 auto;
}
phone-menu {
    display: block;
}
.main-catalog {
    display: none;
}
#carousel1 .carousel-inner {
    height: 241px;
}
.carousel-caption {
    top: 45px;
}
.carousel-caption .header {
    font-size: 30px;
    letter-spacing: -0.2px;
}
.carousel-caption .text {
    font-size: 13px;
    line-height: 21px;
    margin: 3px 0 16px;
    width: 344px;
}
.carousel-caption .red-button {
    margin-left: 0;
    font-size: 11px;
    letter-spacing: 0.9px;
    padding: 13px 14px 12px 15px;
}
.carousel-indicators {
    bottom: 22px;
}
.content-main #carousel2 {
    margin: -26px auto 0;
}
.content-main #carousel2 .carousel-outer {
    height: 210px;
    width: 385px;
}
.content-main #carousel2 .carousel-inner {
    height: 210px;
    margin-left: 0;
}
.content-main #carousel2 .carousel-inner .item {
    margin: 0;
}
.content-main #carousel2 .carousel-indicators {
    display: block;
    top: 202px;
}
#carousel2 .carousel-indicators li {
    background-color: #666;
    border: 2px solid #666;
    height: 7px;
    margin: 1px 4px;
    width: 7px;
}
#carousel2 .carousel-indicators li:hover {
    background: none repeat scroll 0 0 transparent;
}
#carousel2 .carousel-indicators .active {
    background-color: transparent;
    border: 2px solid #d8192b; /* @red */
    height: 10px;
    margin: 0 1px;
    width: 10px;
}
.content-main #carousel2 .carousel-inner .item img {
    height: 210px;
}
.catalog {
    padding-top: 50px;
}
.catalog .nav.nav-tabs {
    display: none;
}
.catalog-inner .item.item-big {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-big a {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-big a img {
    width: 100%;
}
.catalog-inner .item.item-big .name {
    bottom: 52px;
    width: 199px;
}
.catalog-inner .item.item-big .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.catalog-inner .item.item-big .price span {
    font-size: 14px;
}
.catalog-inner .item.item-big .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.catalog-inner .item.item-big .economy {
    display: none;
}
.catalog-inner .item.item-medium {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-medium a {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-medium a img {
    width: 100%;
}
.catalog-inner .item.item-medium .name {
    bottom: 52px;
    width: 199px;
}
.catalog-inner .item.item-medium .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.catalog-inner .item.item-medium .price span {
    font-size: 14px;
}
.catalog-inner .item.item-medium .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.catalog-inner .item.item-medium .product-tile-sale {
    display: none;
}
.catalog-inner .item .dop-thing.hurry-up {
    right: 20px;
}
.content-main #carousel3 .carousel-outer {
    width: 293px;
}
.content-main #carousel3 .carousel-inner {
    margin-left: -7px;
}
.content-main #carousel3 .carousel-inner .item {
    margin: 0 11px;
}
.main-news {
    margin-bottom: 33px;
    margin-top: 47px;
}
.preim h2 {
    margin-bottom: 22px;
}
.preim ul li.preim1 {
    background-position: 41px 0;
    margin-left: -16px;
    margin-right: 28px;
    padding-left: 2px;
    width: 232px;
}
.preim ul li.preim2 {
    background-position: -268px 0;
    margin-bottom: 46px;
    margin-right: 0;
    width: 230px;
}
.preim ul li.preim3 {
    background-position: -565px 0;
    margin-left: -23px;
    width: 249px;
}
.preim ul li.preim4 {
    margin-left: 35px;
}
footer {
    margin-top: 89px;
}
.soc {
    display: none;
}
.podp {
    float: none;
    left: 5px;
    margin: 0 auto;
    position: relative;
    width: 349px;
}
.money {
    display: none;
}
.nav-block .nav-block-inner {
    padding-top: 38px;
}
.nav-block .contacts {
    float: none;
    left: 50%;
    margin-left: -164px;
    position: relative;
    text-align: center;
    width: 328px;
}
.nav-block .contacts .logo {
    margin-left: 51px;
}
.nav-block .contacts .phone-block {
    margin-bottom: 17px;
    margin-top: 19px;
}
.nav-block-inner nav {
    display: none;
}
.nav-block .nav-block-inner {
    padding-bottom: 37px;
}
.copyright {
    padding: 18px 0 21px;
}
/* inner product */
.product-common .photo-part {
    border-bottom: 1px solid #d8dadf;
    border-right: none;
    height: auto;
    padding-top: 38px;
    width: 100%;
}
.product-common .photo-part .big-img .lupa {
    display: none;
}
.product-common .photo-part .big-img .product-tile-sale {
    right: 72px;
}
.product-common .photo-part .carousel.product {
    width: 369px;
    margin: 29px auto 0;
}
.product-common .photo-part .carousel.product .carousel-outer {
    width: 302px;
}
#carousel4 .carousel-control.right {
    right: 11px;
}
.product-common .info-part {
    padding: 23px 0 107px 89px;
    width: 569px;
}
.product-common .info-part .cart-thing {
    margin-left: -89px;
    margin-top: -2px;
    padding-left: 89px;
    padding-top: 32px;
    width: 632px;
}
.product-common .info-part .soc {
    bottom: 40px;
    right: 257px;
}
.product-common {
    margin-bottom: 29px;
}
.tab-content {
    padding-top: 27px;
}
.inner-product.inner-catalog .tab-content .left-part {
    width: auto;
    float: none;
}
.inner-product.inner-catalog .decription {
    border-bottom: none;
}
.inner-product.inner-catalog .nav.nav-tabs {
    display: none;
}

.inner-product.inner-catalog .tab-content .right-part {
    width: auto;
    float: none;
    margin-top: 15px;
}
.inner-product.inner-catalog .tab-content .watch-more {
    display: none;
}
.inner-product.inner-catalog .tab-content .closed-info.closed-docs {
    margin-bottom: 30px;
    margin-top: 23px;
}
.inner-product.inner-catalog .tab-content .grey-button {
    display: inline;
}
.inner-product.inner-catalog .tab-content .right-part .grey-button,
.inner-product.inner-catalog .review-part .grey-button {
    display: block;
    float: left;
    margin-top: 2px;
}
.inner-product.inner-catalog .review-part {
    border-top: medium none;
    padding-bottom: 42px;
    padding-top: 46px;
}
.inner-product.inner-catalog .acsesorises {
    border-top: medium none;
    padding-top: 46px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-indicators {
    display: block;
    top: 297px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise {
    margin-bottom: 73px;
}
.product-common .photo-part .big-img .product-tile-sale {
    right: 257px;
    bottom: -6px;
}
/* inner product */
    
/* inner catalog */

.inner-catalog .catalog-inner {
    width: 481px;
    padding-top: 1px;
}
.inner-catalog .decription {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-top: 35px;
}
.inner-catalog .breadcrumps {
    display: none;
}
.inner-catalog .decription p {
    display: none;
}
.inner-catalog.container {
    width: 480px;
}
.inner-catalog .filter {
    display: none;
}
.filtr-button {
    display: block;
    float: none;
    margin-bottom: 19px;
    margin-top: -4px;
    padding: 13px 43px 12px 41px;
    text-align: center;
}
.inner-catalog .sorting {
    float: none;
    margin-bottom: 29px;
    margin-left: 0;
    width: 100%;
}
.inner-catalog .sorting .sort-text {
    display: block;
    float: none;
    margin-bottom: 6px;
    margin-top: 0;
}
.jq-selectbox.jqselect.select-class {
    margin: 0;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__select {
    line-height: 37px;
    height: 36px;
    width: 437px;
}
.jq-selectbox__trigger-arrow {
    right: 14px;
    top: 17px;
}
.inner-catalog ol.nums {
    margin: 17px 0 0 -10px;
}
/* inner catalog */

/* inner search */
.inner_search .search-container input {
    width: 443px;
}
/* inner search */
    
/* inner actions */
.inner-content.inner_actions {
    margin-bottom: -94px;
}
.inner_actions .inner-content-inner h1 {
    margin: 0 0 12px 0px;
}
.inner_actions .inner-content-inner ul {
    margin: 0 0 -7px -10px;
    width: 741px;
}
.inner_actions .inner-content-inner ul .item {
    margin: 0 11px 22px;
}
.inner_actions .inner-content-inner ul .item img {
    height: 190px;
}
/* inner actions */
    
/* inner news */
.inner-content.news {
    margin-bottom: -94px;
}
.news .news-inner h1 {
    margin: 0 0 12px;
    text-align: center;
}
.news .news-inner ul {
    margin: 0 auto 13px;
    width: 674px;
}
.news .news-inner ul li, .news .news-inner .item {
    margin: 0 27px 55px;
}
/* inner news */

/* inner profile */
.inner_profile .col-set .col-1, .inner_profile .col-set .col-2, .inner_profile .col-set .col-3 {
    width: 304px;
}
.inner_profile .col-set .col-1 .box, .inner_profile .col-set .col-2 .box, .inner_profile .col-set .col-3 .box {
    width: 305px;
}
.inner_profile .col-set .col-1 .contact-information .box-content p span, .inner_profile .col-set .col-2 .contact-information .box-content p span, .inner_profile .col-set .col-3 .contact-information .box-content p span {
    width: 106px;
}
.inner_profile .col-set .col-1 .newsletter .box-content input[type="text"], .inner_profile .col-set .col-2 .newsletter .box-content input[type="text"], .inner_profile .col-set .col-3 .newsletter .box-content input[type="text"] {
    width: 229px;
}
/* inner profile */
    
/* inner compare */
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 481px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 480px;
}
.inner-compare .acsesorises.compare-page .compare-table-block {
    width: 720px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 720px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    width: 225px;
}
/* inner compare */
    
/* inner cart */
.inner-cart .inner-cart-inner .cart {
    padding: 23px 0 30px;
}
.cart-items {
    width: 660px;
    margin: 0 auto 16px;
}
.cart-item .close-item {
    border-radius: 26px;
    height: 26px;
    width: 26px;
}
.cart-items .cart-item .product-info-container .c-name {
    float: none;
    margin: 0 10px 0 0;
    width: 400px;
}
.cart-items .cart-item .product-info-container .c-qty {
    margin: 18px 0 0 -24px;
    width: 177px;
}
.cart-items .cart-item .product-info-container .c-price {
    margin: 20px 0 0;
    width: 171px;
}
.cart-items .cart-item .product-info-container .c-tprice {
    margin: 20px 0 0;
}
.cart-items .price-container .left-container input[type="text"] {
    width: 110px;
}
.inner-cart .inner-cart-inner .cart .checkout-container {
    width: 660px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 114px 31px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .l-cart-item {
    padding: 26px 114px 0;
}
.inner-cart3 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 165px 3px;
}

/* inner cart */
    
 
.wrapper.right-position {
    width: 540px;
}   
/* < 721----------------------------  */  
}

@media only screen and (max-width: 481px) { 
/* ----------------------------  */  

.top-blue-line .top-blue-line-inner,
.top-info-line,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.content-main #carousel3 .carousel-outer,
.preim,
footer .footer-inner-top-line,
.nav-block .nav-block-inner,
.copyright,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner {
    width: 360px;
}
    

#carousel1 .carousel-inner {
    height: 192px;
}
.carousel-indicators {
    bottom: 1px;
}
.carousel-caption {
    bottom: auto;
    margin: 0 auto 0 -177px;
    top: 45px;
    width: 343px;
}
.carousel-caption .red-button {
    display: none;
}
.content-main #carousel2 {
    display: none;
}
.catalog {
    padding-top: 25px;
    width: 360px;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__select {
    width: 315px;
}
.catalog-inner {
    margin: 2px auto 0;
    width: 240px;
}
.inner-catalog .catalog-inner {
    width: 360px;
}
.inner-catalog.container{
    width: 240px;
    float: none;
}
.filtr-button {
    width: 276px;
}
.main-news {
    margin-bottom: 33px;
    margin-top: 37px;
}
.content-main #carousel3 .carousel-outer {
    width: 295px;
}
.preim ul li.preim1 {
    background-position: 41px -22px;
    margin-bottom: 24px;
    margin-left: 61px;
    margin-right: 28px;
    padding-left: 2px;
    padding-top: 93px;
    width: 232px;
}
.preim ul li.preim2 {
    margin-bottom: 32px;
    margin-left: 60px;
}
.preim ul li.preim3 {
    margin-left: 53px;
}
.preim ul li.preim4 {
    margin-left: 79px;
    margin-top: 45px;
}
.copyright {
    line-height: 6px;
    padding: 18px 0 45px;
}
.copyright .madeby {
    position: relative;
    top: 27px;
    float: none;
    display: block;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 356px;
}
/* < 481----------------------------  */  

.wrapper.right-position {
    width: 420px;
}  
}