@media only screen and (max-width: 496px) {
/* ----------------------------  */  

.top-blue-line .top-blue-line-inner,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.preim,
footer .footer-inner-top-line,
.nav-block .nav-block-inner,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner {
    width: 320px;
}
    
.top-info-line .logo > img {
    margin-top: -326px;
}
.top-info-line .logo {
    margin-left: -100px;
}
.carousel-caption {
    margin: 0 auto 0 -140px;
    width: 280px;
}
.carousel-caption .text {
    width: auto;
}
.catalog {
    width: 280px;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__select {
    width: 235px;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 276px;
}
.catalog-inner {
    margin: 2px auto 0;
    width: 240px;
}
.inner-catalog .catalog-inner {
    width: 280px;
}
.inner-catalog.container{
    width: 240px;
    float: none;
}
.filtr-button {
    width: 276px;
}
.main-news {
    margin-bottom: 33px;
    margin-top: 37px;
}
.content-main #carousel3 .carousel-control.left, 
.content-main #carousel3 .carousel-control.right {
    display: none;
}
.content-main #carousel3 .carousel-indicators {
    bottom: auto;
    top: 380px;
}
.preim ul li.preim1 {
    background-position: 41px -22px;
    float: none;
    margin: 0 auto 24px;
    padding-left: 2px;
    padding-top: 93px;
    width: 232px;
}
.preim ul li.preim2 {
    float: none;
    margin: 0 auto 32px;
}
.preim ul li.preim3 {
    margin: 0 auto;
    float: none;
}
.preim ul li.preim4 {
    margin: 45px auto 0px;
    float: none;
}
footer .footer-inner-top-line {
    padding: 0;
    width: 300px;
}
.podp input[type="text"] {
    width: 182px;
}
/* < 481----------------------------  */  

.wrapper.right-position {
    width: 420px;
}  
.inner-catalog .inner {
    width: 280px;
}
    
    
.inner-product.inner-catalog .inner {
    padding: 0 20px;
    position: relative;
    width: auto;
}

.product-common .photo-part .big-img {
     display: table;
    height: 250px;
    margin: 30px 0 0;
    padding: 0 0 10px;
    width: 100%;
}
.product-common .photo-part .big-img a {
    display: table-cell;
    height: 250px;
    width: 100%;
}
.product-common .photo-part .big-img img {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
}
.inner-catalog.inner-product .product-common .photo-part .big-img .product-tile-sale {
    left: 50%;
    margin-left: -105px;
    right: auto;
}
.product-common .info-part {
    width: 330px;
}
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-model .jq-selectbox__select, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-link .jq-selectbox__select, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-garant .jq-selectbox__select {
    width: 190px;
}
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-model .jq-selectbox__dropdown, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-link .jq-selectbox__dropdown, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-garant .jq-selectbox__dropdown {
    width: 231px;
}
.product-common .info-part .cart-thing {
    margin-left: -20px;
    padding-left: 20px;
    width: auto;
}
.product-common .info-part .params dt {
    width: 133px;
}
.product-common .info-part .cart-thing .col1 .new {
    margin-left: 0;
    margin-right: 10px;
}
.product-common .info-part .cart-thing .col2 {
    padding-right: 20px;
    width: auto;
}
.product-common .info-part .cart-thing .col3 {
    padding-right: 20px;
    width: auto;
}
.product-common .info-part .cart-thing .col2 .red-button {
    background-position: -213px -215px;
}
.product-common .info-part .cart-thing .col3 .buy-credit {
    display: block;
    margin: 0 auto;
    width: 105px;
}
.product-common .info-part .cart-thing .eco {
    left: 20px;
}
.product-common .info-part .cart-thing .col2 .eco {
    left: auto;
    right: 20px;
}
.product-common .info-part .add2fav-link {
    margin-left: 0;
}
.product-common .info-part .compare-link {
    float: right;
    margin-left: 0;
    margin-right: 30px;
}
.product-common .info-part .soc {
    right: 69px;
}
.inner-product.inner-catalog .tab-content .left-part {
    padding-right: 0;
}
.inner-product.inner-catalog .tab-content .closed-info.closed-docs {
    height: auto;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise {
    margin: 0 auto 64px;
    width: 241px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner {
    width: 240px;
}
.inner-product.inner-catalog .acsesorises h3 {
    text-align: center;
}
    
    
    
.cart-items {
    width: 320px;
}
.cart-items .cart-item .product-info-container .c-name {
    float: left;
    margin: 0 10px 0 0;
    width: 125px;
}
.cart-items .cart-item .product-info-container .c-qty {
    margin: 18px 0 0 16px;
}
.cart-items .price-container .left-container input[type="text"] {
    width: 175px;
}
.cart-items .price-container {
    padding: 10px 15px 10px 11px;
}
.cart-items .price-container .right-container {
    display: block;
    float: none;
    width: 360px;
}
.inner-cart .inner-cart-inner .cart .checkout-container {
    padding: 0 20px;
    width: auto;
}
.inner-cart .inner-cart-inner .cart .checkout-container .buy, .inner-cart .inner-cart-inner .cart .checkout-container .checkout {
    width: auto;
}
.inner-cart .inner-cart-inner .cart .checkout-container .buy {
    width: auto;
}
    
    
 .cart-items .price-container .left-container {
    float: none;
}
.cart-items .price-container .left-container input[type="text"] {
    width: 140px;
}
.cart-items .price-container .right-container {
    display: block;
    float: none;
    width: 300px;
}
    
    
.inner-cart2 .inner-cart-inner .cart .cart-items {
    width: 358px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .jq-selectbox.jqselect.select-class .jq-selectbox__select {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 300px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .name {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .email, .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .city {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .phone, .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .index {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .payment {
    width: 356px;
}

    
    
    
.inner_search .search-container input {
    width: 243px;
}
    
    
 .inner-product.inner-catalog .acsesorises {
    border-top: medium none;
    padding-top: 42px;
}   
    
    
.inner-compare .acsesorises.compare-page h1 {
    float: none;
}
.inner-compare .acsesorises.compare-page .red-button {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    float: none;
    margin-bottom: 10px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 241px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 240px;
}
.inner-compare .acsesorises.compare-page .compare-table-block {
    width: auto;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: auto;
    display: block;
    float: none;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row {
    width: auto;
    display: block;
    float: none;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    text-align: left;
    width: auto;
    display: block;
    float: none;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell {
    width: auto;
    display: block;
    float: none;
}
    
.inner_profile .col-set .box.contact-information .box-content .edit,
.inner_profile .col-set .box.history .box-content .edit {
    margin-right: 23px;
}
.inner_profile .col-set .box .box-content .edit {
    float: none;
    text-align: center;
    width: auto;
    margin-right: 0;
}
.inner_profile .col-set .newsletter .box-content input[type="text"] {
    width: 241px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .name.error {
    width: 254px;
}
   
.product-common .photo-part .carousel.product {
    width: 287px;
}
.product-common .photo-part .carousel.product .carousel-outer {
    width: 219px;
}
.product-common .info-part {
    padding-left: 20px;
    width: auto;
}
.product-common .info-part .compare-link {
    margin-right: 20px;
}
.product-common .info-part .soc {
    left: 50%;
    margin-left: -100px;
    right: auto;
    width: 205px;
}
    
.inner-catalog .sorting {
    margin-left: -1px;
}
.filtr-button {
    margin-left: -1px;
    width: auto;
}
.inner-catalog ol.nums li.left, .inner-catalog ol.nums li.right {
    margin-left: 0;
    margin-right: 0;
}
}

@media only screen and (min-width: 397px) and (max-width: 497px) {
.product-common .photo-part .big-img {
     display: table;
    height: 340px;
    margin: 30px 0 0;
    padding: 0 0 10px;
    width: 100%;
}
.product-common .photo-part .big-img a {
    display: table-cell;
    height: 340px;
    width: 100%;
}
.product-common .photo-part .big-img img {
    height: auto;
    width: auto;
    max-height: 340px;
    max-width: 340px;
}    
}