@media screen and (min-width: 738px) and (max-width: 977px) {
    /* ----------------------------  */

    .pick-color-open {
        background-position: 14px 15px;
        padding: 13px 0 14px 48px;
        width: 0;
    }

    .top-blue-line .top-blue-line-inner,
    .top-info-line,
    .main-catalog ul,
    .content-main #carousel2-1 .carousel-outer,
    .catalog,
    .preim,
    .nav-block .nav-block-inner,
    .inner-catalog .inner,
    .inner-product.inner-catalog .nav.nav-tabs,
    .inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
    .inner_actions .inner-content-inner,
    .news .news-inner,
    .inner_profile .col-set,
    .inner-cart .inner-cart-inner {
        width: 721px;
    }
    header {
        box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
    }
    footer .footer-inner-top-line {
        width: auto;
        padding: 0px 20px;
    }

    .content-main #carousel3 .carousel-outer {
        width: 588px;
    }
    .phone-menu {
        display: block;
        top: 19px;
    }
    .phone-menu {
        background-position: -39px -974px;
        display: block;
        top: 19px;
        height: 22px;
        width: 26px;
    }
    .main-catalog ul {
        height: 52px;
        overflow: hidden;
    }
    .carousel-caption {
        margin: 0 auto 0 -360px;
        width: 720px;
    }
    .carousel-caption + .red-button {
        margin: 0 auto 0 -360px;
    }
    .top-blue-line {
        display: none;
    }

    .top-info-line .form-search {
        display: none;
    }
    .top-info-line .phone-block {
        display: none;
    }
    .top-info-line .cart-block {
        top: 19px;
        width: 24px;
    }
    .top-info-line .cart-block span {
        display: none;
    }
    .top-info-line .cart-block a {
        color: #fff;
    }
    .cart-block b {
        color: #000;
        font-size: 21px;
        font-weight: normal;
    }
    .top-info-line .logo {
        height: 44px;
        left: 50%;
        margin-left: -114px;
        top: 11px;
        width: 228px;
    }
    .top-info-line .logo > img {
        margin-top: -106px;
    }
    .top-info-line {
        height: 65px;
        margin: 0 20px;
        width: auto;
    }
    .main-catalog {
        display: none;
    }
    #carousel1 .carousel-inner {
        height: 348px;
    }
    #carousel1 {
        height: 348px;
    }
    #carousel1 .carousel-inner .item {
        height: 348px;
    }
    #carousel1 .carousel-inner .item img {
        height: 348px;
        left: 50%;
        margin-left: -480px;
        width: 960px;
        position: absolute;
        top: 0px;
    }
    #carousel1 .carousel-inner .item img.slider-img {
        display: none;
    }
    #carousel1 .carousel-inner .item img.slider-img3 {
        display: block;
    }
    .carousel-caption {
        padding-top: 106px;
    }
    .carousel-caption .header {
        font-size: 30px;
        letter-spacing: -0.2px;
    }
    .carousel-caption .text {
        font-size: 13px;
        line-height: 21px;
        margin: 3px 0 16px;
        width: 344px;
    }
    .carousel-caption + .red-button {
        font-size: 11px;
        letter-spacing: 0.9px;
        padding: 13px 14px 12px 15px;
        margin: -20px auto 0 -360px;
    }
    .carousel-indicators {
        bottom: 44px;
    }
    .content-main #carousel2-1 {
        margin: -42px auto 0;
    }
    .content-main #carousel2 {
        display: none;
    }
    .content-main #carousel2-1 {
        display: block;
    }
    .content-main #carousel2-1 .carousel-outer {
        height: 190px;
    }
    .content-main #carousel2-1 .carousel-inner {
        height: 190px;
        margin-left: -10px;
    }
    .content-main #carousel2-1 .carousel-indicators {
        top: 195px;
        display: block;
    }
    #carousel2-1 .carousel-indicators li {
        background-color: #666;
        border: 2px solid #666;
        height: 7px;
        margin: 1px 4px;
        width: 7px;
    }
    #carousel2-1 .carousel-indicators li:hover {
        background: none repeat scroll 0 0 transparent;
    }
    #carousel2-1 .carousel-indicators .active {
        background-color: transparent;
        border: 2px solid #d8192b; /* @red */
        height: 10px;
        margin: 0 1px;
        width: 10px;
    }
    .catalog {
        padding-top: 79px;
    }
    .catalog .nav.nav-tabs {
        margin-left: 19px;
    }
    .catalog-inner .item.item-big {
        height: 289px;
        width: 239px;
    }
    .catalog-inner .item.item-big a {
        height: 289px;
        width: 239px;
    }
    .catalog-inner .item.item-big a .img-inside {
        height: 167px;
        width: 170px;
    }
    .catalog-inner .item.item-big a img {
        width: 100%;
    }
    .catalog-inner .item.item-big .name {
        bottom: 52px;
        width: 199px;
    }
    .catalog-inner .item.item-big .price {
        bottom: 20px;
        font-size: 19px;
        width: 239px;
    }
    .catalog-inner .item.item-big .price span {
        font-size: 14px;
    }
    .catalog-inner .item.item-big .add2cart {
        height: 0px;
        left: 48px;
        top: 88px;
        width: auto;
    }
    .catalog-inner .item.item-big .add2cart:hover {
        height: 14px;
    }
    .catalog-inner .item.item-big .economy {
        display: none;
    }
    .catalog-inner .item.item-medium {
        height: 289px;
        width: 239px;
    }
    .catalog-inner .item.item-medium a {
        height: 289px;
        width: 239px;
    }
    .catalog-inner .item.item-medium a img {
        width: 100%;
    }
    .catalog-inner .item.item-medium .name {
        bottom: 52px;
        width: 199px;
    }
    .catalog-inner .item.item-medium .price {
        bottom: 20px;
        font-size: 19px;
        width: 239px;
    }
    .catalog-inner .item.item-medium .price span {
        font-size: 14px;
    }
    .catalog-inner .item.item-medium .add2cart {
        height: 0px;
        left: 48px;
        top: 88px;
        width: auto;
    }
    .catalog-inner .item.item-medium .add2cart:hover {
        height: 14px;
    }
    .catalog-inner .item.item-medium .product-tile-sale {
        display: none;
    }
    .catalog-inner .item .dop-thing.hurry-up {
        right: 20px;
    }
    .main-news {
        margin-bottom: 50px;
        margin-top: 38px;
    }
    .preim h2 {
        margin-bottom: 22px;
    }
    .preim ul li.preim1 {
        background-position: 41px 0;
        margin-left: 63px;
        margin-right: 106px;
        padding-left: 2px;
        width: 232px;
    }
    .preim ul li.preim2 {
        background-position: -268px 0;
        margin-bottom: 46px;
        margin-right: 44px;
        width: 230px;
    }
    .preim ul li.preim3 {
        background-position: -565px 0;
        margin-left: 44px;
        width: 249px;
    }
    .preim ul li.preim4 {
        margin-left: 126px;
    }
    footer {
        margin-top: 94px;
    }
    .podp {
        float: right;
        margin: 0px;
    }
    .money {
        display: none;
    }
    .nav-block .nav-block-inner {
        padding-top: 38px;
    }
    .nav-block .contacts {
        float: none;
        left: 50%;
        margin-left: -164px;
        position: relative;
        text-align: center;
        width: 328px;
    }
    .nav-block .contacts .logo {
        margin-left: 51px;
    }
    .nav-block .contacts .phone-block {
        margin-bottom: 17px;
        margin-top: 19px;
    }
    .nav-block-inner nav {
        display: none;
    }
    .nav-block .nav-block-inner {
        padding-bottom: 37px;
    }
    .copyright {
        padding: 18px 20px 21px;
        width: auto;
    }
    /* inner product */
    .product-common .photo-part {
        border-bottom: 1px solid #d8dadf;
        border-right: none;
        height: auto;
        width: 100%;
    }
    .product-common .photo-part .big-img {
        display: table;
        margin-left: 0;
        width: 100%;
        padding-bottom: 10px;
    }
    .product-common .photo-part .big-img a {
        width: 100%;
    }
    .product-common .photo-part .big-img .lupa {
        display: none;
    }
    .product-common .photo-part .big-img .product-tile-sale {
        right: 42px;
    }
    .product-common .photo-part .carousel.product {
        width: 369px;
        margin: 29px auto 0;
    }
    .product-common .photo-part .carousel.product .carousel-outer {
        width: 292px;
    }
    #carousel4 .carousel-control.right {
        right: 11px;
    }
    .product-common .info-part {
        padding: 23px 0 107px 89px;
        width: 569px;
    }
    .product-common .info-part .cart-thing {
        margin-left: -89px;
        margin-top: -2px;
        padding-left: 89px;
        padding-top: 32px;
        width: 632px;
    }
    .product-common .info-part .soc {
        bottom: 40px;
        right: 257px;
    }
    .product-common {
        margin-bottom: 29px;
    }
    .tab-content {
        padding-top: 41px;
    }
    .inner-product.inner-catalog .tab-content .left-part {
        width: auto;
        float: none;
    }
    .inner-product.inner-catalog .decription {
        border-bottom: none;
    }
    .inner-product.inner-catalog .nav.nav-tabs {
        display: none;
    }

    .inner-product.inner-catalog .tab-content .right-part {
        width: auto;
        float: none;
        margin-top: 15px;
    }
    .inner-product.inner-catalog .tab-content .watch-more {
        display: none;
    }
    .inner-product.inner-catalog .tab-content .closed-info.closed-docs {
        margin-bottom: 30px;
        margin-top: 23px;
    }
    .inner-product.inner-catalog .tab-content .grey-button {
        display: inline;
    }
    .inner-product.inner-catalog .tab-content .right-part .grey-button,
    .inner-product.inner-catalog .review-part .grey-button {
        display: block;
        float: left;
        margin-top: 2px;
    }
    .inner-product.inner-catalog .review-part {
        border-top: medium none;
        padding-bottom: 42px;
        padding-top: 46px;
    }
    .inner-product.inner-catalog .acsesorises {
        border-top: medium none;
        padding-top: 46px;
    }
    .inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-indicators {
        display: block;
        top: 297px;
    }
    .inner-product.inner-catalog .acsesorises .carousel.acsesorise {
        margin-bottom: 73px;
    }
    .product-common .photo-part .big-img .product-tile-sale {
        right: 257px;
        bottom: -6px;
    }
    /* inner product */

    /* inner catalog */
    .inner-catalog .catalog-inner {
        width: 721px;
        padding-top: 1px;
    }
    .inner-catalog.container {
        width: 720px;
    }
    .inner-catalog .filter {
        display: none;
    }
    .filtr-button {
        display: block;
        margin-top: -4px;
        padding: 11px 43px 11px 41px;
    }
    .inner-catalog .sorting {
        float: right;
        margin-bottom: 29px;
        margin-left: 0;
        width: 322px;
    }
    /* inner catalog */

    /* inner search */
    .inner_search .search-container input {
        width: 683px;
    }
    /* inner search */

    /* inner actions */
    .inner-content.inner_actions {
        margin-bottom: -94px;
    }
    .inner_actions .inner-content-inner h1 {
        margin: 0 0 12px 0px;
    }
    .inner_actions .inner-content-inner ul {
        margin: 0 0 -7px -10px;
        width: 741px;
    }
    .inner_actions .inner-content-inner ul .item {
        margin: 0 11px 22px;
    }
    .inner_actions .inner-content-inner ul .item img {
        height: 190px;
    }
    /* inner actions */

    /* inner news */
    .inner-content.news {
        margin-bottom: -94px;
    }
    .news .news-inner h1 {
        margin: 0 0 12px;
        text-align: center;
    }
    .news .news-inner ul {
        margin: 0 auto 13px;
        width: 674px;
    }
    .news .news-inner ul li, .news .news-inner .item {
        margin: 0 27px 55px;
    }
    /* inner news */

    /* inner profile */
    .inner_profile {
        margin-bottom: -94px;
    }
    .inner_profile .col-set .box {
        width: 100%;
    }
    .inner_profile .col-set .contact-information .box-content p span {
        width: 106px;
    }
    .inner_profile .col-set .newsletter .box-content input[type="text"] {
        width: 640px;
    }
    /* inner profile */

    /* inner compare */
    .inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
        width: 481px;
    }
    .inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
        width: 480px;
    }
    .inner-compare .acsesorises.compare-page .compare-table-block {
        width: 720px;
    }
    .inner-compare .acsesorises.compare-page .compare-table-block .table-block {
        width: 720px;
    }
    .inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
        width: 225px;
    }
    /* inner compare */

    /* inner cart */
    .inner-content.inner-cart {
        margin-bottom: -94px;
    }
    .inner-cart .inner-cart-inner .cart {
        padding: 23px 0 30px;
    }
    .cart-items {
        width: 660px;
        margin: 0 auto 16px;
    }
    .cart-item .close-item {
        border-radius: 26px;
        height: 26px;
        width: 26px;
        background-position: -82px -967px;
    }
    .cart-item .close-item:hover {
        background-position: -112px -967px;
    }
    .cart-items .cart-item .product-info-container .c-name {
        float: none;
        margin: 0 10px 0 0;
        width: 400px;
    }
    .cart-items .cart-item .product-info-container .c-qty {
        margin: 18px 0 0 -24px;
        width: 177px;
    }
    .cart-items .cart-item .product-info-container .c-price {
        margin: 20px 0 0;
        width: 171px;
    }
    .cart-items .cart-item .product-info-container .c-tprice {
        margin: 20px 0 0;
    }
    .cart-items .price-container .left-container input[type="text"] {
        width: 110px;
    }
    .inner-cart .inner-cart-inner .cart .checkout-container {
        width: 660px;
    }
    .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item {
        padding: 26px 114px 31px;
    }
    .inner-cart2 .inner-cart-inner .cart .cart-items .l-cart-item {
        padding: 26px 114px 0;
    }
    .inner-cart3 .inner-cart-inner .cart .cart-items .cart-item {
        padding: 26px 165px 3px;
    }

    /* inner cart */


    .content-inner .contacts-block .map {
        width: 361px;
    }
    .content-inner .map > img {
        width: 361px;
    }
    .form-block.ask-question .right-part {
        width: 361px;
    }
    .form-block.ask-question .textarea {
        width: 327px;
    }
    /* 721 - 960 ----------------------------  */
}
