@media only screen and (max-width: 497px) {
/* ----------------------------  */  

.top-blue-line .top-blue-line-inner,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.preim,
footer .footer-inner-top-line,
.nav-block .nav-block-inner,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner {
    width: 360px;
}
.content-main #carousel3 .carousel-indicators {
    bottom: auto;
    top: 380px;
}

#carousel1 .carousel-inner {
    height: 192px;
}

#carousel1 {
    height: 192px;
}
#carousel1 .carousel-inner .item {
    height: 192px;
}
#carousel1 .carousel-inner .item img {
    height: 192px;
    left: 50%;
    margin-left: -240px;
    width: 480px;
    position: absolute;
    top: 0px;
}
#carousel1 .carousel-inner .item img.slider-img {
    display: none;
}
#carousel1 .carousel-inner .item img.slider-img5 {
    display: block;
}
.carousel-indicators {
    bottom: 1px;
}
.carousel-caption {
    bottom: auto;
    margin: 0 auto 0 -177px;
    padding-top: 45px;
    width: 343px;
}
.carousel-caption .red-button {
    display: none;
}

.carousel-caption + .red-button {
    display: none;
}
.content-main #carousel2-1 {
    display: none;
}
.catalog {
    padding-top: 25px;
    width: 360px;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__select {
    width: 315px;
}
.catalog-inner {
    margin: 2px auto 0;
    width: 240px;
}
.inner-catalog .catalog-inner {
    width: 360px;
}
.inner-catalog.container{
    width: 240px;
    float: none;
}
.filtr-button {
    width: 276px;
}
.main-news {
    margin-bottom: 33px;
    margin-top: 37px;
}
.preim ul li.preim1 {
    background-position: 41px -22px;
    margin-bottom: 24px;
    margin-left: 61px;
    margin-right: 28px;
    padding-left: 2px;
    padding-top: 93px;
    width: 232px;
}
.preim ul li.preim2 {
    margin-bottom: 32px;
    margin-left: 60px;
}
.preim ul li.preim3 {
    margin-left: 53px;
}
.preim ul li.preim4 {
    margin-left: 79px;
    margin-top: 45px;
}
.copyright {
    line-height: 6px;
    padding: 18px 20px 45px;
}
.copyright .madeby {
    position: relative;
    top: 27px;
    float: none;
    display: block;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 356px;
}
/* < 481----------------------------  */  

.wrapper.right-position {
    width: 420px;
}  
    
.product-common .photo-part .big-img {
     display: table;
    height: 340px;
    margin: 30px 0 0;
    padding: 0 0 10px;
    width: 100%;
}
.product-common .photo-part .big-img a {
    display: table-cell;
    height: 340px;
    width: 100%;
}
.product-common .photo-part .big-img img {
    height: auto;
    width: auto;
    max-height: 340px;
    max-width: 340px;
}    
    
    
.inner-catalog.inner-product .product-common .photo-part .big-img .product-tile-sale {
    right: 38px;
}
.product-common .info-part {
    width: 330px;
}
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-model .jq-selectbox__select, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-link .jq-selectbox__select, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-garant .jq-selectbox__select {
    width: 255px;
}
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-model .jq-selectbox__dropdown, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-link .jq-selectbox__dropdown, .product-common .info-part .jq-selectbox.jqselect.select-class.select-class-garant .jq-selectbox__dropdown {
    width: 296px;
}
.product-common .info-part .cart-thing {
    width: 329px;
}
.product-common .info-part .cart-thing .col1 .new {
    margin-left: 22px;
}
.product-common .info-part .cart-thing .col2 {
    width: 300px;
}
.product-common .info-part .cart-thing .col3 {
    width: 300px;
}
.product-common .info-part .cart-thing .col2 .red-button {
    background-position: -186px -215px;
}
.product-common .info-part .cart-thing .col3 .buy-credit {
    margin-left: 88px;
}
.product-common .info-part .cart-thing .eco {
    left: 32px;
}
.product-common .info-part .cart-thing .col2 .eco {
    left: auto;
    right: 30px;
}
.product-common .info-part .add2fav-link {
    margin-left: 0;
}
.product-common .info-part .compare-table  {
    margin-left: 0;
}
.product-common .info-part .compare-link {
    float: right;
    margin-left: 0;
    margin-right: 30px;
}
.product-common .info-part .soc {
    right: 69px;
}
.inner-product.inner-catalog .tab-content .left-part {
    padding-right: 0;
}
.inner-product.inner-catalog .tab-content .closed-info.closed-docs {
    height: auto;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise {
    margin: 0 auto 64px;
    width: 241px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner {
    width: 240px;
}
.inner-product.inner-catalog .acsesorises h3 {
    text-align: center;
}
    
    
    
.cart-items {
    width: 360px;
}
.cart-items .cart-item .product-info-container .c-name {
    float: left;
    margin: 0 10px 0 0;
    width: 144px;
}
.cart-items .cart-item .product-info-container .c-qty {
    margin: 18px 0 0 16px;
}
.cart-items .price-container .left-container input[type="text"] {
    width: 175px;
}
.cart-items .price-container {
    padding: 10px 15px 10px 11px;
}
.cart-items .price-container .right-container {
    display: block;
    float: none;
    width: 360px;
}
.inner-cart .inner-cart-inner .cart .checkout-container {
    width: 361px;
}
.inner-cart .inner-cart-inner .cart .checkout-container .buy, .inner-cart .inner-cart-inner .cart .checkout-container .checkout {
    width: 351px;
}
.inner-cart .inner-cart-inner .cart .checkout-container .buy {
    width: 357px;
}
    
    
    
    
    
.inner-cart2 .inner-cart-inner .cart .cart-items {
    width: 358px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .jq-selectbox.jqselect.select-class .jq-selectbox__select {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 300px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .name {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .email, .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .city {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .phone, .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .index {
    width: 258px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .payment {
    width: 356px;
}

    
    
    
.inner_search .search-container input {
    width: 323px;
}
    
    
    
    
    
.inner-compare .acsesorises.compare-page h1 {
    float: none;
}
.inner-compare .acsesorises.compare-page .red-button {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    float: none;
    margin-bottom: 10px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 241px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 240px;
}
.inner-compare .acsesorises.compare-page .compare-table-block {
    width: 359px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 359px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row {
    width: 359px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    text-align: left;
    width: 165px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell {
    width: 164px;
}
.inner_profile .col-set .box .box-content .edit {
    text-align: center;
    width: 286px;
    float: none;
}
.inner_profile .col-set .newsletter .box-content input[type="text"] {
    width: 283px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .name.error {
    width: 254px;
}
    
    
    
    
    
.content-inner .contacts-block .text {
    width: auto;
}
.content-inner .contacts-block .map {
    width: 100%;
}
.content-inner .contacts-block .map img {
    width: 100%;
}
.form-block.ask-question .input {
    width: 248px;
}
.form-block.ask-question .input.code {
    width: 248px;
}
.form-block.ask-question .code-img {
    float: none;
    text-align: center;
    margin-bottom: 15px;
}
.form-block.ask-question .textarea {
    width: 248px;
}
.form-block.ask-question .blue-button.red-button {
    width: 280px;
}
.content-inner blockquote {
    margin: 26px 0 32px;
    padding: 12px 0px 15px;
}
.content-inner .news-action-photo-inner {
    width: 100%;
}
}
