@media only screen and (min-width: 1201px) {
/* ----------------------------  */  
/* > 1201px ----------------------------  */   
}
@media only screen and (min-width: 1900px) {
/* ----------------------------  */  
#carousel1 .carousel-inner .item img.slider-img {
    height: auto;
    left: 0;
    margin-left: 0;
    width: 100%;
}
/* > 1900px ----------------------------  */   
}
@media screen and (min-width: 978px) and (max-width: 1217px) {
/* ----------------------------  */  

.pick-color-open {
    background-position: 14px 15px;
    padding: 13px 0 14px 48px;
    width: 0;
}

    
    
.top-blue-line .top-blue-line-inner,
.top-info-line,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.preim,
footer .footer-inner-top-line,
.nav-block .nav-block-inner,
.copyright,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner, .nav-dop .outer {
    width: 961px;
}
.content-main #carousel3 .carousel-outer {
    width: 893px;
}
.main-catalog ul {
    height: 52px;
    overflow: hidden;
}
.carousel-caption {
    margin: 0 auto 0 -486px;
    width: 960px;
}

.carousel-caption + .red-button {
    margin: 0 auto 0 -486px;
}
    
.top-info-line .form-search {
    left: 321px;
    width: 176px;
}
.top-info-line .form-search input {
    width: 141px;
}
.top-info-line .phone-block {
    right: 235px;
}
.main-catalog ul li {
    margin-right: 27px;
}
.carousel1 .carousel-inner {
    height: 485px;
}
#carousel1 {
    height: 485px;
}
#carousel1 .carousel-inner .item {
    height: 485px;
}
#carousel1 .carousel-inner .item img {
    height: 485px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    position: absolute;
    top: 0px;
}
#carousel1 .carousel-inner .item img.slider-img {
    display: none;
}
#carousel1 .carousel-inner .item img.slider-img2 {
    display: block;
}
.carousel-caption {
    padding-top: 126px;
}
.carousel-caption .header {
    font-size: 46px;
    letter-spacing: -0.7px;
}
.carousel-indicators {
    bottom: 44px;
}
.content-main #carousel2 {
    margin: -32px auto 0;
}
.content-main #carousel2 .carousel-outer {
    height: 168px;
}
.content-main #carousel2 .carousel-inner {
    height: 168px;
}
.content-main #carousel2 .carousel-inner .item span {
    width: 308px;
    height: 168px;
    margin: 0 9px;
}
.content-main #carousel2 .carousel-inner .item span:before {
    width: 308px;
}
.content-main #carousel2 .carousel-inner .item:hover::before {
    height: 168px;
}
.content-main #carousel2 .carousel-inner .item img {
    height: 168px;
}
.catalog {
    padding-top: 70px;
}
.catalog .nav.nav-tabs {
    margin-left: 2px;
}
.main-news {
    margin-bottom: 50px;
}
.preim ul li.preim1 {
    background-position: 39px 0;
    margin-right: 40px;
    padding-left: 2px;
}
.preim ul li.preim2 {
    background-position: -296px 0;
    margin-right: 44px;
    width: 175px;
}
.preim ul li.preim3 {
    background-position: -587px 0;
    width: 205px;
}
.preim ul li.preim4 {
    margin-left: 44px;
}
footer {
    margin-top: 94px;
}
.podp {
    margin-left: 62px;
}
.nav-block .contacts {
    width: 328px;
}
.nav-block-inner nav {
    width: auto;
}
.nav-block-inner nav .li {
    margin-right: 167px;
}
.nav-block-inner nav .li:first-child {
    display: none;
}
/* inner product */
.product-common .photo-part {
    width: 361px;
    height: 494px;
}
.photo-part .big-img a {
    height: 300px;
    width: 300px;
}
.photo-part .big-img .main_picture {
    max-height: 300px;
    max-width: 300px;
}
.product-common .photo-part .big-img .lupa {
    background-position: 0px -95px;
    margin-top: 20px;
}
.product-common .photo-part .big-img .product-tile-sale {
    right: 42px;
}
.product-common .photo-part .carousel.product {
    width: 304px;
}
.product-common .photo-part .carousel.product .carousel-outer {
    width: 222px;
}
.product-common .info-part {
    padding: 23px 0 0 30px;
    width: 569px;
}
.product-common .info-part .soc {
    bottom: 31px;
    right: 199px;
}
.inner-product.inner-catalog .nav.nav-tabs {
    margin: -46px auto 29px;
}
.inner-product.inner-catalog .nav.nav-tabs li a, .inner-product.inner-catalog .nav.nav-tabs li.active a {
    width: 239px;
}
.inner-product.inner-catalog .nav.nav-tabs li a {
    width: 240px;
}
.inner-product.inner-catalog .nav.nav-tabs li:last-child a {
    width: 239px;
}
.inner-product.inner-catalog .nav.nav-tabs li:first-child a {
    width: 239px;
}
.inner-product.inner-catalog .tab-content .left-part {
    width: 438px;
}
.inner-product.inner-catalog .tab-content .right-part {
    width: 478px;
}
/* inner product */
    
/* inner catalog */
.inner-catalog .catalog-inner {
    width: 721px;
    padding-top: 1px;
}
.inner-catalog.container {
    width: 720px;
}
.inner-catalog .sorting {
    margin-left: 200px;
}
.inner-catalog .catalog-inner .item.item-big {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-big a {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-big a .img-inside {
    height: 167px;
    width: 170px;
}
.inner-catalog .catalog-inner .item.item-big a img {
    width: 100%;
}
.inner-catalog .catalog-inner .item.item-big .name {
    bottom: 52px;
    width: 199px;
}
.inner-catalog .catalog-inner .item.item-big .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-big .price span {
    font-size: 14px;
}
.inner-catalog .catalog-inner .item.item-big .add2cart {
    height: 0px;
    left: 48px;
    top: 88px;
    width: auto;
}
.inner-catalog .catalog-inner .item.item-big .add2cart:hover {
    height: 14px;
}
.inner-catalog .catalog-inner .item.item-big .economy {
    display: none;
}
.inner-catalog .catalog-inner .item.item-medium {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-medium a {
    height: 289px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-medium a img {
    width: 100%;
}
.inner-catalog .catalog-inner .item.item-medium .name {
    bottom: 52px;
    width: 199px;
}
.inner-catalog .catalog-inner .item.item-medium .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.inner-catalog .catalog-inner .item.item-medium .price span {
    font-size: 14px;
}
.inner-catalog .catalog-inner .item.item-medium .add2cart {
    height: auto;
    left: 48px;
    top: 88px;
    width: auto;
}
.inner-catalog .catalog-inner .item.item-medium .product-tile-sale {
    display: none;
}

.inner-catalog .catalog-inner .item .dop-thing.hurry-up {
    right: 20px;
}
/* inner catalog */

/* inner search */
.inner_search .search-container input {
    width: 923px;
}
/* inner search */
    
/* inner actions */
.inner_actions .inner-content-inner ul {
    margin: 0 0 -7px -7px;
    width: 988px;
}
.inner_actions .inner-content-inner ul .item {
    margin: 0 9px 17px 8px;
}
.inner_actions .inner-content-inner ul .item img {
    height: 168px;
}
.inner-content.inner_actions {
    margin-bottom: -94px;
}
/* inner actions */
    
/* inner news */
.inner-content.news {
    margin-bottom: -94px;
}
.news .news-inner h1 {
    margin: 0 0 12px;
}
.news .news-inner ul {
    margin: 0 0 13px -28px;
    width: 1014px;
}
.news .news-inner ul li, .news .news-inner .item {
    margin: 0 27px 55px 28px;
}
/* inner news */

/* inner profile */
.inner_profile {
    margin-bottom: -94px;
}
.inner_profile .col-set .col-1, .inner_profile .col-set .col-2, .inner_profile .col-set .col-3 {
    width: 304px;
}
.inner_profile .col-set .box {
    width: 305px;
}
.inner_profile .col-set .contact-information .box-content p span {
    width: 106px;
}
.inner_profile .col-set .newsletter .box-content input[type="text"] {
    width: 229px;
}
/* inner profile */
    
/* inner compare */
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 721px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 720px;
}
.inner-compare .acsesorises.compare-page .compare-table-block {
    width: 960px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 960px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    width: 225px;
}
/* inner compare */
    
.inner-content.inner-cart {
    margin-bottom: -94px;
}
    
/* 961 - 1201 ----------------------------  */
    
    
    
    
    

    .content-inner .contacts-block .map {
        width: 600px;
    }
    .content-inner .map > img {
        width: 600px;
    }
    .form-block.ask-question .right-part {
        width: 600px;
    }
    .form-block.ask-question .textarea {
        width: 566px;
    }

}




@media only screen and (min-width: 1201px) and (max-width: 1330px) {
    
.pick-color-open {
    background-position: 14px 15px;
    padding: 13px 0 14px 48px;
    width: 0;
}

    
/* ----------------------------  */  
#carousel1 .carousel-control.left, #carousel1 .carousel-control.right {
    display: none;
}  
/* < 1330px ----------------------------  */   
}
@media only screen and (min-width: 961px) and (max-width: 1100px) {
/* ----------------------------  */  
#carousel1 .carousel-control.left, #carousel1 .carousel-control.right {
    display: none;
}  
/* < 1330px ----------------------------  */   
}
@media only screen and (max-width: 845px) {
/* ----------------------------  */  
#carousel1 .carousel-control.left, #carousel1 .carousel-control.right {
    display: none;
}  
/* < 1330px ----------------------------  */   
}




