@media only screen and (max-width: 737px) {
/* ----------------------------  */  
 
.pick-color-open {
    background-position: 14px 15px;
    padding: 13px 0 14px 48px;
    width: 0;
    position:fixed;
}
    
.top-blue-line .top-blue-line-inner,
.top-info-line,
.main-catalog ul,
.content-main #carousel2 .carousel-outer,
.catalog,
.preim,
.nav-block .nav-block-inner,
.inner-catalog .inner,
.inner-product.inner-catalog .nav.nav-tabs,
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-outer.catalog-inner,
.inner_actions .inner-content-inner,
.news .news-inner,
.inner_profile .col-set,
.inner-cart .inner-cart-inner {
    width: 481px;
}

footer .footer-inner-top-line {
    width: auto;
    padding: 0px 20px;
}
.phone-menu {
    display: block;
}
.phone-nav-tabs {
    display: block;
}

.content-main #carousel3 .carousel-outer {
    width: 283px;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 478px;
}
header {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
}
.main-catalog ul {
    height: 52px;
    overflow: hidden;
}
.carousel-caption {
    margin: 0 auto 0 -238px;
    width: 458px;
}

.carousel-caption + .red-button {
    margin: 0 auto 0 -238px;
}
.top-blue-line {
    display: none;
}
.top-info-line .form-search {
    display: none;
}
.top-info-line .phone-block {
    display: none;
}
.top-info-line .cart-block {
    top: 13px;
    width: 24px;
}
.top-info-line .cart-block span {
    display: none;
}
.top-info-line .cart-block a {
    color: #fff;
}
.cart-block b {
    color: #000;
    font-size: 21px;
    font-weight: normal;
}
.top-info-line .logo {
    height: 42px;
    left: 50%;
    margin-left: -105px;
    top: 10px;
    width: 228px;
}
.top-info-line .logo > img {
    margin-top: -228px;
}
.top-info-line {
    height: 53px;
    margin: 0 20px;
    width: auto;
}
phone-menu {
    display: block;
}
.main-catalog {
    display: none;
}
#carousel1 .carousel-inner {
    height: 241px;
}
#carousel1 {
    height: 241px;
}
#carousel1 .carousel-inner .item {
    height: 241px;
}
#carousel1 .carousel-inner .item img {
    height: 241px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
    position: absolute;
    top: 0px;
}
#carousel1 .carousel-inner .item img.slider-img {
    display: none;
}
#carousel1 .carousel-inner .item img.slider-img4 {
    display: block;
}
.carousel-caption {
    padding-top: 68px;
}
.carousel-caption .header {
    font-size: 28px;
    letter-spacing: -0.2px;
}
.carousel-caption .text {
    font-size: 13px;
    line-height: 21px;
    margin: 3px 0 16px;
    width: 344px;
}
.carousel-caption + .red-button {
    font-size: 11px;
    letter-spacing: 0.9px;
    padding: 13px 14px 12px 15px;
    margin-top: -19px; 
}
.carousel-indicators {
    bottom: 22px;
}
.content-main #carousel2 {
    display: none;
}
.content-main #carousel2-1 {
    margin: -26px auto 0;
    display: block;
}
.content-main #carousel2-1 .carousel-outer {
    height: 210px;
    width: 385px;
}
.content-main #carousel2-1 .carousel-inner {
    height: 210px;
    margin-left: -11px;
}
.content-main #carousel2-1 .carousel-inner .item {
    margin: 0 11px;
}
.content-main #carousel2-1 .carousel-indicators {
    display: block;
    top: 202px;
}
#carousel2-1 .carousel-indicators li {
    background-color: #666;
    border: 2px solid #666;
    height: 7px;
    margin: 1px 4px;
    width: 7px;
}
#carousel2-1 .carousel-indicators li:hover {
    background: none repeat scroll 0 0 transparent;
}
#carousel2-1 .carousel-indicators .active {
    background-color: transparent;
    border: 2px solid #d8192b; /* @red */
    height: 10px;
    margin: 0 1px;
    width: 10px;
}
.content-main #carousel2-1 .carousel-inner .item {
    height: 210px;
    width: 385px;
}
.content-main #carousel2-1 .carousel-inner .item img {
    height: 210px;
    width: 385px;
}
.catalog {
    padding-top: 50px;
}
.catalog .nav.nav-tabs {
    display: none;
}
.catalog-inner .item.item-big {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-big a {
    height: 289px;
    width: 239px;
}

.catalog-inner .item.item-big a .img-inside {
    height: 167px;
    width: 170px;
}
.catalog-inner .item.item-big a img {
    width: 100%;
}
.catalog-inner .item.item-big .name {
    bottom: 52px;
    width: 199px;
}
.catalog-inner .item.item-big .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.catalog-inner .item.item-big .price span {
    font-size: 14px;
}
.catalog-inner .item.item-big .add2cart {
    height: 0px;
    left: 48px;
    top: 88px;
    width: auto;
}
.catalog-inner .item.item-big .add2cart:hover {
    height: 14px;
}
.catalog-inner .item.item-big .economy {
    display: none;
}
.catalog-inner .item.item-medium {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-medium a {
    height: 289px;
    width: 239px;
}
.catalog-inner .item.item-medium a img {
    width: 100%;
}
.catalog-inner .item.item-medium .name {
    bottom: 52px;
    width: 199px;
}
.catalog-inner .item.item-medium .price {
    bottom: 20px;
    font-size: 19px;
    width: 239px;
}
.catalog-inner .item.item-medium .price span {
    font-size: 14px;
}
.catalog-inner .item.item-medium .add2cart {
    height: 0px;
    left: 48px;
    top: 88px;
    width: auto;
}
.catalog-inner .item.item-medium .add2cart:hover {
    height: 14px;
}
.catalog-inner .item.item-medium .product-tile-sale {
    display: none;
}
.catalog-inner .item .dop-thing.hurry-up {
    right: 20px;
}
.main-news {
    margin-bottom: 33px;
    margin-top: 47px;
}
.preim h2 {
    margin-bottom: 22px;
}
.preim ul li.preim1 {
    background-position: 41px 0;
    margin-left: -16px;
    margin-right: 28px;
    padding-left: 2px;
    width: 232px;
}
.preim ul li.preim2 {
    background-position: -268px 0;
    margin-bottom: 46px;
    margin-right: 0;
    width: 230px;
}
.preim ul li.preim3 {
    background-position: -565px 0;
    margin-left: -23px;
    width: 249px;
}
.preim ul li.preim4 {
    margin-left: 35px;
}
footer {
    margin-top: 89px;
}
.soc {
    display: none;
}
.podp {
    float: none;
    left: 5px;
    margin: 0 auto;
    position: relative;
    width: 351px;
}
.money {
    display: none;
}
.nav-block .nav-block-inner {
    padding-top: 38px;
}
.nav-block .contacts {
    float: none;
    left: 50%;
    margin-left: -164px;
    position: relative;
    text-align: center;
    width: 328px;
}
.nav-block .contacts .logo {
    margin-left: 51px;
}
.nav-block .contacts .phone-block {
    margin-bottom: 17px;
    margin-top: 19px;
}
.nav-block-inner nav {
    display: none;
}
.nav-block .nav-block-inner {
    padding-bottom: 37px;
}
.copyright {
    padding: 18px 20px 21px;
    width: auto;
}
/* inner product */
.inner-catalog.inner-product .breadcrumps {
    display: block;
    margin-bottom: 29px;
}
/* .inner-catalog.inner-product .decription {
    background: none repeat scroll 0 0 #eeeff1;
} */
.product-common .info-part .logo {
    display: none;
}
.inner-catalog.inner-product .product-common .photo-part .big-img .product-tile-sale {
    right: 133px;
}
.product-common .photo-part {
    border-bottom: 1px solid #d8dadf;
    border-right: medium none;
    height: auto;
    width: 100%;
}

.product-common .photo-part .big-img {
    display: table;
    margin-left: 0;
    width: 100%;
    height: 340px;
    padding-bottom: 10px;
}
.product-common .photo-part .big-img a {
    height: 340px;
    width: 100%;
}
.product-common .photo-part .big-img img {
    max-height: 340px;
    max-width: 340px;
}
.product-common .photo-part .big-img .lupa {
    display: none;
}
.product-common .photo-part .carousel.product {
    width: 369px;
    margin: 36px auto 0;
}
.product-common .photo-part .carousel.product .carousel-outer {
    width: 296px;
}
#carousel4 .carousel-control.right {
    right: 6px;
}
.product-common .info-part {
    padding: 15px 0 89px 30px;
    width: 451px;
}
.product-common .info-part .art {
    display: block;
}
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-model,
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-link,
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-garant  {
    margin-bottom: 10px;
}
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-model .jq-selectbox__select,
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-link .jq-selectbox__select,
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-garant .jq-selectbox__select {
    height: 33px;
    line-height: 33px;
    width: 375px;
}

.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-model .jq-selectbox__dropdown,
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-link .jq-selectbox__dropdown,
.product-common .info-part .jq-selectbox.jqselect.select-class.select-class-garant .jq-selectbox__dropdown {
    width: 416px;
}
.product-common .info-part .params {
    margin: 10px 0 31px;
}
.product-common .info-part .params dd {
    margin-bottom: 12px;
}
.product-common .info-part .cart-thing {
    margin-bottom: 22px;
    margin-left: -29px;
    margin-top: -2px;
    padding-bottom: 57px;
    padding-left: 30px;
    padding-top: 25px;
    position: relative;
    width: 450px;
}
.product-common .info-part .cart-thing .col1 {
    float: none;
    width: 100%;
}
.product-common .info-part .cart-thing .col2 {
    float: none;
    padding-top: 17px;
    width: 419px;
}
.product-common .info-part .cart-thing .col3 {
    float: none;
    padding-top: 7px;
    width: 419px;
}
.product-common .info-part .cart-thing .col1 .new {
    display: inline;
    margin-left: 80px;
    margin-right: 26px;
}
.product-common .info-part .cart-thing .col1 .old {
    display: inline;
}
.product-common .info-part .cart-thing .eco {
    left: 89px;
    position: absolute;
    top: 233px;
}
.product-common .info-part .cart-thing .col2 .red-button {
    background-position: -122px -215px;
    display: block;
    float: none;
    margin-bottom: 4px;
    padding: 13px 21px 13px 68px;
    text-align: center;
    width: auto;
}
.product-common .info-part .cart-thing .col2 .eco {
    left: 282px;
}
.product-common .info-part .cart-thing .col3 .grey-button {
    display: block;
    float: none;
    margin-bottom: 20px;
    padding: 13px 21px 13px 27px;
    text-align: center;
    width: auto;
}
.product-common .info-part .cart-thing .col3 .buy-credit {
    margin-left: 153px;
}
.product-common .info-part .add2fav-link {
    margin-left: 59px;
}
.product-common .info-part .compare-table {
    margin-left: 59px;
}
.product-common .info-part .compare-link {
    margin-left: 83px;
}
.product-common .info-part .soc {
    bottom: 30px;
    display: block;
    right: 135px;
}
.product-common {
    margin-bottom: 29px;
}
.tab-content {
    padding-top: 20px;
}
.inner-product.inner-catalog .tab-content .left-part {
    width: auto;
    float: none;
    padding-bottom: 27px;
}
.inner-product.inner-catalog .decription {
    border-bottom: medium none;
    padding-top: 17px;
}
.inner-product.inner-catalog .nav.nav-tabs {
    display: none;
}

.inner-product.inner-catalog .tab-content .right-part {
    width: auto;
    float: none;
    margin-top: 15px;
}
.inner-product.inner-catalog .tab-content .watch-more {
    display: none;
}
.inner-product.inner-catalog .tab-content .closed-info.closed-docs {
    margin-bottom: 30px;
    margin-top: 23px;
}
.inner-product.inner-catalog .tab-content .grey-button {
    display: inline;
}
.inner-product.inner-catalog .tab-content .right-part .grey-button,
.inner-product.inner-catalog .review-part .grey-button {
    display: block;
    float: left;
    margin-top: 2px;
}
.inner-product.inner-catalog .review-part {
    border-top: medium none;
    padding-bottom: 42px;
    padding-top: 36px;
}
.inner-product.inner-catalog .acsesorises {
    border-top: medium none;
    padding-top: 42px;
}
.inner-product.inner-catalog .acsesorises h3 {
    margin-bottom: 13px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise .carousel-indicators {
    display: block;
    top: 286px;
}
.inner-product.inner-catalog .acsesorises .carousel.acsesorise {
    margin-bottom: 64px;
}
.product-common .photo-part .big-img .product-tile-sale {
    right: 227px;
    bottom: -6px;
}
/* inner product */
    
/* inner catalog */
.inner-catalog .breadcrumps {
    display: none;
}
.inner-catalog .catalog-inner {
    width: 481px;
    padding-top: 1px;
}
.inner-catalog .decription {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-top: 35px;
}
.inner-product.inner-catalog .decription {
    border-bottom: medium none;
    padding-top: 17px;
}
.inner-catalog .decription p {
    display: none;
}
.inner-catalog.container {
    width: 480px;
}
.inner-catalog .filter {
    display: none;
}
.filtr-button {
    display: block;
    float: none;
    margin-bottom: 19px;
    margin-top: -4px;
    padding: 13px 43px 12px 41px;
    text-align: center;
}
.inner-catalog .sorting {
    float: none;
    margin-bottom: 29px;
    margin-left: 0;
    width: 100%;
}
.inner-catalog .sorting .sort-text {
    display: block;
    float: none;
    margin-bottom: 6px;
    margin-top: 0;
}
.jq-selectbox.jqselect.select-class {
    margin: 0;
}
.jq-selectbox.jqselect.select-class .jq-selectbox__select {
    line-height: 37px;
    height: 36px;
    width: 437px;
}
.jq-selectbox__trigger-arrow {
    right: 14px;
    top: 17px;
}
.inner-catalog ol.nums {
    margin: 17px 0 0 -10px;
}
/* inner catalog */

/* inner search */
.inner_search .search-container input {
    width: 443px;
}
/* inner search */
    
/* inner actions */
.inner-content.inner_actions {
    margin-bottom: -94px;
}
.inner_actions .inner-content-inner h1 {
    margin: 0 0 12px;
    text-align: center;
}
.inner_actions .inner-content-inner ul {
    margin: 0 auto;
    width: 385px;
}
.inner_actions .inner-content-inner ul .item {
    margin: 0 0 22px;
}
.inner_actions .inner-content-inner ul .item img {
    height: 210px;
}
/* inner actions */
    
/* inner news */
.inner-content.news {
    margin-bottom: -94px;
}
.news .news-inner h1 {
    margin: 0 0 12px;
    text-align: center;
}
.news .news-inner ul {
    margin: 0 auto 13px;
    width: 283px;
}
.news .news-inner ul li, .news .news-inner .item {
    margin: 0 0px 55px;
}
/* inner news */

/* inner profile */
.inner_profile .col-set .box {
    width: 100%;
}
.inner_profile .col-set .contact-information .box-content p span {
    width: 106px;
}
.inner_profile .col-set .newsletter .box-content input[type="text"] {
    width: 400px;
}
/* inner profile */
    
/* inner compare */
.inner-compare .acsesorises.compare-page h1 {
    float: none;
}
.inner-compare .acsesorises.compare-page .red-button {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    float: none;
    margin-bottom: 10px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare {
    width: 481px;
}
.inner-compare .acsesorises.compare-page .acsesorise.carousel.compare .carousel-outer.catalog-inner {
    width: 480px;
}
.inner-compare .acsesorises.compare-page .compare-table-block {
    width: 480px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block {
    width: 480px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row {
    width: 480px;
}
.inner-compare .acsesorises.compare-page .compare-table-block .table-block .table-row .table-cell.table-cell-header {
    width: 465px;
    text-align: center;
}
/* inner compare */
    
/* inner cart */

.inner-content.inner-cart {
    background: none repeat scroll 0 0 #fff;
    padding-bottom: 0px;
}
.inner-cart .inner-cart-inner .checkout-progress {
    display: none;
}
.inner-cart .inner-cart-inner .cart {
    padding: 25px 0 30px;
}
.cart-items {
    margin: 0 auto 16px;
    width: 478px;
}
.cart-items .cart-item {
    padding: 26px 0 29px;
}
.cart-item .close-item {
    border-radius: 26px;
    height: 26px;
    width: 26px;
    background-position: -82px -967px;
}
.cart-item .close-item:hover {
    background-position: -112px -967px;
}
.cart-items .cart-item .product-info-container .c-name {
    float: none;
    margin: 0 10px 0 0;
    width: 400px;
}
.cart-items .cart-item .product-info-container .c-qty {
    margin: 18px 0 0 -24px;
    width: 158px;
}
.cart-items .cart-item .product-info-container .c-price {
    display: none;
}
.cart-items .cart-item .product-info-container .c-tprice {
    margin: 20px 0 0;
}
.cart-items .price-container .left-container input[type="text"] {
    width: 296px;
}
.cart-items .price-container .left-container input[type="submit"] {
    width: 117px;
}

.cart-items .price-container .right-container {
    float: none;
}
.inner-cart .inner-cart-inner .cart .checkout-container {
    width: 480px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 29px 21px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .l-cart-item {
    padding: 26px 114px 0;
}
.inner-cart3 .inner-cart-inner .cart .cart-items .cart-item {
    padding: 26px 29px 3px;
}
.inner-cart .inner-cart-inner .cart .checkout-container .buy, .inner-cart .inner-cart-inner .cart .checkout-container .checkout {
    float: none;
    margin: 2px 0 10px;
    width: 470px;
}
.inner-cart .inner-cart-inner .cart .checkout-container .buy {
    width: 476px;
}
    
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .num {
    display: none;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .jq-selectbox.jqselect.select-class .jq-selectbox__select {
    width: 374px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .jq-selectbox.jqselect.select-class .jq-selectbox__dropdown {
    width: 416px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .jq-selectbox.jqselect.select-class .jq-selectbox__trigger-arrow {
    right: 7px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .name {
    margin: -6px 0 21px;
    width: 372px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .email, .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .city {
    float: none;
    margin: -6px 0 21px;
    width: 372px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .phone, .inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .index {
    width: 372px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .name:last-child {
    margin: -6px 0 -1px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .l-cart-item {
    padding: 17px 30px 0;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .check-container {
    margin: 14px 0 -6px;
}
.check {
    margin-bottom: 22px;
    margin-top: -5px;
}
.inner-cart2 .inner-cart-inner .cart .cart-items .payment {
    float: left;
    width: 476px;
}
/* inner cart */
    
 
.wrapper.right-position {
    width: 540px;
}
/* < 721----------------------------  */  

.inner-cart2 .inner-cart-inner .cart .cart-items .cart-item .sorting .name.error {
    width: 368px;
}

    
    
    

.content-inner .breadcrumps {
    display: block;
    margin-bottom: 18px;
}
.content-inner h1 {
    font-size: 22px;
    margin-bottom: 3px;
}
.content-inner .contacts-block {
    margin-bottom: 48px;
    margin-top: 20px;
}
.content-inner .contacts-block .text {
    float: none;
    height: auto;
    margin-bottom: 20px;
    padding: 15px 26px 9px 26px;
    width: 430px;
}
.content-inner .contacts-block .text p {
    margin-bottom: 9px;
}
.content-inner .contacts-block .text p.worktime {
    bottom: auto;
    position: relative;
}
.content-inner .contacts-block .map {
    float: none;
    height: 250px;
    width: 480px;
}
.content-inner .contacts-block .map img {
    height: 250px;
    width: 480px;
}
.content-inner h2 {
    font-size: 17px;
    letter-spacing: 0.4px;
}
.form-block.ask-question .left-part, .form-block.ask-question .right-part {
    float: none;
    width: 100%;
}
.form-block.ask-question .input {
    width: 448px;
}
.form-block.ask-question .input.code {
    width: 258px;
}
.form-block.ask-question .textarea {
    height: 96px;
    width: 450px;
}
.form-block.ask-question .blue-button.red-button {
    display: block;
    float: none;
    width: 480px;
}
.content-inner blockquote {
    font-size: 15px;
    line-height: 24px;
    margin: 26px 0 32px;
    padding: 12px 63px 15px;
}
.content-inner .date.grey-text {
    margin-top: -3px;
}
.content-inner .news-action-photo-inner {
    display: block;
    float: none;
    margin: 11px auto 20px;
}

}