@media (-webkit-min-device-pixel-ratio: 2) {
    .more:before,
    .top-info-line .cart-block,
    .top-blue-line .top-blue-line-inner .links li.favorite a,
    .top-blue-line .top-blue-line-inner .links li.personal .login,
    .top-info-line .form-search span,
    .catalog-inner .item.item-big .economy:before,
    .product-tile-sale .ico-timer,
    .back2cat-link,
    .inner-product.inner-catalog .tab-content .closed-info.closed-docs .documents li.pdf,
    .product-common .info-part .cart-thing .col2 .red-button,
    .add2fav-link,
    .product-common .info-part .compare-link,
    .right-slider-block.right-slider-block-main.opened .links li.personal .login,
    .soc ul li a,
    .product-common .info-part .cart-thing .col3 .buy-credit,
    .filter dl dt a:before,
    .close-item
    {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/icons@2a.png");
        background-size: 316px 1055px;
    }
    .inner_profile .col-set .contact-information .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-1@2x.png");
        background-size: 23px 26px;
    }
    .inner_profile .col-set .newsletter .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-2@2x.png");
        background-size: 26px 19px;
    }
    .inner_profile .col-set .favorites .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-3@2x.png");
        background-size: 26px 23px;
    }
    .inner_profile .col-set .history .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-4@2x.png");
        background-size: 26px 28px;
    }
    .inner_profile .col-set .shipping .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-5@2x.png");
        background-size: 27px 24px;
    }
    .rating {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/stars@2x.jpg");
        background-size: 103px 36px;
    }
    .windows-form .close {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/close-form@2x.png");
        background-size: 11px 11px;
    }
}
@media (min-resolution: 2dppx) {
    .more:before,
    .top-info-line .cart-block,
    .top-blue-line .top-blue-line-inner .links li.favorite a,
    .top-blue-line .top-blue-line-inner .links li.personal .login,
    .top-info-line .form-search span,
    .catalog-inner .item.item-big .economy:before,
    .product-tile-sale .ico-timer,
    .back2cat-link,
    .inner-product.inner-catalog .tab-content .closed-info.closed-docs .documents li.pdf,
    .product-common .info-part .cart-thing .col2 .red-button,
    .add2fav-link,
    .product-common .info-part .compare-link,
    .right-slider-block.right-slider-block-main.opened .links li.personal .login,
    .soc ul li a,
    .product-common .info-part .cart-thing .col3 .buy-credit,
    .filter dl dt a:before,
    .close-item {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/icons@2a.png");
        background-size: 316px 1055px;
    }
    .inner_profile .col-set .contact-information .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-1@2x.png");
        background-size: 23px 26px;
    }
    .inner_profile .col-set .newsletter .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-2@2x.png");
        background-size: 26px 19px;
    }
    .inner_profile .col-set .favorites .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-3@2x.png");
        background-size: 26px 23px;
    }
    .inner_profile .col-set .history .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-4@2x.png");
        background-size: 26px 28px;
    }
    .inner_profile .col-set .shipping .box-title h3 {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/profile-i-5@2x.png");
        background-size: 27px 24px;
    }
    .rating {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/stars@2x.jpg");
        background-size: 103px 36px;
    }
    .windows-form .close {
        background-image: url("/local/templates/.default/theme/indigo_orange/images/close-form@2x.png");
        background-size: 11px 11px;
    }
}