@font-face {
    font-family: 'arialregular';
    src: url('../../../fonts/arial-webfont.eot');
    src: url('../../../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial-webfont.woff2') format('woff2'),
         url('../../../fonts/arial-webfont.woff') format('woff'),
         url('../../../fonts/arial-webfont.ttf') format('truetype'),
         url('../../../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arialblack';
    src: url('../../../fonts/ariblk-webfont.eot');
    src: url('../../../fonts/ariblk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/ariblk-webfont.woff2') format('woff2'),
         url('../../../fonts/ariblk-webfont.woff') format('woff'),
         url('../../../fonts/ariblk-webfont.ttf') format('truetype'),
         url('../../../fonts/ariblk-webfont.svg#arialblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arialbold';
    src: url('../../../fonts/arial_bold-webfont.eot');
    src: url('../../../fonts/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial_bold-webfont.woff2') format('woff2'),
         url('../../../fonts/arial_bold-webfont.woff') format('woff'),
         url('../../../fonts/arial_bold-webfont.ttf') format('truetype'),
         url('../../../fonts/arial_bold-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@a: 'arialregular';
@ab: 'arialblack';
@abold: 'arialbold';

@text-on-buttons: #fff;

@blue: #09b6b0;
@orange: #d64b6f;
@yellow: #275a9f;
@green: #ffb119;

@circles-on-light: #999;
@circles-on-dark: #2a6742;
@x-hover: #30c76c;

@range: #28ab5c;
@handle: #ee4a39;
@back-range: #cccccc;
@check: #ee4a39;

@circle: #fff;

@red: #ee4a39;
@red-light: #ff6050;
@pink: #b4483d;

@blue-dark: #28ab5c;
@blue-dark-back: #4d996b;
@left-thing: #28ab5c;
@border-bottom-left-thing: #1d8145;
@left-thing-form-search: #fff;

@left-thing-top: #d03f30;

@white: #fff;
@black: #000;

@grey: #aab1b8;
@grey-dark: #888; 
@grey-light: #d5d5d5; 

@top-back: #28ab5c;


@grey-car-border: #aaa;
@grey-social-border: #aaa;
@grey-strelki: #aaa;
@grey-button: #aaa;
@grey-button-hover: #b3bbc3;
@grey-hover: #888888;

@grey-select: #f3f3f3;
@grey-select-drop-text: #aaa;
@grey-select-border: #aaa;
@grey-select-text: #aaa;
@grey-select-border-hover: #888;
@grey-select-text-hover: #888;

@grey-tabs: #999;
@grey-back-blocks: #e7e7e7;
@grey-cart-tabs: #aaa;

@grey-cart-bottom: #eeeff1;

@grey-email-border: #969696;
@grey-email-text: #999;

@grey-nums: #aaa;

@icon-element: #ee4a39;


@width: 1201px;

@base-url: "/local/templates/.default/theme/green_red/images";


.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

* {
    padding: 0;
    margin: 0;
}

body {
	font-family: @a;
	color: @black;
	font-size: 13px;
	background: @white;
	padding: 0px;
	opacity: 0.999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @a;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px;
}

a {
	color: @black;
	text-decoration: none;
	
	outline: none;
	outline-offset: none;
	
	&:hover, &:visited, &:focus, &:active {
		outline: none;
		outline-offset: none;	
	}
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
	margin:0px 0px 10px;
}

.clear-all {
    height: 1px;
    overflow: hidden;
    width: 100%;
	color: @white;
	clear: both;
}

.ui-loader {
    display: none;
}


@import "../../../less/index.less"; 
@import "../../../less/forms.less";         // forms
@import "../../../less/news.less";          // news
@import "../../../less/inner-cart.less";    // inner-cart
@import "../../../less/inner_catalog.less"; // inner_catalog
@import "../../../less/inner-cart2.less";   // inner-cart2
@import "../../../less/inner_product.less"; // inner_product
@import "../../../less/inner-cart3.less";   // inner-cart3
@import "../../../less/inner_actions.less"; // inner_actions
@import "../../../less/inner_profile.less"; // inner_profile
@import "../../../less/inner_compare.less"; // inner_compare
@import "../../../less/inner_search.less";  // inner_search
@import "../../../less/style.less";  // style