@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.eot');
    src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff'),
         url('../fonts/arial-webfont.ttf') format('truetype'),
         url('../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arialblack';
    src: url('../fonts/ariblk-webfont.eot');
    src: url('../fonts/ariblk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ariblk-webfont.woff2') format('woff2'),
         url('../fonts/ariblk-webfont.woff') format('woff'),
         url('../fonts/ariblk-webfont.ttf') format('truetype'),
         url('../fonts/ariblk-webfont.svg#arialblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arialbold';
    src: url('../fonts/arial_bold-webfont.eot');
    src: url('../fonts/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_bold-webfont.woff2') format('woff2'),
         url('../fonts/arial_bold-webfont.woff') format('woff'),
         url('../fonts/arial_bold-webfont.ttf') format('truetype'),
         url('../fonts/arial_bold-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@a: 'arialregular';
@ab: 'arialblack';
@abold: 'arialbold';

@text-on-buttons: #fff;

@blue: #322def;
@orange: #ff7a29;
@yellow: #ffd905;
@green: #19ca6c;

@circles-on-light: #aab1b8;
@circles-on-dark: #0d1e37;
@x-hover: #2d60a3;

@range: #2f415a;
@handle: #d8192b;
@back-range: #d4d6d9;
@check: #d8192b;

@circle: #000;

@red: #d8192b;
@red-light: #f7273a;
@pink: #e34655;

@blue-dark: #264f85;
@blue-dark-back: #2f415a;
@left-thing: #2f415a;
@border-bottom-left-thing: #1f2f45;
@left-thing-form-search: #8d9fb8;


@left-thing-top: #ec3849;

@white: #fff;
@black: #000;

@grey: #aab1b8;
@grey-dark: #888; 
@grey-light: #d5d5d5; 

@top-back: #2f415a;

@grey-tabs: #aab1b8;
@grey-car-border: #aab1b8;
@grey-button: #aab1b8;
@grey-button-hover: #b3bbc3;
@grey-social-border: #aab1b8;
@grey-strelki: #aab1b8;
@grey-hover: #889199;

@grey-select: #f2f3f5;
@grey-select-drop-text: #7b8187;
@grey-select-border: #aab1b8;
@grey-select-text: #8a8f94;
@grey-select-border-hover: #889199;
@grey-select-text-hover: #7a8086;

@grey-cart-bottom: #eeeff1;

@grey-back-blocks: #eeeff1;
@grey-cart-tabs: #acb3ba;
@grey-email-border: #a7aeb4;
@grey-email-text: #aab1b8;
@grey-nums: #999fa6;

@icon-element: #d8192b;

@width: 1201px;

@base-url: "/local/templates/.default/images";



.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

* {
    padding: 0;
    margin: 0;
}

body {
	font-family: @a;
	color: @black;
	font-size: 13px;
	background: @white;
	padding: 0px;
	opacity: 0.999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @a;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px;
}

a {
	color: @black;
	text-decoration: none;
	
	outline: none;
	outline-offset: none;
	
	&:hover, &:visited, &:focus, &:active {
		outline: none;
		outline-offset: none;	
	}
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
	margin:0px 0px 10px;
}

.clear-all {
    height: 1px;
    overflow: hidden;
    width: 100%;
	color: @white;
	clear: both;
}

.ui-loader {
    display: none;
}

@import "../less/index.less";
@import "../less/forms.less";         // forms
@import "../less/news.less";          // news
@import "../less/inner-cart.less";    // inner-cart
@import "../less/inner_catalog.less"; // inner_catalog
@import "../less/inner-cart2.less";   // inner-cart2
@import "../less/inner_product.less"; // inner_product
@import "../less/inner-cart3.less";   // inner-cart3
@import "../less/inner_actions.less"; // inner_actions
@import "../less/inner_profile.less"; // inner_profile
@import "../less/inner_compare.less"; // inner_compare
@import "../less/inner_search.less";  // inner_search
@import "../less/style.less";  // style