input, textarea {
	color: @grey-dark;
}
input:focus, textarea:focus {
	color: #333 !important;
}
input.error, textarea.error {
	color: #ec1e24 !important;
	border-color: #ec1e24 !important;
	box-shadow: none !important;
}
.window-inside {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.windows-form {
	display: block; //
	top: 50%;
    overflow: visible;
    left: 50%;
    position: absolute;
    z-index: 10001;
    background: @white;
    box-shadow: 0px 0px 15px 0px rgba(5, 5, 5, 0.15);
    margin-left: -160px;
    width: 320px;
    opacity: 0;
    .close {
    	display: block;
    	width: 35px;
    	height: 35px;
    	position: absolute;
    	right: -17px;
    	top: -17px;
    	background: url("@{base-url}/close-form.png") @blue-dark no-repeat center center;
    	border-radius: 20px;
        transition: 0.5s;
    }
    .close:hover {
    	background-color: @x-hover;
        transition: 0.5s;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
    }
    .caption {
    	font-size: 22px;
    	font-family: @abold;
    	text-align: center;
    	text-transform: inherit;
    	padding: 12px 0 13px;
    }
    .slide-div {
    	padding: 25px 30px 20px;
    	border-top: 1px solid #dbdcde;
    	.input-box {
    		position: relative;
	    	input {
				background: none repeat scroll 0 0 @grey-select;
				border: none;
				border-radius: 5px;
				color: #666666;
				font-family: @a;
				font-size: 13px;
				padding: 0 12px;
				width: 236px;
				margin: 0;
				height: 45px;
				display: block;
				letter-spacing: 0.1px;
                box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.07);
	    	}
	    	.error {
	    		border: 2px solid #ec1e24;

	    	}
			input:focus {
				color: #333;
			}
	    	.first {
	    		border-radius: 5px 5px 0 0;
	    		box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.07);
	    		border-bottom: 1px solid #dbdcde;
	    	}
	    	.last {
	    		border-radius: 0 0 5px 5px;
	    		box-shadow: none;
	    		margin: 0 0 15px;
	    		border-bottom: none;
	    	}
    		.password {
    			position: absolute;
    			right: 8px;
    			top: 16px;
    			font-size: 12px;
    			color: @blue-dark;
    		}
    	}
	    .button {
		    background: @red;
		    border-radius: 4px;
		    color: @white;
		    display: block;
		    font-size: 11px;
		    font-family: @abold;
		    letter-spacing: 1.5px;
		    padding: 15px 0 14px 3px;
		    text-align: center;
		    text-transform: uppercase;
		    width: 258px;
		}
		.button:hover {
			background: @red-light;
		}
		.button-grey {
			background: @grey;
		}
		.button-grey:hover {
			background: #b3bbc3;
		}
		p {
			text-align: center;
			font-size: 13px;
			line-height: 10px;
		}
    }
    .slide-div-last {
    	padding: 17px 30px 29px;
    }
}
.windows-login {
    display: none;
    .slide-div {
    	.input-box {
			.error {
				height: 42px;
				border: 2px solid #ec1e24;
				width: 232px;
			}
			.last.error {
				height: 41px;
			}
		}
    }

}
.windows-register {
	display: none;
	.slide-div {
		.input-box {
			input {
				border-radius: 0;
				border-bottom: 1px solid #dbdcde;
				box-shadow: none;
			}
			.error {
				height: 42px;
				border: 2px solid #ec1e24;
				width: 232px;
			}
			.last.error {
				height: 41px;
			}
		}
		.button {
			padding: 15px 0 14px 8px;
			width: 252px;
		}
	}
	.slide-div-last {
		padding: 20px 30px 30px;
		.button {
		    padding: 15px 0 14px 4px;
		    width: 256px;
		}
	}
}
.windows-forgot {
	display: none;
	.slide-div {
		padding: 25px 30px 30px;
		.input-box {
			margin: 0 0 15px;
			.first {
				border-radius: 5px;
				border: none;
			}
			.error {
				height: 41px;
				width: 232px;
				border: 2px solid #ec1e24;
			}
		}
	}
}
.windows-call {
	display: none;
	.slide-div {
		padding: 25px 30px 30px;
		.input-box {
			margin: 0 0 10px;
			input {
				height: 46px;
				letter-spacing: 0.8px;
			}
			.error {
				height: 42px;
				width: 232px;
			}
		}
		.button {
			margin: 14px 0 0;
		}
	}
}
.windows-buy1click {
	display: none;
	.slide-div {
		padding: 17px 30px 30px;
		p {
			text-align: left;
			line-height: 18px;
			letter-spacing: 0.1px;
		}
		.input-box {
			margin: 0 0 10px;
			input {
				height: 46px;
				letter-spacing: 0.8px;
			}
			.error {
				height: 42px;
				width: 232px;
			}
		}
		.button {
			margin: 15px 0 0;
		}
	}
}

.windows-reviews {
	display: none;
	.slide-div {
		padding: 25px 30px 29px;
		p {
			text-align: left;
			line-height: 18px;
			letter-spacing: 0.1px;
			font-size: 13px;
			margin: 0 0 16px;
			float: left;
		}
		.rating {
            height: 20px;
            
            float: left;
            height: 20px;
            width: 105px;
            position: relative;
            background: url("@{base-url}/stars.jpg") no-repeat scroll 1px -19px rgba(0, 0, 0, 0);
            margin: -1px 0 0 6px;
            
            a {
                display: block;
                height: 17px;
                position: absolute;
                left: 0px;
                table-layout: 0px;
                
                &:hover {
                    background: url("@{base-url}/stars.jpg") no-repeat scroll 1px 0px rgba(0, 0, 0, 0);
                }
                
                &.selected {
                    background: url("@{base-url}/stars.jpg") no-repeat scroll 1px 0px rgba(0, 0, 0, 0);
                }
                
            }
            .rate1 {
                width: 21px;
            }
            .rate2 {
                width: 42px;
                background-position: 1px 0px;
            }
            .rate3 {
                width: 63px;
                background-position: 1px 0px;
            }
            .rate4 {
                width: 84px;
                background-position: 1px 0px;
            }
            .rate5 {
                width: 105px;
                background-position: 1px 0px;
            }
        }
		.input-box {
			margin: 0 0 10px;
			input {
				height: 46px;
				letter-spacing: 0;
			}
			input.error {
				height: 42px;
				width: 232px;
			}
			textarea {
				background: none repeat scroll 0 0 #f2f3f5;
				border: none;
				border-radius: 5px;
				color: #666666;
				font-family: @a;
				font-size: 13px;
				width: 236px;
				margin: 0;
				height: 154px;
				display: inline-block;
				letter-spacing: 0.1px;
				box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.07);
				resize: none;
				padding: 16px 12px;
			}
			textarea.error {
				width: 232px;
				height: 150px;
			}
		}
		.download {
			font-size: 13px;
			color: @blue-dark;
			background: url("@{base-url}/background-download.png") no-repeat 0 4px;
			display: block;
			padding: 25px 0 22px 69px;
		}
		.button {
			margin: 15px 0 0;
		}
	}
}
.windows-edit {
	display: none;
	.slide-div {
		padding: 25px 30px 30px;
		.input-box {
			margin: 0 0 10px;
			input {
				height: 46px;
				letter-spacing: 0.15px;
			}
			.error {
				height: 42px;
				width: 232px;
			}
		}
		.button {
			margin: 15px 0 0;
		}
	}
}
.windows-edit-password {
	display: none;
	.slide-div {
		padding: 25px 30px 30px;
		.input-box {
			margin: 0 0 10px;
			input {
				height: 46px;
				letter-spacing: 0.15px;
			}
			.error {
				height: 42px;
				width: 232px;
			}
		}
		.button {
			margin: 15px 0 0;
		}
	}
}
.windows-favorites {
	width: 960px;
	margin-left: -480px;
	display: none;
	.close {
		right: -19px;
	}
	.caption {
		margin: 0 0 0 -20px;
		padding: 22px 0 20px;
	}
	.cart-items {
		margin: 0 auto 25px;
		.cart-item {
			padding: 26px 0 32px;
			.product-info-container {
				.c-name {
					margin: 10px 15px 0 0;
				}
				.c-price {
					margin: 29px 0 0;
					.n-price {
						margin: 0 0 4px;
					}
					.price {
						line-height: 22px;
					}
				}
				.c-tprice {
					margin: 29px 0;
					width: 169px;
					float: left;
				}
				.c-buy {
					margin: 38px 0 0;
					float: left;
					a {
						color: @white;
						font-family: @abold;
						background: @red;
						font-size: 11px;
						display: inline-block;
						text-transform: uppercase;
						padding: 10px 11px 10px 12px;
						border-radius: 4px;
						letter-spacing: 1.4px;
					}
				}
			}
		}
	}
}
.windows-history {
	display: none;
	margin-left: -170px;
	.slide-div {
		padding: 23px 30px 11px;
		.order {
			line-height: 15px;
			margin: 0 0 14px;
			.order-r1 {
				.number {
					letter-spacing: -0.65px;
				}
				.date {
					float: left;
				}
			}
			.order-r2 {
				.status {
					float: left;
				}
			}
		}
	}
}
.windows-history-order {
	display: none;
	margin-left: -170px;
	.caption {
		padding: 12px 0 0;
	}
	.caption-date {
		text-align: center;
		color: #666666;
		font-size: 13px;
		margin: -2px 0 15px;

	}
	.slide-div {
		padding: 27px 30px 2px;
		.description {
			display: inline-block;
			margin: 0 0 12px;
			span {
				font-size: 13px;
				color: #666;
				display: block;
				float: left;
				margin: 0 5px 0 0;
			}
			.title {
				font-family: @abold;
				float: left;
				color: @black;
			}
		}
		.bx_searche {
            border-bottom: 1px solid @grey-light;
            padding: 0;
            margin: -12px 0 22px;
            
            &:last-child {
                border: none;
            }
            
            h4 {
                font-size: 13px;
                font-family: @abold;
                margin-bottom: 8px;
                text-transform: inherit;
            }
            
            .bx_item_block {
                margin-bottom: 14px;
                
                .bx_image {
                    float: left;
                    height: 50px;
                    margin: 0 6px 10px -3px;
                    position: relative;
                    top: 4px;
                    width: 52px;
                }
                
                .bx_item_element {
                    padding-top: 3px;
                    span {
                        display: block;
                        font-size: 14px;
                        height: auto;
                        left: 0;
                        position: relative;
                        text-align: left;
                        top: 2px;
                        width: auto;
                        background: none;
                    }
                    .number {
                    	font-size: 11px;
                    	color: @grey-dark;
                    	line-height: 12px;
                    }
                }
            }
            .bx_item_block.others_result {
                margin-bottom: 6px;
                
                .bx_image {
                    display: none;
                }
                
                .bx_item_element {
                    padding-top: 0px;
                    
                    span {
                        display: none;
                    }
                }
            }
        }
	}
}
.windows-edit-address {
	display: none;
	margin-left: -170px;
	.slide-div {
		padding: 25px 30px 30px;
		.input-box {
			margin: 0 0 10px;
			input {
				height: 46px;
				letter-spacing: 0.15px;
			}
			.error {
				height: 42px;
				width: 232px;
			}
		}
		.button {
			margin: 15px 0 0;
		}
	}
}
.windows-delete {
	display: none;
	margin-left: -170px;
	.slide-div {
		border: none;
		background: url("@{base-url}/background-delete.png") no-repeat center 35px;
		padding: 169px 30px 20px;
		overflow: hidden;
		p {
			font-size: 14px;
			letter-spacing: -0.1px;
			line-height: 22px;
			margin: 0 0 22px 4px;
		}
		.button {
			width: 122px;
			float: left;

		}
		.button-grey {
			margin: 0 10px 0 0;
		}
	}
}

.windows-done {
	display: none;
	margin-left: -170px;
	.slide-div {
		border: none;
		background: url("@{base-url}/background-done.png") no-repeat center 35px;
		padding: 169px 30px 30px;
		overflow: hidden;
		p {
			font-size: 14px;
			letter-spacing: -0.1px;
			line-height: 22px;
			margin: 0 0 2px 4px;
		}
		.details {
			color: #666;
			font-size: 13px;
			margin: 0 0 13px 3px;
			letter-spacing: 0.2px;
			line-height: 21px;
		}
		.button {
		}
	}
}

.windows-photo {
	display: none;
	margin-left: -384px;
	width: 770px;
	.slide-div {
		border: none;
		overflow: hidden;
		padding: 22px 79px 16px;
		.photo-part {
			border: none;
			.carousel {
				margin: 37px auto 0;
			}
		}
	}
}



.inner-catalog.forms-page  {
    margin-bottom: -128px;
    
    .decription {
        padding: 120px 0;
    }
    .windows-form {
        position: relative;
        opacity: 1;
        display: block;
        box-shadow: 0 0 7px 0 rgba(5, 5, 5, 0.1);
        .close {
            display: none;
        }
    }
}
