header {
    position: relative;
    z-index: 200;
}
.phone-menu {
    display: none;
    
    background: url("@{base-url}/icons.png") no-repeat scroll left -974px rgba(0, 0, 0, 0);
    height: 19px;
    left: 0px;
    position: absolute;
    top: 17px;
    width: 23px;
}
.phone-nav-tabs {
    display: none;
}
.top-blue-line {
    height: 35px;
    background: @top-back;
    position: relative;
    z-index: 3;
    
    .top-blue-line-inner {
        width: @width;
        //overflow: hidden;
        margin: 0px auto;
        
        nav {
            float: left;
            
            .menu-top {
                margin-left: 2px;
            }
            
            ul li {
                float: left;
                
                a {
                    color: @white;
                    display: block;
                    height: 35px;
                    line-height: 34px;
                    margin-right: 32px;
                    text-decoration: none;

                    &:hover {
                        color: @pink;
                    }
                }
            }
        }
        
        .links {
            float: right;
            width: 334px;
            
            li {
                float: left;
                height: 35px;
                
                &.favorite {
                    width: 133px;

                    a {
                        color: @white;
                        display: block;
                        height: 35px;
                        line-height: 34px;
                        padding-left: 24px;
                        background: url("@{base-url}/icons.png") no-repeat 2px 10px;
                        
                        &:hover {
                            color: @pink;
                        }
                    }
                }

                &.personal {
                    width: 201px;
                    text-align: center;
                    background: @red;

                    .login {
                        color: @text-on-buttons;
                        line-height: 34px;
                        //padding: 2px 23px 3px 25px;
                        padding: 2px 4px 3px 25px;
                        background: url("@{base-url}/icons.png") no-repeat left -42px;
                        position: relative;
                    }
                }
                .user {
                    box-shadow: 0px 1px 5px 0px rgba(5, 5, 5, 0.4);
                    padding: 12px 14px 2px;
                    display: none;
                    background: @white;
                    position: relative;
                    a {
                        color: @black;
                        text-align: left;
                        display: block;
                        font-size: 13px;
                        margin: 0 0 9px;
                    }
                }
                .user:after {
                    border-color: transparent transparent @white transparent;
                    border-style: solid;
                    border-width: 7px;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: -13px;
                    //left: 94px;
                    left: 50%;
                    margin: 0 0 0 -5.5px;
                    content: '';

                }
                &.personal:hover {
                    background: @red-light;
                    /*.login {
                        padding: 2px 24px 3px 25px;
                    }*/
                    a:before {
                        display: block;
                    }
                    .user {
                        display: block;
                    }
                }

            }
        }
    }
}
.top-info-line {
    width: @width;
    height: 94px;
    position: relative;
    margin: 0px auto 53px;
    
    .logo {
        display: block;
        position: absolute;
        left: 0px;
        top: 20px;
        width: 303px;
        height: 57px;
        overflow: hidden;
    }
    
    .form-search {
        display: block;
        height: 54px;
        left: 353px;
        overflow: hidden;
        position: absolute;
        top: 28px;
        width: 352px;
        
        input {
            border: 2px solid @blue-dark;
            border-radius: 7px;
            color: @blue-dark;
            font-family: @a;
            height: 33px;
            padding-left: 29px;
            position: relative;
            width: 317px;
        }
        
        span {
            background: url("@{base-url}/icons.png") no-repeat left -96px;
            height: 14px;
            left: 13px;
            position: absolute;
            top: 12px;
            width: 14px;
        }
    }
    
    .phone-block {
        display: block;
        position: absolute;
        right: 241px;
        top: 31px;
        width: 164px;
        height: 35px;
        padding-left: 29px;
        background: url("@{base-url}/icons.png") no-repeat left -150px;
        
        span {
            display: block;
            font-size: 19px;
            letter-spacing: 0.6px;
            line-height: 17px;
        }
        
        a {
            color: @blue-dark;
        }
    }
    
    .cart-block {
        display: block;
        position: absolute;
        right: 0px;
        top: 31px;
        width: 157px;
        height: 35px;
        overflow: hidden;
        padding-left: 45px;
        background: url("@{base-url}/icons.png") no-repeat left -222px;
        
        span {
            font-size: 16px;
            display: block;
            line-height: 14px;
            margin-bottom: 2px;
        }
        
        a {
            color: #666;
            
            &:hover {
                color: @blue-dark;
            }
            
            b {
                font-weight: normal;
            }
        }
    }
}
.main-catalog {
    position: absolute;
    top: 129px;
    width: 100%;
    left: 0px;
    border-top: 1px solid @grey-light;
    height: 52px;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
    
    ul {
        margin: 0px auto;
        width: @width;
        position: relative;
        
        li {
            float: left;
            margin-right: 37px;
            
            a {
                display: block;
                font-family: @abold;
                font-size: 14px;
                height: 52px;
                letter-spacing: 0.1px;
                line-height: 51px;
                position: relative;
                
                &:hover {
                    color: @blue-dark;
                }
                
                &.selected:before {
                    border-bottom: 9px solid @grey-back-blocks;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    bottom: 0;
                    content: "";
                    left: 50%;
                    margin-left: -9px;
                    position: absolute;
                }
            }
            
            &.etc {
                margin: 0;
                position: absolute;
                right: 0px;
            top: -1px;
                
                a {
                    height: 53px;
                    width: 36px;
                    
                    &:before {
                        border: 2px solid @black;
                        border-radius: 8px;
                        content: "";
                        height: 5px;
                        left: 0;
                        margin-left: 3px;
                        margin-top: 21px;
                        padding: 0;
                        position: absolute;
                        top: 0;
                        width: 5px;
                    }
                    
                    &:hover {
                        &:before {
                            border: 2px solid @blue-dark;
                        }
                    }
                }
                
                &:before {
                    border: 2px solid @black;
                    border-radius: 8px;
                    content: "";
                    height: 5px;
                    left: 12px;
                    margin-left: 3px;
                    margin-top: 21px;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    width: 5px;
                }
                &:after {
                    border: 2px solid @black;
                    border-radius: 8px;
                    content: "";
                    height: 5px;
                    left: 24px;
                    margin-left: 3px;
                    margin-top: 21px;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    width: 5px;
                }
                
                &:hover {
                    
                    a:before {
                        border: 2px solid @blue-dark;
                    }
                    &:before {
                        border: 2px solid @blue-dark;
                    }
                    &:after {
                        border: 2px solid @blue-dark;
                    }
                }
            }
        }
    }
}
.nav-dop {
    background: none repeat scroll 0 0 @grey-back-blocks;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
    display: none;
    padding-bottom: 27px;
    padding-top: 34px;
    position: absolute;
    width: 100%;
    z-index: 201;
    
    display: none;
    
    .outer {
        margin: 0 auto;
        overflow: hidden;
        width: @width;
    }
    
    .li {
        float: left;
        font-size: 15px;
        letter-spacing: 0.1px;
        width: 240px;
        color: @black;
        
        &:last-child {
            margin-right: 0px;
        }
        
        .href-li {
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0px;
        }
        
        .inner {
            margin-top: 9px;
            
            li {
                float: none;
                font-size: 13px;
                margin-bottom: 10px;
                color: #666;
                
                a {
                    color: #666;
                    
                    &:hover {
                        color: @blue-dark;
                    }
                }
            }
        }
        
        a:hover {
            color: @blue-dark;
        }
    }
}
.carousel-caption {
    display: block;
    left: 50%;
    margin: 0 auto 0 -604px;
    padding: 165px 0 0;
    right: auto;
    text-align: left;
    text-shadow: none;
    top: auto;
    width: @width;
    position: relative;
    
    .header {
        color: @black;
        font-family: @ab;
        font-size: 55px;
        letter-spacing: 0.2px;
        margin: 0;
    }
    
    .text {
        color: #555;
        font-size: 17px;
        line-height: 25px;
        /* margin: -5px 0 30px 2px; */
        margin: -5px 0 0px 2px;
        width: 400px;
    }
}
.carousel-caption + .red-button {
    left: 50%;
    margin: 0 auto 0 -604px;
    position: relative;
}
.item.black .carousel-caption {
    .header {
        color: @white;
    }
    
    .text {
        color: @white;
    }
}
.red-button {
    background: @red;
    border-radius: 5px;
    color: @text-on-buttons;
    display: block;
    float: left;
    font-family: @abold;
    letter-spacing: 0.7px;
    padding: 13px 21px 12px 22px;
    text-transform: uppercase;
    
    &:hover {
        background: @red-light;
    }
}

input.red-button {
    border: none;
}

.grey-button {
    background: @grey-button;
    color: @white;
    
    &:hover {
        background: @grey-button-hover;
    }
}
.carousel-indicators {
    bottom: 53px;
    
    li {
        background-color: @white;
        border: 2px solid @white;
        height: 7px;
        margin: 1px 3px;
        width: 7px;
        
        &:hover {
            background: transparent;
        }
        &.none {
            display: none;
        }
    }
    .active {
        background-color: transparent;
        border: 2px solid @red;
        height: 7px;
        margin: 1px 3px;
        width: 7px;
    }
}
#carousel1 {
    height: 574px;
    .carousel-inner .item {
        height: 574px;
    }
    .carousel-inner .item img {
        height: 574px;
        left: 50%;
        margin-left: -950px;
        width: 1900px;
        position: absolute;
        top: 0px;
        
        &.slider-img {
            display: none;
        }
        &.slider-img1 {
            display: block;
        }
    }
    
    
    .carousel-control.left span, .carousel-control.right span {
        background: url("@{base-url}/icons.png");
        width: 55px;
        height: 108px;
        display: block;
        margin-top: -54px;
        top: 50%;
        position: absolute;
    }
    .carousel-control.left {
        background: none;
        span {
            background-position: 0px -724px;
            left: 50%;
            right: auto;
            margin-left: -27px;
        }
    }
    .carousel-control.right {
        background: none;
        span {
            background-position: -85px -724px;
            left: auto;
            right: 50%;
            margin-right: -27px;
        }
    }
    
    .carousel-indicators {
        li {
            background: none;
            border: none;
            //height: 17px;
            //width: 17px;
            height: 21px;
            width: 21px;
            position: relative;
            margin: 0;
            margin: 0 -2px;
        }
        li:before {
            background-color: @white;
            border: 2px solid @white;
            height: 7px;
            //margin: 1px 3px;
            width: 7px;
            content: '';
            position: absolute;
            //top: 0;
            //top: 3px;
            top: 6px;
            //left: 0;
            //left: 3px;
            left: 5px;
            border-radius: 10px;
        }
        li:hover:before {
            background: transparent;
        }
        .active:before {
            background-color: transparent;
            border: 2px solid @red;
            height: 7px;
            //margin: 1px 3px;
            width: 7px;
        }
    }
    
}
.content-main #carousel2 {
    margin: -42px auto 0;
    
    .carousel-indicators {
        display: none;
        bottom: -53px;
    }
    /**/
    .carousel-indicators {
        li {
            background: none;
            border: none;
            //height: 17px;
            //width: 17px;
            height: 21px;
            width: 21px;
            position: relative;
            margin: 0;
            margin: 0 -2px;
        }
        li:before {
            background-color: #666;
            border: 2px solid #666;
            height: 7px;
            //margin: 1px 3px;
            width: 7px;
            content: '';
            position: absolute;
            //top: 0;
            //top: 3px;
            top: 6px;
            //left: 0;
            //left: 3px;
            left: 5px;
            border-radius: 10px;
        }
        li:hover:before {
            background: transparent;
        }
        .active:before {
            background-color: transparent;
            border: 2px solid @red;
            height: 7px;
            //margin: 1px 3px;
            width: 7px;
        }
    }
    .carousel-outer {
        margin: 0 auto 0;
        width: 1201px;
        height: 210px;
        overflow: hidden;
    }
    .carousel-inner {
        height: 210px;
        position: relative;
        width: 100000px;
        margin-left: -10px;
    }
    .carousel-inner .item span {
        background: @white;
        display: block;
        float: left;
        height: 210px;
        margin: 0 11px;
        width: 385px;
        position: relative;
    }
    .carousel-inner .item span:before {
        background: rgba(255,255,255,0.1);
        height: 0px;
        width: 385px;
        position: absolute;
        left: 0px;
        top: 0px;
        content: "";
        z-index: 1000;
        display: block;
    }
    .carousel-inner .item span:hover::before {
        height: 210px;
    }
    
    .carousel-control.left, .carousel-control.right {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.content-main #carousel2-1 {
    margin: -42px auto 0;
    display: none;
    /**/
    .carousel-indicators {
        li {
            background: none;
            border: none;
            height: 21px;
            width: 21px;
            position: relative;
            margin: 0;
            margin: 0 -2px;
        }
        li:before {
            background-color: @circles-on-light;
            border: 2px solid @circles-on-light;
            height: 7px;
            width: 7px;
            content: '';
            position: absolute;
            top: 6px;
            left: 5px;
            border-radius: 10px;
        }
        li:hover:before {
            background: transparent;
        }
        .active:before {
            background-color: transparent;
            border: 2px solid @red;
            height: 7px;
            //margin: 1px 3px;
            width: 7px;
        }
    }
    .carousel-outer {
        margin: 0 auto 0;
        width: 1201px;
        height: 210px;
        overflow: hidden;
    }
    .carousel-inner {
        height: 210px;
        position: relative;
        width: 100000px;
        margin-left: -10px;
    }
    .carousel-inner .item {
        background: @white;
        display: block;
        float: left;
        height: 190px;
        margin: 0 11px;
        padding: 0px;
        width: 348px;
        position: relative;
    }
    .carousel-inner .item span:before {
        background: rgba(255,255,255,0.1);
        height: 0px;
        width: 348px;
        position: absolute;
        left: 0px;
        top: 0px;
        content: "";
        z-index: 1000;
        display: block;
    }
    .carousel-inner .item:hover::before {
        height: 190px;
    }
    .carousel-inner .item img {
        line-height: auto;
        width: 348px;
        height: 190px;
        margin: 0px;
        padding: 0px;
        display: block;
        
        &:hover {
            opacity: 0.9;
        }
    }
    
    .carousel-control.left, .carousel-control.right {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.main-news {
    background: @blue-dark-back;
    margin-top: 61px;
    overflow: hidden;
    margin-bottom: 53px;
    
    &.news .news-inner {
        margin: 0 auto 85px;
    }
    
    h2 {
        color: @white;
        font-family: @ab;
        font-size: 24px;
        letter-spacing: 0.3px;
        margin-bottom: -8px;
        margin-top: 38px;
        text-align: center;
        text-transform: capitalize;
    }
}
.content-main #carousel3 {
    margin: 0px auto;
    overflow: hidden;
    .carousel-indicators {
        bottom: 29px;
        display: block;
        li {
            background: none;
            border: none;
            height: 21px;
            width: 21px;
            position: relative;
            margin: 0;
            margin: 0 -2px;
        }
        li:before {
            background-color: @circles-on-dark;
            border: 2px solid @circles-on-dark;
            height: 7px;
            width: 7px;
            content: '';
            position: absolute;
            top: 6px;
            left: 5px;
            border-radius: 10px;
        }
        li:hover:before {
            background-color: transparent;
        }
        .active:before {
            height: 7px;
            width: 7px;
            border: 2px solid @white;
            background-color: transparent;
        }
    }
    
    .carousel-outer {
        margin: 0 auto 0;
        width: 1198px;
        overflow: hidden;
    }
    .carousel-inner {
        height: 350px;
        position: relative;
        width: 100000px;
        margin-left: -11px;
    }
    .carousel-inner .item {
        display: block;
        float: left;
        margin: 0 11px;
    }
    
    .carousel-control.left span, .carousel-control.right span {
        background: url("@{base-url}/icons.png");
        width: 29px;
        height: 59px;
        display: block;
        margin-top: -27px;
        top: 50%;
        position: absolute;
    }
    .carousel-control.left {
        background: none;
        span {
            background-position: -155px -771px;
            left: 50%;
            right: auto;
            margin-left: -14px;
        }
    }
    .carousel-control.right {
        background: none;
        span {
            background-position: -190px -771px;
            left: auto;
            right: 50%;
            margin-right: -14px;
        }
    }
}

.catalog {
    margin: 0 auto;
    padding-top: 82px;
    width: @width;
    
    .nav.nav-tabs {
        border: medium none;
        height: 32px;
        margin-bottom: 15px;
        margin-left: 28px;
        text-align: center;
        
        li {
            display: inline-block;
            float: none;
            
            a {
                border: 2px solid @grey-tabs;
                border-radius: 25px;
                color: @grey-tabs;
                font-family: @abold;
                letter-spacing: 0.5px;
                margin: 0 3px;
                padding: 9px 15px 7px;
                text-transform: uppercase;
                transition: 0.5s;
                
                &:hover {
                    border: 2px solid @red;
                    color: @red;
                    transition: 0.5s;
                }
            }
            
            &.active a {
                background: none repeat scroll 0 0 @red;
                border: 2px solid @red;
                color: @text-on-buttons;
                position: relative;
                
                &:before {
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid @red;
                    bottom: -8px;
                    content: "";
                    left: 50%;
                    margin-left: -3px;
                    position: absolute;
                }
            }
        }
    }
}
.catalog .more {
    margin-top: 15px;
}
.dop-thing {
    border-radius: 3px;
    color: @white;
    display: block;
    float: left;
    font-family: @abold;
    font-size: 10px;
    letter-spacing: 0.6px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 100px;
    padding: 10.5px 7px;
    position: relative;
    text-transform: uppercase;
    top: -185px;

    &.new {
        background: @orange;
        line-height: 0;
    }
    &.hit {
        background: @green;
        line-height: 0;
    }
    &.discount {
        background: @blue;
        line-height: 0;
    }
    &.day {
        position: absolute;
        margin: 0px;
        
        background: none repeat scroll 0 0 @yellow;
        border-radius: 100px;
        color: @circle;
        font-size: 14px;
        height: 63px;
        left: auto;
        padding: 21px 0 0;
        right: 20px;
        text-align: center;
        top: 20px;
        width: 84px;

        span {
            display: block;
            font-size: 22px;
            font-family: @abold;
            line-height: 18px;
        }
    }
    &.hurry-up {
        position: absolute;
        margin: 0px;
        
        background: none repeat scroll 0 0 @yellow;
        border-radius: 100px;
        color: @circle;
        font-size: 16px;
        font-family: @abold;
        height: 57px;
        left: auto;
        padding: 23px 0 0;
        right: 117px;
        text-align: center;
        text-transform: capitalize;
        top: 20px;
        width: 80px;
        letter-spacing: 0.5px;

        span {
            display: block;
            font-size: 14px;
            font-family: @abold;
            line-height: 7px;
            text-transform: none;
        }
    }

}
.catalog-inner {
    padding: 1px 0px 0px 1px;
    
    .item {
        border: 1px solid @grey-light;
        height: 289px;
        width: 239px;
        text-align: center;
        margin: -1px 0px 0px -1px;
            transition: 0.8s;
        
        &:hover {
            border: 1px solid @blue-dark;
            z-index: 10;
            transition: 0.8s;
        }
        
        a {
            display: block;
            height: 289px;
            width: 239px;
            
            &:hover {
                
                img {
                    //opacity: 0.8;
                }
                .add2cart {
                    display: block;
                }
            }
        }
        
        .img-inside {
            display: block;
            height: 167px;
            padding: 35px 0px 0 0px;
            margin: 0px auto;
            width: 170px;
            
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        

        .add2cart {
            font-size: 10px;
            left: 48px;
            letter-spacing: 0.92px;
            padding: 0px 10px 0px;
            position: absolute;
            top: 88px;
            z-index: 10;
            /*display: none;*/
            width: auto;
            transition: 0.5s;
            height: 0px;
            overflow: hidden;
        }
            
        &:hover {
            .add2cart {
                display: block;
                padding: 10px 10px 8px;
                height: 14px;
                opacity: 0.8;
                transition: 0.5s;
            }
        }

        .add2cart:hover {
            opacity: 1;
        }
        
        &.item-big {
            height: 579px;
            width: 479px;
        
            a {
                height: 579px;
                width: 479px;
            }
                
            .add2cart {
                top: 233px;
                left: 162px;
                width: auto;
                height: 0px;
            }
            &:hover .add2cart {
                height: 14px;
            }
            
            .name {
                bottom: 132px;
                width: 439px;
            }
            .price {
                bottom: 89px;
                font-size: 22px;
                width: 479px;
                
                span {
                    font-size: 16px;
                }
            }
            
            .img-inside {
                height: 370px;
                width: 419px;
            }
        }
        
        &.item-medium {
            width: 479px;
        
            a {
                width: 479px;
                
                
            }
            .add2cart {
                top: 157px;
                left: 167px;
                width: auto;
                height: 0px;
            }
            &:hover .add2cart {
                height: 14px;
            }
            
            .img-inside {
                padding-left: 0px;
                margin: 0px auto;
            }
        }
        
        .name {
            bottom: 52px;
            color: @black;
            display: block;
            font-size: 14px;
            padding: 0 20px;
            position: absolute;
            text-align: center;
            width: 199px;
            
            &:hover {
                color: @red;
            }
        }
        .price {
            bottom: 20px;
            color: @blue-dark;
            display: block;
            font-size: 19px;
            position: absolute;
            text-align: center;
            width: 239px;
        }
        .old-price {
            color: #999;
            font-size: 14px;
            margin-left: 14px;
            text-decoration: line-through;
        }
        
        
    }
}
.catalog-inner .item.item-big .economy {
    background: @red;
    border-radius: 5px;
    bottom: 28px;
    height: 42px;
    left: 76px;
    position: absolute;
    width: 321px;
    
    &:before {
        background: url("@{base-url}/icons.png") no-repeat -273px -1px;
        bottom: 13px;
        content: "";
        height: 17px;
        left: 10px;
        position: absolute;
        width: 12px;
    }
    
    .price {
        background: none repeat scroll 0 0 #f5f5f5;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #dfdfdf;
        color: #666;
        font-size: 12px;
        height: 40px;
        left: 30px;
        top: 0;
        width: 108px;
        
        span {
            color: @black;
            display: block;
            margin-bottom: -4px;
            margin-top: 2px;
        }
    }
    
    .percent {
        background: @white;
        border: 1px solid #dfdfdf;
        border-radius: 0px 5px 5px 0px;
        color: #666;
        font-size: 12px;
        height: 40px;
        left: 138px;
        top: 0;
        width: 181px;
        position: absolute;
        
        .back {
            background: #c6c6c6;
            border-radius: 3px;
            display: block;
            height: 6px;
            margin: 9px 14px 6px;
            
            span {
                background: @red;
                border-radius: 3px;
                display: block;
                height: 6px;
            }
        }
    }
}
.preim {
    margin: 0 auto;
    overflow: hidden;
    width: @width;
    
    h2 {
        font-family: @ab;
        font-size: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 41px;
        text-align: center;
        text-transform: capitalize;
    }
    
    ul li {
        background: url("@{base-url}/preim.png") no-repeat left 0;
        display: block;
        float: left;
        font-size: 15px;
        padding: 115px 0 0;
        text-align: center;
        width: 229px;
        line-height: 22px;
        
        &.preim1 {
            margin-right: 77px;
            padding-left: 27px;
            background-position: 65px 0;
        }
        
        &.preim2 {
            margin-right: 77px;
            background-position: -268px 0;
        }
        
        &.preim3 {
            background-position: -574px 0;
        }
        
        &.preim4 {
            margin-left: 92px;
            width: 200px;
            background-position: -895px 0;
        }
    }
}

footer {
    border-top: 1px solid @grey-light;
    margin-top: 88px;
    
    .footer-inner-top-line {
        margin: 29px auto 30px;
        width: @width;
        overflow: hidden;
    }
}

.soc {
    float: left;
    font-size: 14px;
    
    ul {
        overflow: hidden;
        
        li {
            float: left;
            
            a {
                background: url("@{base-url}/icons.png") no-repeat scroll left -373px rgba(0, 0, 0, 0);
                border: 2px solid @blue-dark;
                border-radius: 30px;
                display: block;
                height: 30px;
                margin: 4px 7px 0 0;
                width: 30px;
            }
            
            &.fb a {
                background-position: 11px -373px;
                
                &:hover {
                    background-color: @blue-dark;
                    background-position: 11px -452px;
                }
            }
            &.vk a {
                background-position: -30px -373px;
                
                &:hover {
                    background-color: @blue-dark;
                    background-position: -30px -452px;
                }
            }
            &.ok a {
                background-position: -71px -373px;
                
                &:hover {
                    background-color: @blue-dark;
                    background-position: -71px -452px;
                }
            }
            &.tw a {
                background-position: -112px -373px;
                
                &:hover {
                    background-color: @blue-dark;
                    background-position: -112px -452px;
                }
            }
            &.gp a {
                background-position: -153px -373px;
                
                &:hover {
                    background-color: @blue-dark;
                    background-position: -153px -452px;
                }
            }
        }
    }
}

.podp {
    float: left;
    font-size: 14px;
    margin-left: 216px;
    
    input[type="text"] {
        border: 2px solid @grey-email-border;
        border-radius: 3px;
        float: left;
        font-family: @a;
        height: 32px;
        letter-spacing: 0.5px;
        margin-top: 6px;
        padding-left: 8px;
        width: 236px;
        color: @grey-email-text;
        font-size: 13px;
    }
    
    .red-button {
        border: medium none;
        border-radius: 3px;
        font-size: 11px;
        letter-spacing: 0.8px;
        margin: 6px 0 0 6px;
        padding: 11px 9px 8px 10px;
        height: 36px;
    }
}

.money {
    float: right;
    font-size: 14px;
    width: 279px;

    
    ul {
        overflow: hidden;
        margin-top: 8px;
        
        li {
            float: left;
            
            a {
                background: url("@{base-url}/icons.png") no-repeat scroll left -664px rgba(0, 0, 0, 0);
                display: block;
            }
            
            &.visa a {
                background-position: 0 -664px;
                height: 29px;
                margin-right: 20px;
                width: 51px;
            }
            &.mc a {
                background-position: -71px -664px;
                width: 48px;
                height: 29px;
                margin-right: 20px;
            }
            &.ya a {
                background-position: -139px -664px;
                width: 61px;
                height: 29px;
                margin-right: 21px;
            }
            &.qiwi a {
                background-position: -221px -664px;
                width: 57px;
                height: 29px;
            }
        }
    }
}
.nav-block {
    background: none repeat scroll 0 0 @grey-back-blocks;
    
    .nav-block-inner {
        margin: 0 auto;
        overflow: hidden;
        padding-top: 29px;
        width: @width;
        padding-bottom: 22px;
    }
    
    .contacts {
        float: left;
        width: 312px;
        
        .logo {
            display: block;
            height: 44px;
            overflow: hidden;
            
            img {
                margin-top: -106px;
            }
        }
        
        .phone-block {
            margin-bottom: 21px;
            margin-top: 21px;
            
            span {
                display: block;
                font-size: 22px;
                letter-spacing: 0.6px;
                margin-bottom: -2px;
            }
            
            a {
                color: @blue-dark;
                font-size: 13px;
                letter-spacing: 0.1px;
            }
        }
        
        .email {
            color: @blue-dark;
            font-size: 16px;
            letter-spacing: -0.1px;
        }
    }
}
.nav-block-inner nav {
    float: left;
    margin-top: 4px;
    overflow: hidden;
    width: 889px;
    
    .li {
        float: left;
        font-size: 15px;
        letter-spacing: 0.1px;
        margin-right: 104px;
        color: @black;
        
        &:last-child {
            margin-right: 0px;
        }
        
        .inner {
            margin-top: 11px;
            
            li {
                float: none;
                font-size: 13px;
                margin-bottom: 12px;
                color: #666;
                
                a {
                    color: #666;
                    
                    &:hover {
                        color: @blue-dark;
                    }
                }
            }
        }
        
        a:hover {
            color: @blue-dark;
        }
    }
}
.copyright {
    color: #666;
    margin: 0 auto;
    overflow: hidden;
    padding: 23px 0 21px;
    width: @width;
    
    .madeby {
        color: @black;
        float: right;
        font-size: 13px;
        letter-spacing: 0.2px;
        
        a {
            color: @blue-dark;
        }
    }
}

.product-tile-sale {
    bottom: 33px;
    position: absolute;
    right: 30px;
}
.product-tile-sale:before, .product-tile-sale:after {
    content: "";
    display: table;
    line-height: 0;
}
.product-tile-sale:after {
    clear: both;
}
.product-tile-sale .count-down-timer {
    background: none repeat scroll 0 0 #f5f5f5;
    border-radius: 8px;
    cursor: default;
    display: table;
    width: 100%;
}
.product-tile-sale .count-down-timer-cell, .product-tile-sale .count-down-timer-separator, .product-tile-sale .count-down-timer-label, .product-tile-sale .count-down-timer-amount {
    display: block;
    float: left;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
.product-tile-sale .count-down-timer-label {
    background: none repeat scroll 0 0 @blue-dark;
    border: 1px solid @blue-dark;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    width: 28px;
}
.product-tile-sale .ico-timer {
    background: url("@{base-url}/icons.png") no-repeat scroll -274px -45px rgba(0, 0, 0, 0);
    height: 22px;
    left: 5px;
    position: absolute;
    top: 10px;
    vertical-align: baseline;
    width: 20px;
}
.product-tile-sale .count-down-timer-qty, .product-tile-sale .count-down-timer-hours, .product-tile-sale .count-down-timer-minutes, .product-tile-sale .count-down-timer-seconds {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    margin: 2px 0 0;
}
.product-tile-sale .count-down-timer-hours, .product-tile-sale .count-down-timer-minutes, .product-tile-sale .count-down-timer-seconds {
    text-align: center;
    width: 30px;
}
.product-tile-sale .count-down-timer-abbr {
    color: #a3a3a3;
    display: block;
    font-size: 12px;
    position: relative;
    top: -4px;
}
.product-tile-sale .count-down-timer-separator {
    font-size: 15px;
    line-height: 37px;
    width: 9px;
}
.product-tile-sale .count-down-timer-amount {
    background: @white;
    border: 1px solid #dfdfdf;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 39px;
}
input[type="text"]:focus { 
    outline: none; 
}






/* ------------------------- right-block -------------------------------- */
.wrapper-all {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.wrapper.right-position {
    left: 220px;
    position: relative;
}
.right-slider-block {
    display: none;
}
.right-slider-block.opened {
    background: none repeat scroll 0 0 @grey-back-blocks;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 220px;
    z-index: 100;
    
    .filter {
        float: none;
        background: none;
    }
}
.right-slider-block.right-slider-block-filtr.opened {
   left: -220px;
 }
.right-slider-block.right-slider-block-main.opened {
    width: 260px;
    left: -260px;
    background: @left-thing;
    
    .links {
        width: 100%;

        li {
            height: 53px;

            &.personal {
                width: 100%;
                text-align: center;
                background: @red;

                .login {
                    background: url("@{base-url}/icons.png") no-repeat scroll 20px -1016px rgba(0, 0, 0, 0);
                    color: @text-on-buttons;
                    display: block;
                    font-size: 15px;
                    line-height: 34px;
                    padding: 9px 4px 10px 50px;
                    text-align: left;
                }
            }
        }
    }
    .main-menu.menu-cat a {
        background:  #eeeff1;
        border-bottom: 1px solid #cad0d5;
        display: block;
        font-size: 15px;
        padding: 14px 39px 16px 19px;
        position: relative;
        
        &:before {
            content: "";
            position: absolute;
            right: 19px;
            top: 17px;
            background:  url("@{base-url}/icons.png") no-repeat scroll -224px -979px;
            width: 8px;
            height: 15px;
        }
    }
    .main-menu.menu-dop a {
        background:  @left-thing;
        border-bottom: 1px solid @border-bottom-left-thing;
        display: block;
        font-size: 15px;
        padding: 14px 0 16px 19px;
        position: relative;
        color: @white;
        
        &:before {
            content: "";
            position: absolute;
            right: 19px;
            top: 17px;
            background:  url("@{base-url}/icons.png") no-repeat scroll -240px -979px;
            width: 8px;
            height: 15px;
        }
    }
    .form-search {
        display: block;
        height: 47px;
        margin: 20px 0 0 19px;
        overflow: hidden;
        position: relative;
        width: 260px;
        
        input {
            background: none repeat scroll 0 0 @border-bottom-left-thing;
            border: medium none;
            border-radius: 7px;
            color: @left-thing-form-search;
            font-family: @a;
            height: 47px;
            padding-left: 35px;
            position: relative;
            width: 184px;
            &:focus {
                color: #8d9fb8 !important;
            }
        }
        
        span {
            background: url("@{base-url}/icons.png") no-repeat -259px -979px;
            height: 14px;
            left: 14px;
            position: absolute;
            top: 16px;
            width: 14px;
        }
    }
}

.right-slider-block.right-slider-block-main.menu2.opened {
    background: #eeeff1;
}
.back2cat {
    border-bottom: 1px solid #cad0d5;
    display: block;
    font-size: 15px;
    padding: 14px 0 16px 37px;
    position: relative;
    color: @red;

    &:before {
        content: "";
        position: absolute;
        left: 19px;
        top: 16px;
        background:  url("@{base-url}/icons.png") no-repeat scroll -209px -979px;
        width: 8px;
        height: 15px;
    }
}

.right-slider-block.right-slider-block-main.menu3.opened .back2cat {
    border-bottom: 1px solid @border-bottom-left-thing;
    color: @left-thing-top;

    &:before {
        background: url("@{base-url}/icons.png") no-repeat scroll -193px -979px;
    }
}
.wrapper.right-position.main-menu {
    box-shadow: 0 0 14px 7px rgba(0, 0, 0, 0.1);
    z-index: 10010;
}
.right-slider-block.opened.zindex2 {
    z-index: 10001;
}
.right-slider-block.opened.zindex3 {
    z-index: 10002;
}
.right-slider-block.opened.zindex4 {
    z-index: 10003;
}


.pick-color-open {
    background: url("../images/pick-color.png") no-repeat scroll 19px 15px rgba(0, 0, 0, 0.8);
    
    
        
    background-size: 21px 17px;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        background-image: url(../images/pick-color@2x.png);
    }
    @media (min-resolution: 2dppx) {
        background-image: url(../images/pick-color@2x.png);
    }


    overflow: hidden;
    height: 20px;
    border-radius: 26px;
    color: #fff;
    font-size: 14px;
    right: 39px;
    padding: 13px 0 14px 50px;
    position: fixed;
    top: 90px;
    width: 185px;
    z-index: 3;
}
.color-picker {
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    color: #fff;
    right: 39px;
    position: fixed;
    top: 90px;
    width: 231px;
    z-index: 3;
    display: none;
    
    &.opened {
        display: block;
    }
    
    
    .pick-color {
        border-bottom: 1px solid #404040;
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 13px 0 11px 24px;
    }
    .pick-color-close{
        background: url("../images/color-close.png") no-repeat scroll center center rgba(0, 0, 0, 0);
        
        background-size: 11px 11px;

        @media screen and (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(../images/color-close@2x.png);
        }
        @media (min-resolution: 2dppx) {
            background-image: url(../images/color-close@2x.png);
        }

        content: "";
        display: block;
        height: 24px;
        position: absolute;
        right: 13px;
        top: 11px;
        width: 24px;
    }
    .colors-list {
        /*overflow: hidden;*/
        padding: 19px 0 7px 26px;
        
        li {
            display: block;
            float: left;
            height: 35px;
            margin-bottom: 13px;
            margin-right: 12px;
            width: 35px;

            &:last-child {
              margin-bottom: 19px;
            }
            
            .color {
                display: block;
                height: 35px;
                position: relative;
                width: 35px;

                &:before {
                    background: url("../images/colors.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
                    
                    
                    background-size: 175px 83px;

                    @media screen and (-webkit-min-device-pixel-ratio: 2) {
                        background-image: url(../images/colors@2x.png);
                    }
                    @media (min-resolution: 2dppx) {
                        background-image: url(../images/colors@2x.png);
                    }
                    content: "";
                    height: 35px;
                    left: 0;
                    position: absolute;
                    right: 0;
                    width: 35px;
                }
                &:after {
                    border: 2px solid #fff;
                    border-radius: 30px;
                    content: "";
                    height: 31px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 31px;
                    opacity: 0;
                }
                
                &.color1:before {
                    background-position: 0px 0;
                }
                
                &.color2:before {
                    background-position: -47px 0;
                }
                
                &.color3:before {
                    background-position: -95px 0;
                }
                
                &.color4:before {
                    background-position: -140px 0;
                }
                
                &.color5:before {
                    background-position: -0px -47px;
                }
                
                &.color6:before {
                    background-position: -47px -47px;
                }
            }
            
            input[type="radio"], input[type="checkbox"] {
                display: none;
            }
            
            input[type="radio"]:checked + label:after,
            input[type="checkbox"]:checked + label:after,
            {
                opacity: 1;
            }
        }
    }
}

