.inner_profile {
	padding: 0 0 78px;
    margin-bottom: -89px;
	h1 {
		font-size: 25px;
		font-family: @abold;
		text-transform: inherit;
		margin: 23px 4px 27px 0;
		text-align: center;
	}
	.col-set {
		width: @width;
		margin: 0 auto;

        .box {
            background: @white;
            width: 386px;
            margin: 0 0 22px;
            padding: 0 0 11px;
            .box-title {
                h3 {
                    font-size: 15px;
                    text-transform: inherit;
                    font-family: @abold;
                    padding: 0 0 0 57px;
                    line-height: 60px;
                    border-bottom: 1px solid #d8dadf;
                }
            }
            .box-content {
                padding: 16px 0 16px 25px;
                overflow: hidden;
                .edit {
                    background: @grey-button;
                    color: @white;
                    font-family: @abold;
                    font-size: 11px;
                    display: block;
                    width: auto;
                    float: left;
                    text-transform: uppercase;
                    padding: 10px 12px;
                    letter-spacing: 1.4px;
                    margin: 7px 11px 0 0;
                    border-radius: 4px;

                }
                .edit:hover {
                    background: @grey-button-hover;
                }
            }
        }
        .contact-information {
            .box-title {
                h3 {
                    background: url("@{base-url}/profile-i-1.png") 25px center no-repeat;
                }
            }
            .box-content {
                p {
                    font-size: 13px;
                    span {
                        display: block;
                        width: 129px;
                        float: left;
                        font-size: 13px;
                        color: #666;
                    }
                }
            }
        }
        .newsletter {
            .box-title {
                h3 {
                    background: url("@{base-url}/profile-i-2.png") 25px center no-repeat;
                    letter-spacing: 0.2px;
                }
            }
            .box-content {
                padding: 25px 25px 17px;
                input[type="text"] {
                    border: 2px solid @grey-button;
                    border-radius: 5px;
                    color: @grey-button;
                    font-family: @a;
                    font-size: 13px;
                    font-family: @abold;
                    padding: 3px 11px 2px;
                    width: 310px; 
                    height: 31px;
                    margin: 0 0 18px;
                    display: block;
                    letter-spacing: -0.55px;
                }
                .check {
                    label {
                        padding-left: 27px;
                    }
                }
                .edit {
                    margin: 8px 11px 0 0;
                }

            }
        }
        .favorites {
            .box-title {
                h3 {
                    background: url("@{base-url}/profile-i-3.png") 26px center no-repeat;
                    padding: 0 0 0 59px;
                }
            }
            .box-content {
                padding: 17px 25px 16px;
                p, span {
                    color: #666;
                    font-size: 13px;
                }
                .edit {
                    margin: 7px 11px 0 -2px;
                }
            }
        }
        .history {
            .box-title {
                h3 {
                    background: url("@{base-url}/profile-i-4.png") 24px center no-repeat;
                    letter-spacing: 0.3px;
                }
            }
            .box-content {
                .edit {
                    margin: 6px 11px 0 0;
                    letter-spacing: 1.15px;
                    padding: 10px 10px 10px 12px;
                }
            }
        }
        .shipping {
            padding: 0 0 7px;
            .box-title {
                h3 {
                    background: url("@{base-url}/profile-i-5.png") 25px center no-repeat;
                    padding: 0 0 0 59px;
                    letter-spacing: 0.1px;
                }
            }
            .box-content {
                padding: 20px 25px;
                .default {
                    display: inline;
                    font-size: 10px;
                    color: @text-on-buttons;
                    font-family: @abold;
                    text-transform: uppercase;
                    background: @red;
                    border-radius: 2px;
                    padding: 3px 4px 3px 4px;
                    letter-spacing: 0.4px;
                }
                .address {
                    width: 100%;
                    display: inline-block;
                    margin: 0;
                    padding: 6px 0 10px;
                    .address-r1 {
                        font-size: 13px;
                        letter-spacing: -0.125px;
                        display: block;
                        line-height: 18px;
                    }
                    .address-r2 {
                        margin: 4px 0 0;
                        display: block;
                        .change {
                            color: @blue-dark;
                            font-size: 13px;
                            float: left;
                            display: block;
                            font-family: @abold;
                            margin: 0 17px 0 0;
                        }
                        .change:hover {
                            color: @red;
                        }
                    }
                }
                .edit {
                    letter-spacing: 1.32px;
                    margin: 13px 11px 0 0;
                    padding: 10px 11px 9px 12px;
                }
            }
        }
	}
}
.order {
	margin: 0 0 15px;
	.order-r1 {
		width: 100%;
		display: inline-block;
		.number {
			font-size: 14px;
			font-family: @abold;
			color: @blue-dark;
			float: left;
			letter-spacing: -0.75px;
			margin: 0 4px 0 0;
		}
		.date {
			font-size: 13px;
			color: #666;
			letter-spacing: 0.1px;
		}
	}
	.order-r2 {
		width: 100%;
		display: inline-block;
		.price {
			font-size: 15px;
			float: left;
			letter-spacing: 0.4px;
			margin: 0 7px 0 0;
			line-height: 18px;
		}
		.status {
			font-size: 13px;
			letter-spacing: 0.18px;
			line-height: 20px;
		}
	}
}
