.inner_search {
	.search-container {
		padding: 23px 0 30px;
		p {
			font-size: 25px;
			font-family: @abold;
			margin: 0 0 11px;
		}
		input {
			color: @blue-dark;
			font-size: 14px;
		    border: 2px solid @blue-dark;
		    border-radius: 4px;
		    height: 37px;
		    padding-left: 34px;
		    position: relative;
		    width: 1163px;
		    background: url("@{base-url}/background-search.png") no-repeat 10px 10px;
		}
	}
	.filter {
		padding: 17px 20px 5px 19px;
		.catalogsearch {
		    border-bottom: 1px solid @grey-button;
		    color: @black;
		    display: block;
		    font-size: 14px;
		    font-family: @abold;
		    padding-bottom: 5px;
		    position: relative;
		    margin: 0 0 11px;
	    }
	    a {
	    	//display: block;
	    	font-size: 13px;
	    	letter-spacing: 0.3px;
	    	display: inline;
	    }
	    span {
	    	letter-spacing: -0.5px;
	    }
	    a:hover {
	    	color: @red;
	    }
	}
	.sorting {
		margin-left: 297px;
		.sort-text {
			letter-spacing: 0.15px;
		}
		.jq-selectbox {
			margin: 0 0 0 10px;
		}
	}
}

.top-info-line .form-search {
    overflow: visible;
    
    .title-search-result {
        background: @white;
        box-shadow: 0 0 13px 6px rgba(0, 0, 0, 0.1);
        position: absolute;
        width: 351px;
        z-index: 100;
        top: 42px;
        border-radius: 5px;
        
        display: none;
        
        .bx_searche {
            border-bottom: 1px solid @grey-light;
            padding: 17px 18px 10px;
            
            &:last-child {
                border: none;
            }
            
            h4 {
                font-size: 14px;
                font-family: @abold;
                margin-bottom: 5px;
                text-transform: inherit;
            }
            
            .bx_item_block {
                margin-bottom: 6px;
                
                .bx_image {
                    float: left;
                    height: 50px;
                    margin-bottom: 10px;
                    margin-right: 7px;
                    position: relative;
                    top: 4px;
                    width: 52px;
                }
                
                .bx_item_element {
                    padding-top: 9px;
                    
                    span {
                        display: block;
                        font-size: 14px;
                        height: auto;
                        left: 0;
                        position: relative;
                        text-align: left;
                        top: 2px;
                        width: auto;
                        background: none;
                    }
                }
            }
            .bx_item_block.others_result {
                margin-bottom: 6px;
                
                .bx_image {
                    display: none;
                }
                
                .bx_item_element {
                    padding-top: 0px;
                    
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}