.inner-compare .acsesorises.compare-page {
    border: 0 none;
    padding-top: 25px;
    
    h1 {
        float: left;
        margin-bottom: 15px;
    }
    .red-button {
        float: right;
        font-size: 12px;
        margin-left: 10px;
        padding: 13px 14px 12px 18px;
    }
    
    .grey-button {
        padding: 13px 30px 12px 32px;
    }
    
    .acsesorise.carousel.compare {
        float: right;
        width: 962px;
        height: 380px;
        margin-bottom: 0;
        
        .carousel-outer.catalog-inner {
            width: 960px;
            
            .item {
                display: block;
                float: left;
                height: 380px;
                
                a {
                    height: 380px;
                }
                .name {
                    bottom: 129px;
                }
                .price {
                    bottom: 101px;
                }
                .add2cart {
                    float: none;
                    font-size: 11px;
                    left: 70px;
                    padding: 10px 15px 9px 14px;
                    top: 292px;
                    display: block;
                    width: auto;
                    height: auto;
                    margin: 0px;
                }
                .add2fav-link {
                    bottom: 24px;
                    height: auto;
                    left: 66px;
                    position: absolute;
                    width: auto;
                }
                .close-item {
                    height: 18px;
                    width: 18px;
                }
            }
            .carousel-inner {
                //margin: 0 0 0 1px;
            }
        }
        .carousel-control {
            top: 167px;
        }
        .right {
            background-position: -45px -601px;
            right: 1px;
        }
        .left {
            //left: 1px;
            left: 0;
        }
    }
    
    .characters-button, .compare-button {
        float: left;
        margin: 0;
    }
    
    .characters-button {
        font-size: 14px;
        letter-spacing: 0.1px;
        margin: 0 0 10px;
        padding: 13px 38px 16px 40px;
        text-transform: inherit;
    }
    
    .compare-button {
        background: @white;
        border: 2px solid @grey-button;
        color: @grey-button;
        font-size: 14px;
        letter-spacing: 0.1px;
        margin: 0 0 10px;
        padding: 12px 38px 12px 42px;
        text-transform: inherit;
    }
    .compare-button:hover {
        border: 2px solid @grey-button-hover;
        color: @grey-button-hover;
    }
    
    .compare-table-block {
        border-left: 1px solid @grey-light;
        border-top: 1px solid @grey-light;
        width: 1199px;
        
        h3 {
            border-bottom: 1px solid @grey-light;
            border-right: 1px solid @grey-light;
            font-size: 14px;
            margin: 0;
            padding: 15px 0 14px;
            text-align: center;
            background: #f2f3f5;
        }
        
        .table-block {
            display: table;
            width: 1200px;
            
            .table-row {
                overflow: hidden;
                display: table-row;
                
                .table-cell {
                    border-bottom: 1px solid @grey-light;
                    border-right: 1px solid @grey-light;
                    background: #f2f3f5;
                    display: table-cell;
                    float: left;
                    font-size: 13px;
                    padding: 13px 0 15px 14px;
                    width: 225px;
                    
                    &.table-cell-header {
                        width: 224px;
                    }
                    &.selected {
                        background: #ffebed;
                    }
                }
            }
            .table-row:nth-child(2n) .table-cell {
                background: #f2f3f5;
            }
            .table-row:nth-child(2n+1) .table-cell {
                background: @white;
            }
            .table-row .table-cell.selected {
                background: #ffebed;
            }
        }
    }
}