.inner-cart3 {
	padding: 0 0 60px;
	.inner-cart-inner {
		.cart {
			padding: 23px 0 40px;
			h1 {
				margin: 0 0 0 -2px;
			}
			.total {
				margin: 0 0 24px 8px;
				letter-spacing: -0.2px;
			}
			.cart-items {
				.cart-item {
					padding: 26px 279px 3px;
					margin: 0 0 20px 0;
					.sorting {
						.sort-text {
							letter-spacing: 0;
						}
						.check-container {
							margin: 15px 0 0;
							.check {
								.squaredThree {
									label {
										display: block;
										letter-spacing: -0.2px;
										margin: 0 0 26px 0;
										.date {
											display: block;
											font-size: 12px;
											line-height: 21px;
											letter-spacing: -0.20px;
										}
									}
								}
							}
							.check:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
				.payment {
					letter-spacing: 1.4px;
					padding: 14px 0 14px 6px;
					width: 167px;
                    color: #000;
				}
			}

		}
	}
}



