
.inner-content.news {
    margin-bottom: -88px;
}
.more {
    display: block;
    width: 110px;
    //height: 65px;
    height: 15px;
    margin: 0 auto;
    padding: 55px 0 0;
    font-size: 12px;
    font-family: @abold;
    text-transform: uppercase;
    text-align: center;
    color: @grey-dark;
    position: relative;
    
    &:before {
        background: url("@{base-url}/icons.png") no-repeat scroll 0 -296px rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        height: 41px;
        left: 50%;
        margin-left: -20px;
        position: absolute;
        top: 0;
        width: 41px;
    }
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-ms-keyframes rotation {
    0% {
        -ms-transform: rotate(360deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}
@keyframes rotation {
    0% {
        transform: rotate(360deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}
.more:hover {
    color: @blue-dark;
    
    &:before {
        background-position: -99px -296px;
          /* -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); */
        
            -webkit-animation-duration: 0.5s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-name: rotation;
            -webkit-animation-timing-function: ease;
        
            -moz-animation-duration: 0.5s;
            -moz-animation-iteration-count: 1;
            -moz-animation-name: rotation;
            -moz-animation-timing-function: ease;
        
            -ms-animation-duration: 0.5s;
            -ms-animation-iteration-count: 1;
            -ms-animation-name: rotation;
            -ms-animation-timing-function: ease;
        
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-name: rotation;
            animation-timing-function: ease;
    }
}

.news {
	.news-inner {
		width: 1201px;
		overflow: hidden;
		margin: 0 auto 97px;
		padding: 25px 0 0;
		h1 {
			font-size: 22px;
			font-family: @abold;
			text-transform: inherit;
			margin: 0 0 12px 0px;
		}
		ul {
            display: table;
            margin: 0 0 13px;
            width: 1245px;
        }
		ul li, .item {
				width: 283px;
				height: 350px;
				list-style-type: none;
				float: left;
				//margin: 8px 8px 8px 8px;
				margin: 0 22px 23px 0;
				a {
					width: 283px;
					height: 350px;
					display: block;
					position: relative;
					img {
						//width: 283px;
						height: 220px;
						display: block;
					}
					.color-white {
						//width: 283px;
						//width: 243px;
						width: 235px;
						//height: 130px;
						min-height: 90px;
						//padding: 20px;
						padding: 20px 24px;
						display: block;
						background: @white;
						position: absolute;
						bottom: 0;
                        transition: 0.99s;
                        max-height: 90px;

						.first-line {
							font-size: 12px;
							line-height: 16px;
							font-family: @abold;
							color: @white;
							background: #b2b2b2;
							border-radius: 3px;
							display: table;
							padding: 0 4px;
							margin: 0 0 6px;
						}
						.second-line {
							font-size: 16px;
							display: block;
							margin: 0 0 6px;
						}
						.description-line {
							font-size: 13px;
							/*display: none;*/
							color: #666;
                            transition: 0.99s;
							display: block;
                            overflow: hidden;
                            max-height: 0px;
						}
					}
				}
				a:hover {
					.color-white {
                        max-height: 350px;
                        transition: 0.99s;
						.description-line {
							color: #666;
                            transition: 0.99s;
                            max-height: 300px;
						}
					}
				}
			}
		}
	}
}