@font-face {
    font-family: 'arialregular';
    src: url('../../../fonts/arial-webfont.eot');
    src: url('../../../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial-webfont.woff2') format('woff2'),
         url('../../../fonts/arial-webfont.woff') format('woff'),
         url('../../../fonts/arial-webfont.ttf') format('truetype'),
         url('../../../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arialblack';
    src: url('../../../fonts/ariblk-webfont.eot');
    src: url('../../../fonts/ariblk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/ariblk-webfont.woff2') format('woff2'),
         url('../../../fonts/ariblk-webfont.woff') format('woff'),
         url('../../../fonts/ariblk-webfont.ttf') format('truetype'),
         url('../../../fonts/ariblk-webfont.svg#arialblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arialbold';
    src: url('../../../fonts/arial_bold-webfont.eot');
    src: url('../../../fonts/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial_bold-webfont.woff2') format('woff2'),
         url('../../../fonts/arial_bold-webfont.woff') format('woff'),
         url('../../../fonts/arial_bold-webfont.ttf') format('truetype'),
         url('../../../fonts/arial_bold-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@a: 'arialregular';
@ab: 'arialblack';
@abold: 'arialbold';

@text-on-buttons: #fff;

@blue: #1bceae;
@orange: #ff6f02;
@yellow: #765ec2;
@green: #3877e0;

@circles-on-light: #999;
@circles-on-dark: #205e6d;
@x-hover: #51bdd8;

@range: #45a9c2;
@handle: #f7627a;
@back-range: #c4cacb;
@check: #f7627a;

@circle: #fff;

@red: #f7627a;
@red-light: #ff7a90;
@pink: #cb3c54;

@blue-dark: #55b0c7;
@blue-dark-back: #45a9c2;

@left-thing: #45a9c2;
@border-bottom-left-thing: #2d7688;
@left-thing-form-search: #fff;

@left-thing-top: #f68f9f;

@white: #fff;
@black: #000;

@grey: #aab1b8;
@grey-dark: #888; 
@grey-light: #d5d5d5; 

@top-back: #45a9c2;


@grey-car-border: #b1bdc0;
@grey-social-border: #b1bdc0;
@grey-strelki: #b1bdc0;
@grey-hover: #96a1a4;

@grey-select: #f0f2f3;
@grey-select-drop-text: #96a1a4;
@grey-select-border: #b1bdc0;
@grey-select-text: #96a1a4;
@grey-select-border-hover: #96a1a4;
@grey-select-text-hover: #879497;

@grey-button: #b1bdc0;
@grey-button-hover: #bac6c9;

@grey-tabs: #96a1a4;
@grey-back-blocks: #e8eced;
@grey-cart-tabs: #96a1a4;

@grey-cart-bottom: #eeeff1;

@grey-email-border: #969696;
@grey-email-text: #999;

@grey-nums: #96a1a4;

@icon-element: #f7627a;


@width: 1201px;

@base-url: "/local/templates/.default/theme/blue_red/images";


.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

* {
    padding: 0;
    margin: 0;
}

body {
	font-family: @a;
	color: @black;
	font-size: 13px;
	background: @white;
	padding: 0px;
	opacity: 0.999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @a;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px;
}

a {
	color: @black;
	text-decoration: none;
	
	outline: none;
	outline-offset: none;
	
	&:hover, &:visited, &:focus, &:active {
		outline: none;
		outline-offset: none;	
	}
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
	margin:0px 0px 10px;
}

.clear-all {
    height: 1px;
    overflow: hidden;
    width: 100%;
	color: @white;
	clear: both;
}

.ui-loader {
    display: none;
}


@import "../../../less/index.less"; 
@import "../../../less/forms.less";         // forms
@import "../../../less/news.less";          // news
@import "../../../less/inner-cart.less";    // inner-cart
@import "../../../less/inner_catalog.less"; // inner_catalog
@import "../../../less/inner-cart2.less";   // inner-cart2
@import "../../../less/inner_product.less"; // inner_product
@import "../../../less/inner-cart3.less";   // inner-cart3
@import "../../../less/inner_actions.less"; // inner_actions
@import "../../../less/inner_profile.less"; // inner_profile
@import "../../../less/inner_compare.less"; // inner_compare
@import "../../../less/inner_search.less";  // inner_search
@import "../../../less/style.less";  // style