@font-face {
    font-family: 'arialregular';
    src: url('../../../fonts/arial-webfont.eot');
    src: url('../../../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial-webfont.woff2') format('woff2'),
         url('../../../fonts/arial-webfont.woff') format('woff'),
         url('../../../fonts/arial-webfont.ttf') format('truetype'),
         url('../../../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arialblack';
    src: url('../../../fonts/ariblk-webfont.eot');
    src: url('../../../fonts/ariblk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/ariblk-webfont.woff2') format('woff2'),
         url('../../../fonts/ariblk-webfont.woff') format('woff'),
         url('../../../fonts/ariblk-webfont.ttf') format('truetype'),
         url('../../../fonts/ariblk-webfont.svg#arialblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arialbold';
    src: url('../../../fonts/arial_bold-webfont.eot');
    src: url('../../../fonts/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial_bold-webfont.woff2') format('woff2'),
         url('../../../fonts/arial_bold-webfont.woff') format('woff'),
         url('../../../fonts/arial_bold-webfont.ttf') format('truetype'),
         url('../../../fonts/arial_bold-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@a: 'arialregular';
@ab: 'arialblack';
@abold: 'arialbold';

@text-on-buttons: #000;

@blue: #024b9c;
@orange: #ff7a29;
@yellow: #e82226;
@green: #71c02c;

@circles-on-light: #999;
@circles-on-dark: #ffffff;
@x-hover: #2fa5ab;

@range: #ffc601;
@handle: #097e82;
@back-range: #cdcdcd;
@check: #097e82;

@circle: #fff;

@red: #ffc601;
@red-light: #ffd74d;
@pink: #ffc601;

@blue-dark: #097e82;
@blue-dark-back: #333333;
@left-thing: #097e82;
@border-bottom-left-thing: #07676a;
@left-thing-form-search: #fff;

@left-thing-top: #ffc601;

@white: #fff;
@black: #000;

@grey: #aab1b8;
@grey-dark: #888; 
@grey-light: #d5d5d5; 

@top-back: #222222;



@grey-car-border: #b4b4b4;
@grey-social-border: #999;
@grey-strelki: #999;
@grey-hover: #777;

@grey-select: #f3f3f3;
@grey-select-drop-text: #777;
@grey-select-border: #999;
@grey-select-text: #999999;
@grey-select-border-hover: #777;
@grey-select-text-hover: #777;

@grey-button: #999;
@grey-button-hover: #b1b1b1;

@grey-tabs: #999;
@grey-back-blocks: #e7e7e7;
@grey-cart-tabs: #aab1b8;

@grey-cart-bottom: #eeeff1;

@grey-email-border: #4f3c31;
@grey-email-text: #533f34;

@grey-nums: #999;

@icon-element: #ffc601;

@width: 1201px;

@base-url: "/local/templates/.default/theme/black_yellow/images";


.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

* {
    padding: 0;
    margin: 0;
}

body {
	font-family: @a;
	color: @black;
	font-size: 13px;
	background: @white;
	padding: 0px;
	opacity: 0.999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @a;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px;
}

a {
	color: @black;
	text-decoration: none;
	
	outline: none;
	outline-offset: none;
	
	&:hover, &:visited, &:focus, &:active {
		outline: none;
		outline-offset: none;	
	}
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
	margin:0px 0px 10px;
}

.clear-all {
    height: 1px;
    overflow: hidden;
    width: 100%;
	color: @white;
	clear: both;
}

.ui-loader {
    display: none;
}


@import "../../../less/index.less"; 
@import "../../../less/forms.less";         // forms
@import "../../../less/news.less";          // news
@import "../../../less/inner-cart.less";    // inner-cart
@import "../../../less/inner_catalog.less"; // inner_catalog
@import "../../../less/inner-cart2.less";   // inner-cart2
@import "../../../less/inner_product.less"; // inner_product
@import "../../../less/inner-cart3.less";   // inner-cart3
@import "../../../less/inner_actions.less"; // inner_actions
@import "../../../less/inner_profile.less"; // inner_profile
@import "../../../less/inner_compare.less"; // inner_compare
@import "../../../less/inner_search.less";  // inner_search
@import "../../../less/style.less";  // style