@font-face {
    font-family: 'arialregular';
    src: url('../../../fonts/arial-webfont.eot');
    src: url('../../../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial-webfont.woff2') format('woff2'),
         url('../../../fonts/arial-webfont.woff') format('woff'),
         url('../../../fonts/arial-webfont.ttf') format('truetype'),
         url('../../../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arialblack';
    src: url('../../../fonts/ariblk-webfont.eot');
    src: url('../../../fonts/ariblk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/ariblk-webfont.woff2') format('woff2'),
         url('../../../fonts/ariblk-webfont.woff') format('woff'),
         url('../../../fonts/ariblk-webfont.ttf') format('truetype'),
         url('../../../fonts/ariblk-webfont.svg#arialblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arialbold';
    src: url('../../../fonts/arial_bold-webfont.eot');
    src: url('../../../fonts/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/arial_bold-webfont.woff2') format('woff2'),
         url('../../../fonts/arial_bold-webfont.woff') format('woff'),
         url('../../../fonts/arial_bold-webfont.ttf') format('truetype'),
         url('../../../fonts/arial_bold-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@a: 'arialregular';
@ab: 'arialblack';
@abold: 'arialbold';

@text-on-buttons: #fff;

@blue: #09b693;
@orange: #3784a4;
@yellow: #c8a882;
@green: #e8685f;

@circles-on-light: #999;
@circles-on-dark: #533f34;
@x-hover: #6b5245;

@range: #533f34;
@handle: #c02344;
@back-range: #c3bdb3;
@check: #c02344;

@circle: #fff;

@red: #c02344;
@red-light: #dd3054;
@pink: #c02344;

@blue-dark: #533f34;
@blue-dark-back: #2f2929;
@left-thing: #504037;
@border-bottom-left-thing: #3f3028;
@left-thing-form-search: #fff;

@left-thing-top: #c02344;

@white: #fff;
@black: #000;

@grey: #aab1b8;
@grey-dark: #888; 
@grey-light: #d5d5d5; 

@top-back: #221616;



@grey-car-border: #999;
@grey-social-border: #999;
@grey-strelki: #c3bdb3;
@grey-hover: #aca79e;

@grey-select: #f3f3f3;
@grey-select-drop-text: #999;
@grey-select-border: #999;
@grey-select-text: #999999;
@grey-select-border-hover: #777;
@grey-select-text-hover: #777;

@grey-button: #c3bdb3;
@grey-button-hover: #cec8be;

@grey-tabs: #999;
@grey-back-blocks: #e8e6e3;
@grey-cart-tabs: #afa89d;
@grey-cart-bottom: #f2f1ef;

@grey-email-border: #4f3c31;
@grey-email-text: #533f34;

@grey-nums: #999;

@icon-element: #533f34;


@width: 1201px;

@base-url: "/local/templates/.default/theme/brown_red/images";


.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

* {
    padding: 0;
    margin: 0;
}

body {
	font-family: @a;
	color: @black;
	font-size: 13px;
	background: @white;
	padding: 0px;
	opacity: 0.999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @a;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px;
}

a {
	color: @black;
	text-decoration: none;
	
	outline: none;
	outline-offset: none;
	
	&:hover, &:visited, &:focus, &:active {
		outline: none;
		outline-offset: none;	
	}
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
	margin:0px 0px 10px;
}

.clear-all {
    height: 1px;
    overflow: hidden;
    width: 100%;
	color: @white;
	clear: both;
}

.ui-loader {
    display: none;
}


@import "../../../less/index.less";
@import "../../../less/forms.less";         // forms
@import "../../../less/news.less";          // news
@import "../../../less/inner-cart.less";    // inner-cart
@import "../../../less/inner_catalog.less"; // inner_catalog
@import "../../../less/inner-cart2.less";   // inner-cart2
@import "../../../less/inner_product.less"; // inner_product
@import "../../../less/inner-cart3.less";   // inner-cart3
@import "../../../less/inner_actions.less"; // inner_actions
@import "../../../less/inner_profile.less"; // inner_profile
@import "../../../less/inner_compare.less"; // inner_compare
@import "../../../less/inner_search.less";  // inner_search
@import "../../../less/style.less";  // style