.inner-content.inner_actions {
    margin-bottom: -88px;
}
.inner_actions {
	.inner-content-inner {
		width: 1201px;
		overflow: hidden;
		margin: 0 auto 97px;
		padding: 25px 0 0;
		h1 {
			font-size: 22px;
			font-family: @abold;
			text-transform: inherit;
			margin: 0 0 12px 0px;
			letter-spacing: 2px;
		}
		ul {
            display: table;
            margin: 0 0 -7px -12px;
            width: 1245px;
	       .item {
		        display: block;
		        float: left;
		        margin: 0 12px 23px;
		        background: @white;
		        
		        img:hover {
		            opacity: 0.9;
		        }
		    }
   		}
    
	}
}