.inner-content {
	background: @grey-back-blocks;
	width: 100%;
	overflow: hidden;
}
.inner-content.inner-cart {
    margin-bottom: -89px;
}
.close-item {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
    display: block;
    background: url("@{base-url}/icons.png") no-repeat -110px -614px;
    border: 2px solid @blue-dark;
    border-radius: 13px;
    background-size: 316px 1055px;


    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        background-image: url("@{base-url}/icons@2a.png");

    }
    @media (min-resolution: 2dppx) {
        background-image: url("@{base-url}/icons@2a.png");
    }
}
.close-item:hover {
    background: url("@{base-url}/icons.png") no-repeat -144px -614px @blue-dark; 			
}
.inner-cart {
	padding: 0 0 100px 0;
	.inner-cart-inner {
		width: @width;
		margin: 0 auto;
		.checkout-progress {
			display: table;
			margin: 0 auto;
			padding: 29px 0 24px;
			position: relative;
			width: 354px;
			a {
				position: relative;
				float: left;
				display: block;
				.num {
					font-size: 18px;
					color: @grey-cart-tabs;
					text-align: center;
					width: 30px;
					height: 30px;
					background: none;
					border-radius: 20px;
					border: 2px solid @grey-cart-tabs;
					display: block;
					margin: 0 auto;
					line-height: 30px;
				}
				.no-num {
					font-size: 13px;
					color: @grey-cart-tabs;
					display: block;
					line-height: 22px;
				}
			}
			a:nth-child(2) {
				margin: 0 70px 0 64px;
			}
			.line {
				background: @grey-cart-tabs;
				display: block;
				width: 103px;
				height: 1px;
				position: absolute;
				top: 0;
				left: 0;
			}
			.line1 {
				top: 47px;
				left: 47px;
			}
			.line2 {
				top: 47px;
				left: 199px;
			}
			.s-line {
				background: url("@{base-url}/s-checkout-progress-background.jpg") repeat-x center center;
			}
			.select {
				.num {
					background: @blue-dark;
					border-color: @blue-dark;
					color: #eeeff1;
				}
				.no-num {
					color: @blue-dark;
				}
			}
		}
		.cart {
			background: @white;
			padding: 23px 0 40px;
			h1 {
				font-size: 25px;
				font-family: @abold;
				text-transform: inherit;
				text-align: center;
				margin: 0 0 0 10px; //
			}
			.total {
				font-size: 14px;
				color: #666;
				text-align: center;
				display: block;
				margin: 0 0 24px 6px;
				letter-spacing: -0.21px;
			}
			.checkout-container {
				width: 900px;
				margin: 0 auto;
				text-align: right;
				overflow: hidden;
				.buy {
					background: @grey-button;
					float: right;
				}
				.buy:hover {
					background: @grey-button-hover;
				}
				.checkout {
					background: @red;
					float: right;
					margin: 0 0 0 10px;
				}
				.checkout:hover {
					background: @red-light;
				}
				.buy, .checkout {
					font-size: 12px;
					font-family: @abold;
					text-transform: uppercase;
					width: 163px;
					border-radius: 4px;
					color: @white;
					text-align: center;
					display: block;
					letter-spacing: 1.5px;
					padding: 14px 0 14px 10px;
				}
				.buy {
					padding: 14px 0 14px 4px;
					width: 170px;
				}
			}
		}	
	}
}
.cart-items {
	border: 1px solid @grey-light;
	width: 899px;
	margin: 0 auto 21px;
	.cart-item {
		border-bottom: 1px solid @grey-light;
		padding: 26px 0 22px;
		overflow: hidden;
		position: relative;
		.product-image-container {
			float: left;
			width: 175px;
			a {
				display: block;
				text-align: center;
			}
		}
		.product-info-container {
			.c-name {
				float: left;
				width: 267px;
				margin: 0 10px 0 0;
				.name {
					font-size: 14px;
					margin: 0 0 9px;
					display: block;
					letter-spacing: -0.21px;
				}
				.options {
					font-size: 13px;
					color: #555;
					margin: 0 0 3px;
					display: block;
					letter-spacing: -0.09px;
				}
				.favorites {
					font-size: 13px;
					font-family: @abold;
					color: @blue-dark;
					margin: 13px 0 0;
					display: block;
					letter-spacing: -0.25px;
					.favorites-icon {
						background: url("@{base-url}/icons.png") no-repeat -242px -519px;
						display: block;
						width: 20px;
						height: 20px;
						float: left;
						margin: 0 4px 0 0;
					}
				}
				.favorites:hover {
					color: @red;
					.favorites-icon {
						background-position: -242px -729px;
					}		
				}
			}
			.c-qty {
				float: left;
				width: 155px;
				margin: 28px 0 0;
				.n-qty {
					display: block;
					font-size: 13px;
					color: #555;
				}
				.qty-control {
					width: 106px;
					height: 28px;
					position: relative;
					display: block;
					margin: 2px 0 0;
					a {
						display: block;
						position: absolute;
						width: 28px;
						height: 28px;
						background: @grey-button;
						
					}
					a:first-child {
						top: 0;
						left: 0;
						border-radius: 2px 0 0 2px;
					}
					a:first-child:after {
						color: @white;
						font-size: 25px;
						//content: '−';
						content: '';
						background: url("@{base-url}/qty-control-background.png") no-repeat;
						position: absolute;
						left: 8px;
						top: 8px;
						height: 12px;
						width: 12px;

					}
					a:last-child {
						top: 0;
						right: 0;
						border-radius: 0 2px 2px 0;
					}
					a:last-child:before {
						color: @white;
						font-size: 25px;
						//content: '';
						background: url("@{base-url}/qty-control-background.png") -78px 0 no-repeat;
						position: absolute;
						height: 12px;
						width: 14px;
						content: '';
						position: absolute;
						right: 6px;
						top: 8px;
					}
					input {
						//width: 100%;
						border: 2px solid @grey-button;
						padding: 0 28px;
						width: 47px;
						height: 24px;
						border-radius: 2px;
						text-align: center;
						font-size: 15px;
						content: #64686d;
                        box-shadow: none;
					}
				}
			}
			.c-price {
				float: left;
				width: 147px;
				margin: 28px 0 0;
				.n-price {
					display: block;
					font-size: 13px;
					color: #555;
					margin: 0 0 3px;
				}
			}
			.c-tprice {
				float: left;	
				margin: 28px 0 0;
				.n-tprice {
					display: block;
					font-size: 13px;
					color: #555;
					margin: 0 0 3px;
				}
			}
			.c-tprice, .c-price {
				.price {
					font-size: 19px;
					display: block;
					line-height: 25px;
				}
			}
			.o-price {
				font-size: 12px;
				color: #999;
				text-decoration: line-through;
			}
		}
	}
	.price-container {
		background: @grey-cart-bottom;
		overflow: hidden;
		padding: 10px 15px 10px 19px;
		.left-container {
			float: left;
			input {
			}
			input[type="text"] {
				width: 151px;
				font-size: 13px;
				color: #666666;
				border: 1px solid @grey-button;
				border-radius: 4px;
				margin: 0 9px 0 0;
				color: #666;
				padding: 0 10px;
				height: 34px;
                box-shadow: none;
			}
			input[type="submit"] {
				font-size: 11px;
				font-family: @abold;
				text-transform: uppercase;
				color: @white;
				background: @grey-button;
				width: 105px;
				border-radius: 4px;
				border: none;
				height: 36px;
				letter-spacing: 1.5px;
                
                height: 35px;
                top: -1px;
                position: relative;
			}
			input[type="submit"]:hover {
				background: @grey-button-hover;
			}
		}
		.right-container {
			float: right;
			font-size: 13px;
			color: #555;
			line-height: 32px;
			letter-spacing: 0.2px;
			.t-price {
				font-size: 19px;
				color: @red;
				margin: 0 -2px 0 0;
			}
		}
	}
}
.cart-items.is-empty {
    text-align: center;
    margin-top: 10px;
}
.cart-items.is-empty-fav {
    text-align: center;
}
.cart-is-empty {
    color: #666;
    display: inline-block;
    font-size: 14px;
    margin: 76px auto;
    padding-left: 56px;
    padding-top: 0;
    position: relative;
    text-align: center;

    &:before {
        background: url("@{base-url}/icons.png") no-repeat scroll 9px -207px rgba(0, 0, 0, 0);
        border: 2px solid @icon-element;
        border-radius: 60px;
        content: "";
        display: block;
        height: 56px;
        left: -12px;
        position: absolute;
        top: -20px;
        width: 56px;

        background-size: 316px 1055px;


        @media screen and (-webkit-min-device-pixel-ratio: 2) {
            background-image: url("@{base-url}/icons@2a.png");
        }
        @media (min-resolution: 2dppx) {
            background-image: url("@{base-url}/icons@2a.png");
        }
    }

    &.fav-is-empty {
  
          &:before {
              background: url("@{base-url}/heart-fav.png") no-repeat scroll 14px 16px rgba(0, 0, 0, 0);
              background-size: 29px 26px;
  
  
              @media screen and (-webkit-min-device-pixel-ratio: 2) {
                  background-image: url("@{base-url}/heart-fav@2x.png");
              }
              @media (min-resolution: 2dppx) {
                  background-image: url("@{base-url}/heart-fav@2x.png");
              }
        }

    }
}


.errors-line {
    background: @red;
    color: @white;
    text-align: center;
    border: 1px solid @red;
    width: 100%;
    margin: -1px 0px 0px -1px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}