.filter {
    background: none repeat scroll 0 0 @grey-back-blocks;
    float: left;
    margin-right: 19px;
    padding: 16px 20px 13px 19px;
    width: 181px;

    input.red-button {
        margin-bottom: 7px;
        margin-top: 3px;
        padding-bottom: 15px;
        width: 100%;
    }

    dl {
        margin: 0 0 31px;
        &.closed {
            margin-bottom: 31px;
            dd {
                display: none;
            }
        }
        dt a {
            border-bottom: 1px solid @back-range;
            display: block;
            font-size: 14px;
            font-family: @abold;
            padding-bottom: 5px;
            color: @black;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                right: 0px;
                top: 0px;
                width: 18px;
                height: 18px;
                background: url("@{base-url}/icons.png") no-repeat 0px -841px;
            }
        }
        dd {
            margin: 12px 0 25px 1px;

            .cat li {
                margin-bottom: 10px;

                a {
                    color: #333;

                    &:hover {
                        color: @red;
                    }
                }

                .cat-inner {
                    margin-left: 20px;
                    margin-top: 9px;

                    li {
                        margin-bottom: 10px;
                    }
                }
            }

            .slider-range .ui-slider-range {
                background: @top-back;
                border-radius: 4px;
                height: 6px;
                position: absolute;
            }
            .slider-range .ui-slider-handle {
                background: none repeat scroll 0 0 #eeeff1;
                border: 5px solid @red;
                border-radius: 10px;
                box-shadow: 0 0 0 2px #eeeff1;
                display: block;
                height: 9px;
                left: 0;
                margin-left: -8px;
                position: absolute;
                top: -6px;
                width: 9px;
            }
        }

        &.open {
            dt a:hover {
                &:before {
                    background-position: -27px -841px;
                }
            }
        }

        &.closed {
            dt a:before {
                background-position: -55px -841px;
            }
            dt a:hover {
                    &:before {
                        background-position: -82px -841px;
                    }
            }
        }
    }
}
.jq-selectbox.jqselect.select-class {
    margin: 0 0 0 10px;

    .jq-selectbox__select {
        background: none repeat scroll 0 0 @grey-select;
        border: 2px solid @grey-select-border;
        border-radius: 5px;
        color: @grey-select-text;
        font-family: @a;
        font-size: 13px;
        font-family: @abold;
        padding-right: 31px;
        width: 165px;
    }
    .jq-selectbox__select:hover {
        border-color: @grey-select-border-hover;
        .jq-selectbox__select-text {
            color: @grey-select-text-hover;
        }
    }

    .jq-selectbox__trigger-arrow {
        border: medium none;
        background: url("@{base-url}/selectbox-select-background.png") no-repeat;
        //width: 10px;
        width: 11px;
        height: 7px;
    }

    &:hover .jq-selectbox__trigger-arrow {
        //background-position: -113px -520px;
       background-position: -213px 0; 
    }

    &.opened {
        .jq-selectbox__select {
            background: @grey-select-border;
            color: @white;
            border-color: @grey-select-border;
            &:hover .jq-selectbox__select-text {
                color: @white;
            }
        }
        .jq-selectbox__trigger-arrow {
            //background-position: -56px -520px;
            background-position: -430px 0;
        }
    }

    .jq-selectbox__dropdown {
        border: 2px solid @grey-select-border;
        color: #7b8187;
        font-family: @a;
        font-size: 13px;
        font-family: @abold;
        padding-bottom: 4px;
        width: 206px;
        border-radius: 0 0 5px 5px;
        ul {
            margin: 7px 0 0;
        }
        li {
            padding: 6px 10px;
            color: @grey-select-drop-text;

            &.selected {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                color: @black;
            }

            &:hover {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                color: @black;
            }
        }
    }
}
.filtr-button {
    display: none;
    float: left;
}
.inner-catalog.container {
    width: 960px;
}
.inner-catalog {
    overflow: hidden;
    
    .inner {
        margin: 0 auto;
        width: @width;
    }
    .catalog-inner {
        width: 961px;
        float: left;
    }
    h1 {
        font-size: 25px;
        font-family: @abold;
        margin-bottom: 5px;
        text-transform: inherit;
    }
    .decription {
        background: none repeat scroll 0 0 @grey-back-blocks;
        margin-bottom: 40px;
        padding-bottom: 20px;
        padding-top: 28px;
        
        p {
            line-height: 21px;
            margin-bottom: 10px;
            color: #777;
        }
    }
    
    .breadcrumps {
        margin-bottom: 21px;
        overflow: hidden;
        
        li {
            float: left;
            margin-right: 24px;
            position: relative;
            color: #333;
            
            &:before {
                content: "/";
                position: absolute;
                right: -13px;
            }
            
            &:last-child {
                &:before {
                    display: none;
                }
            }
            
            a {
                color: #333;
            }
        }
    }
    


    .sorting {
        margin-bottom: 16px;
        margin-left: 296px;
        
        .sort-text {
            display: block;
            float: left;
            margin-top: 8px;
        }
        
    }
    ol.nums {
        list-style-type: none;
        margin: 39px 0 0 -10px;
        padding: 0;
        position: relative;
        text-align: center;
        
        li {
            display: inline-block;
            font-size: 15px;
            font-family: @abold;
            margin: 1px -3px 0 -1px;
            width: 35px;
                color: @grey-nums;
            
            a {
                border: 2px solid @white;
                color: @grey-nums;
                border-radius: 30px;
                display: block;
                font-size: 15px;
                font-family: @abold;
                height: 27px;
                padding-top: 4px;
                width: 31px;
            }
            
            &.left {
                margin-right: 26px;
                
                a {
                    background: url("@{base-url}/icons.png") no-repeat -145px -852px;
                }
            }
            &.right {
                margin-left: 26px;
                
                a {
                    background: url("@{base-url}/icons.png") no-repeat -234px -852px;
                }
            }
            &.selected {
                a {
                    border: 2px solid @blue-dark;
                    color: @blue-dark;
                }
            }
            
            a:hover {
                color: @blue-dark;
            }
        }
    }
}
.check {
    margin-bottom: 17px;
    margin-top: -5px;
    
    
    &:last-child {
        margin-bottom: 35px;
    }
    
    .squaredThree {
        position: relative;
    }
    
    input {
        display: none;
    }
    
    label {
        padding-left: 25px;
        position: relative;
        top: 4px;
        
        &:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 10px;
            height: 4px;
            background: transparent;
            top: 3px;
            left: 4px;
            border: 2px solid @check;
            border-top: none;
            border-right: none;

            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        
        &:before {
            background: @white;
            //border: 2px solid @red;
            border: 2px solid @grey-button;
            border-radius: 5px;
            content: "";
            cursor: pointer;
            height: 16px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 16px;
            
            display:none~'\9';
        }
    }
}
.squaredThree input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.squaredThree input[type="checkbox"]:checked + label:before {
    opacity: 1;
    border-color: @check;
}

.squaredThree label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    //opacity: 0.3;
    opacity: 0;
}
.squaredThree label:hover::before {
    border-color: @check;
}

.squaredThree input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}	

.colors {
    margin: -3px 0 0 -4px;
    overflow: hidden;
    width: 204px;
    
    li {
        border: 2px solid transparent;
        border-radius: 20px;
        float: left;
        margin-bottom: 3px;
        margin-right: 3px;
        padding: 2px;
        
        a {
            background: @black;
            border-radius: 20px;
            display: block;
            height: 21px;
            width: 21px;
        }
        
        &.selected {
            border: 2px solid @check;
            opacity: 1;
        }
        .selected:hover {
            opacity: 1;
        }
        &:hover {
            opacity: 0.9;
        }
    }
}
.value {
    margin: 4px 0 18px;
    display: inline-block;
    input {
        float: left;
        border: 2px solid @back-range;
        font-size: 13px;
        color: @black;
        padding: 0 4px;
        text-align: center;
        width: 43px;
        height: 26px;
        border-radius: 0 3px 3px 0;
    }
    label {
        border: 2px solid @back-range;
        border-right: none;
        color: #666;
        display: inline-block;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        float: left;
        width: 28px;
        height: 26px;
        border-radius: 3px 0 0 3px;
    }
    .first {
        margin: 0 10px 0 0;
    }
}
#slider-range {
    background: @back-range;
    height:6px;
    width:100%;
    position: relative;
    .rounded-corners (4px);

    .ui-slider-range {    
         background: @range;
         height:6px;
         position: absolute;
        .rounded-corners (4px);
    }

    .ui-slider-handle {
         background: @grey-back-blocks;
         border: 5px solid @handle;
         display: block;
         height: 9px;
         left: 0;
         position: absolute;
         //top: -5px;
         top: -6px;
         width: 9px;
         border-radius: 10px;
        margin-left: -8px;
        box-shadow: 0 0 0 2px @grey-back-blocks;

        &.first-a {
            margin-left: -7px;
        }

         span {
             background: @white;
             border: 1px solid #999999;
             color: #999999;
             font-family: @a;
             font-size: 16px;
             height: 24px;
             left: 0;
             padding-left: 4px;
             position: absolute;
             top: -40px;
             width: 60px;

             &:before {
                 border-left: 1px solid #999999;
                 border-right: 5px solid transparent;
                 border-top: 4px solid #999999;
                 bottom: -5px;
                 content: "";
                 left: -1px;
                 position: absolute;
             }

         }
    }
}
