
.rating {
    height: 20px;

    float: left;
    height: 20px;
    width: 105px;
    position: relative;
    background: url("@{base-url}/stars.jpg") no-repeat scroll 1px -19px rgba(0, 0, 0, 0);

    a {
        display: block;
        height: 17px;
        position: absolute;
        left: 0px;
        table-layout: 0px;

        &:hover {
            //background: url("@{base-url}/stars.jpg") no-repeat scroll 1px 0px rgba(0, 0, 0, 0);
            cursor: default;
        }

        &.selected {
            background: url("@{base-url}/stars.jpg") no-repeat scroll 1px 0px rgba(0, 0, 0, 0);
        }

    }
    .rate1 {
        width: 21px;
    }
    .rate2 {
        width: 42px;
        background-position: 1px 0px;
    }
    .rate3 {
        width: 63px;
        background-position: 1px 0px;
    }
    .rate4 {
        width: 84px;
        background-position: 1px 0px;
    }
    .rate5 {
        width: 105px;
        background-position: 1px 0px;
    }
}
.product-common {
    background: none repeat scroll 0 0 @white;
    margin-top: -9px;
    position: relative;
    margin-bottom: 102px;
    .info-part {
        float: left;
        padding: 23px 0 0 32px;
        width: 568px;
        color: #666;
        
        h1 {
            color: @black;
        }
        
        .art {
            font-size: 11px;
            margin-top: -11px;
            color: #999;
        }
        
        .logo {
            position: absolute;
            right: 37px;
            top: 32px;
        }
        
        .rating {
            height: 20px;
            margin-bottom: 16px;
            margin-top: -8px;
            float: none;
        }
        
        .jq-selectbox.jqselect.select-class.select-class-model {
            margin-left: 0;
            margin-right: -4px;
            
            .jq-selectbox__select {
                width: 128px;
            }
            
            .jq-selectbox__dropdown {
                width: 169px;
            }
        }
        
        .jq-selectbox.jqselect.select-class.select-class-link {
            .jq-selectbox__select {
                width: 128px;
            }
            
            .jq-selectbox__dropdown {
                width: 169px;
            }
        }
        
        .jq-selectbox.jqselect.select-class.select-class-garant {
            .jq-selectbox__select {
                width: 125px;
            }
            
            .jq-selectbox__dropdown {
                width: 166px;
            }
        }
        
        .params {
            margin: 22px 0;
            
            dt {
                float: left;
                padding-top: 5px;
                width: 180px;
            }
            
            dd {
                margin-bottom: 7px;
            }
            
            .size {
                left: -8px;
                overflow: hidden;
                position: relative;
                
                li {
                    border: 2px solid @white;
                    color: @black;
                    border-radius: 12px;
                    float: left;
                    padding: 1px 9px 2px;
                    
                    &.selected {
                        border: 2px solid @red;
                        a { 
                            color: @red;
                        }
                    }
                    a:hover {
                        color: @red;
                    }
                }
            }
        }
        
        .cart-thing {
            border-bottom: 1px solid #d8dadf;
            border-top: 1px solid #d8dadf;
            margin-left: -32px;
            margin-top: 30px;
            overflow: hidden;
            padding-left: 32px;
            padding-top: 23px;
            width: 568px;
            padding-bottom: 25px;
            margin-bottom: 29px;
            
            .col1 {
                float: left;
                width: 183px;
                
                .new {
                    display: block;
                    font-size: 28px;
                    font-family: @abold;
                    color: @black;
                }
                
                .old {
                    display: block;
                    font-size: 16px;
                    margin-bottom: 13px;
                    text-decoration: line-through;
                }
                
                .eco span {
                    color: @red;
                }
            }
            .col2 {
                float: left;
                padding-top: 7px;
                width: 183px;
                
                .red-button {
                    margin-bottom: 24px;
                    padding: 13px 21px 13px 68px;
                    width: 84px;
                    background: url("@{base-url}/icons.png") no-repeat -247px -215px @red;
                    
                    &:hover {
                        background-color: @red-light;
                    }
                }
                
                .eco span {
                    color: #1fbb35;
                }
            }
            .col3 {
                float: left;
                padding-top: 7px;
                width: 173px;
                
                .grey-button {
                    padding: 13px 21px 13px 27px;
                    width: 125px;
                    margin-bottom: 24px;
                }
                
                .buy-credit {
                    color: @red;
                    font-family: @abold;
                    padding-left: 25px;
                    background: url("@{base-url}/icons.png") -136px -916px no-repeat;
                    padding-top: 1px;
                }
            }
        }
        .soc {
            bottom: 29px;
            position: absolute;
            right: 191px;
            
            ul li.fb a {
                border: 2px solid @grey-social-border;
                background-position: 11px -412px;
            }
            ul li.fb a:hover {
                background-color: @grey-social-border;
                background-position: 11px -452px;
            }
            ul li.vk a {
                border: 2px solid @grey-social-border;
                background-position: -30px -412px;
            }
            ul li.vk a:hover {
                background-color: @grey-social-border;
                background-position: -30px -452px;
            }
            ul li.ok a {
                border: 2px solid @grey-social-border;
                background-position: -71px -412px;
            }
            ul li.ok a:hover {
                background-color: @grey-social-border;
                background-position: -71px -452px;
            }
            ul li.tw a {
                border: 2px solid @grey-social-border;
                background-position: -112px -412px;
            }
            ul li.tw a:hover {
                background-color: @grey-social-border;
                background-position: -112px -452px;
            }
            ul li.gp a {
                border: 2px solid @grey-social-border;
                background-position: -153px -412px;
            }
            ul li.gp a:hover {
                background-color: @grey-social-border;
                background-position: -153px -452px;
            }
        }
        
        .compare-link {
            background: url("@{base-url}/icons.png") no-repeat scroll -242px -570px rgba(0, 0, 0, 0);
            font-family: @abold;
            margin-left: 72px;
            padding-left: 22px;
            color: @blue-dark;
            
            &:hover {
                background-position: -242px -780px;
                color: @red;
            }
        }
    }
}

.add2fav-link {
    background: url("@{base-url}/icons.png") no-repeat scroll -242px -519px rgba(0, 0, 0, 0);
    font-family: @abold;
    padding-left: 23px;
    color: @blue-dark;

    &:hover {
        background-position: -242px -729px;
        color: @red;
    }
}
.inner-product.inner-catalog {
    .inner {
        position: relative;
        
        &.table-char table {
            margin-bottom: 75px;
        }
    }
    .decription {
        border-bottom: @grey-button 2px solid;
        background: @grey-back-blocks;
        margin-bottom: 0px
    }
    
    .nav.nav-tabs {
        height: 45px;
        left: 2px;
        margin: -46px auto 24px;
        position: relative;
        width: 1203px;
        
        li {
            float: left;
            margin-bottom: -1px;
        }
        
        li a, li.active a {
            background: none repeat scroll 0 0 @grey-button;
            border: medium none;
            border-radius: 0;
            color: @white;
            display: block;
            font-size: 14px;
            font-family: @abold;
            padding-bottom: 14px;
            padding-top: 12px;
            text-align: center;
            width: 299px;
            border-right: 1px solid @white;
            margin: 0px;
        }
        li.active a {
            background: none repeat scroll 0 0 @white;
            color: @black;
        }
        li:first-child a {
            width: 300px;
        }
        li:last-child a {
            border-right: none;
        }
        li:hover a {
            background: @grey-hover;
        }
        li.active:hover a {
            background: @white;
        }
        
    }
    
    .tab-content {
        .left-part {
            float: left;
            padding-right: 45px;
            width: 555px;
            padding-bottom: 41px;
        }
        
        h3 {
            font-size: 18px;
            font-family: @abold;
            margin-bottom: 15px;
            text-transform: inherit;
            color: @black;
        }
        
        h4 {
            font-family: @abold;
            text-transform: inherit;
            color: @black;
        }
        
        .closed-info {
            line-height: 22px;
            color: #666;
            
            &.closed-docs {
                height: 121px;
                margin-bottom: 15px;
                margin-top: 31px;
                overflow: hidden;
                
                .documents {
                    margin-top: 5px;
                    
                    li {
                        margin-bottom: 15px;
                        padding: 10px 0 7px 40px;
                        
                        a {
                            color: @black;
                        }
                        
                        &.pdf {
                            background: url("@{base-url}/icons.png") no-repeat scroll -277px -147px rgba(0, 0, 0, 0);
                        }
                        
                        span {
                            color: @grey-dark;
                        }
                    }
                }
            }
        }
        
        .watch-more {
            color: @blue-dark;
            font-family: @abold;
            position: relative;
            top: -4px;
        }
        .grey-button {
            display: none;
            
            float: none;
            padding: 16px 24px 14px 22px;
        }

        .right-part {
            float: left;
            width: 600px;
        }
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 15px;
        margin-top: -3px;
        width: 100%;
        
        tr:nth-child(2n+1) {
            background: #f2f3f5;
        }
        tr:nth-child(2n) {
            background: @white;
        }
        
        td {
            color: @black;
            border-right: 1px solid #d8dadf;
            padding: 6px 0 7px 17px;
            width: 50%;
            
            &:last-child {
                border: medium none;
            }
        }
    }
    
    .review-part {
        border-top: 1px solid @grey-light;
        padding-bottom: 42px;
        padding-top: 49px;
        
        h3 {
            float: left;
            margin-top: 2px;
        }
        
        .red-review {
            font-size: 11px;
            margin-left: 18px;
            padding: 10px 15px 7px 16px;
        }
        
        .review {
            margin: 0;
            
            dt {
                overflow: hidden;
                
                img {
                    border-radius: 100px;
                    float: left;
                    height: 63px;
                    margin-right: 12px;
                    width: 63px;
                }
                
                .pre-info {
                    font-size: 14px;
                    font-family: @abold;
                    margin-bottom: 3px;
                    padding-top: 9px;
                    
                    span {
                        color: #999;
                        margin-left: 4px;
                    }
                }
                
            }
            
            dd {
                line-height: 22px;
                margin: 3px 0 0;
                color: #666;
            }
        }
    }
    .acsesorises {
        border-top: 1px solid @grey-light;
        padding-top: 44px;
        
        h3 {
            font-size: 18px;
            font-family: @abold;
            margin-bottom: 15px;
            text-transform: inherit;
            color: @black;
        }
        
        .carousel.acsesorise {
            height: 291px;
            margin-bottom: 61px;
            
            .carousel-indicators {
                top: 195px;
                display: none;
            }
            .carousel-indicators {
                li {
                    background: none;
                    border: none;
                    //height: 17px;
                    //width: 17px;
                    height: 21px;
                    width: 21px;
                    position: relative;
                    margin: 0;
                    margin: 0 -2px;
                }
                li:before {
                    background-color: #666;
                    border: 2px solid #666;
                    height: 7px;
                    //margin: 1px 3px;
                    width: 7px;
                    content: '';
                    position: absolute;
                    //top: 0;
                    //top: 3px;
                    top: 6px;
                    //left: 0;
                    //left: 3px;
                    left: 5px;
                    border-radius: 10px;
                }
                li:hover:before {
                    background: transparent;
                }
                .active:before {
                    background-color: transparent;
                    border: 2px solid @red;
                    height: 7px;
                    //margin: 1px 3px;
                    width: 7px;
                }
            }
            .carousel-outer.catalog-inner {
                overflow: hidden;
                padding: 1px 0 0 1px;
                width: @width;

                .carousel-inner {
                    overflow: visible;
                    width: 100000px;

                    .item {
                        display: block;
                        float: left;
                    }
                }
            }

            .carousel-control {
                background: url("@{base-url}/icons.png") no-repeat scroll 7px -601px @grey-strelki;
                height: 45px;
                left: 0px;
                top: 122px;
                width: 30px;
                z-index: 10;
                opacity: 1;

                &.right {
                    background-position: -43px -601px;
                    left: auto;
                    right: 0px;
                }

                &:hover {
                    background-color: @grey-hover;
                }
            }
        }
    }
    
    
    .review-part.review-tab {
        border: medium none;
        padding: 0;
        
        .review {
            margin-bottom: 32px;
        }
        
        .nums {
            margin-bottom: 80px;
        }
    }
    
    
}

.back2cat-link {
    background: url("@{base-url}/icons.png") no-repeat scroll -261px -83px @blue-dark;
    border-radius: 50px;
    display: block;
    height: 40px;
    position: absolute;
    right: -21px;
    top: -21px;
    width: 40px;
        transition: 0.5s;
    
    &:hover {
        background-color: @x-hover;
        transition: 0.5s;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
    }
}


.product-common .photo-part .big-img {
    /*height: 590px;*/
    position: relative;
    padding-bottom: 50px;
    /*width: 540px;*/
    
    .dop-thing {
        left: 15px;
        top: 15px;

        &.day {
            left: 30px;
            top: -9px;
        }
        &.hurry-up {
            left: 30px;
            top: -9px;
        }
    }  
    
    .economy {
        background: @red;
        border-radius: 5px;
        bottom: 25px;
        height: 42px;
        left: 140px;
        position: absolute;
        width: 321px;

        &:before {
            background: url("@{base-url}/icons.png") no-repeat -273px -1px;
            bottom: 13px;
            content: "";
            height: 17px;
            left: 10px;
            position: absolute;
            width: 12px;
        }

        .price {
            background: none repeat scroll 0 0 #f5f5f5;
            border-bottom: 1px solid #dfdfdf;
            border-top: 1px solid #dfdfdf;
            color: #666;
            display: block;
            font-size: 12px;
            height: 40px;
            left: 30px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 108px;

            span {
                color: @black;
                display: block;
                margin-bottom: -4px;
                margin-top: 2px;
                font-size: 16px;
            }
        }

        .percent {
            background: @white;
            border: 1px solid #dfdfdf;
            border-radius: 0px 5px 5px 0px;
            color: #666;
            font-size: 12px;
            height: 40px;
            left: 138px;
            top: 0;
            width: 181px;
            position: absolute;

            .back {
                background: #c6c6c6;
                border-radius: 3px;
                display: block;
                height: 6px;
                margin: 9px 14px 6px;

                span {
                    background: @red;
                    border-radius: 3px;
                    display: block;
                    height: 6px;
                }
            }
        }
    }
}

.windows-photo {
    .slide-div {
        padding: 22px 0px 16px;
    }
    .photo-part {
    width: 675px;
        margin: 0px auto;
        float: none;
    .big-img  {
        width: 675px;
        margin: 0px;
        a {
            display: table-cell;
            height: 675px;
            vertical-align: middle;
            width: 675px;
        }
        img {
            max-height: 675px;
            max-width: 675px;
        }
    }
}}
.photo-part {
    border-right: 1px solid #d8dadf;
    text-align: center;
    width: 600px;
    float: left;
    padding-bottom: 30px;
    
    .big-img {
    /* height: 590px; */
    margin: 30px 30px 0;
    position: relative;
    /* width: 540px; */
        a {
            display: table-cell;
            height: 540px;
            vertical-align: middle;
            width: 540px;
        }
        .main_picture {
            max-height: 540px;
            max-width: 540px;
        }
        
        .lupa {
            background: url("@{base-url}/icons.png") no-repeat scroll 0px -95px rgba(0, 0, 0, 0);
            color: @blue-dark;
            display: block;
            font-size: 12px;
            height: 15px;
            margin-top: 14px;
            padding-left: 20px;
            
    bottom: 0;
    left: 50%;
    margin-left: -48px;
    position: absolute;
    width: 76px;
        }
        
        .product-tile-sale {
            bottom: 25px;
            right: 166px;
        }
    }
    
    .carousel.product {
        height: 65px;
        //margin: 19px auto 0;
        margin: 17px auto 0;
        //width: 361px;
        //width: 370px;
        width: 375px;
        
        .carousel-outer {
            height: 65px;
            margin: 0 auto;
            overflow: hidden;
            width: 292px;
            
            .carousel-inner {
                width: 1000000px;
                
                .item {
                    border: 2px solid @grey-car-border;
                    display: block;
                    float: left;
                    height: 61px;
                    margin: 0 4px;
                    width: 61px;
                    
                    &.active {
                    border: 2px solid @red;
                    }
                    
                    &:hover {
                        border: 2px solid @red;
                    }
                }
            }
        }
        .left.carousel-control, .right.carousel-control {
            background: none;
            opacity: 1;
            
            span {
                //background: url("@{base-url}/icons.png") no-repeat scroll 0px -883px rgba(0, 0, 0, 0);
                background: url("@{base-url}/carousel-product-icons.png") no-repeat 0px 0px;
                //height: 17px;
                left: 15px;
                position: absolute;
                //top: 25px;
                top: 22px;
                //width: 9px;
                width: 11px;
                height: 21px;
            }
            
            &:hover span {
                //background-position: 0px -913px;
                background-position: 0 -21px;
            }
        }
        .right.carousel-control {
            span {
                background: url("@{base-url}/carousel-product-icons.png") no-repeat -260px 0px;
                left: auto;
                right: 13px;
            }
            
            &:hover span {
                //background-position: -21px -913px;
                background-position: -260px -21px;
            }
        }
    }
}

