.inner-cart2 {
	padding: 0 0 81px;
	.inner-cart-inner {
		.cart {
			overflow: hidden;
			.cart-items {
				border-top: 1px solid @grey-light;
				border-left: 1px solid @grey-light;
				border-right: 1px solid @grey-light;
				border-bottom: none;
				.cart-item {
					padding: 26px 190px 31px;
					overflow: inherit;
					display: block;
					.num {
						background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
						border: 2px solid @grey-button;
						border-radius: 20px;
						color: @grey-button;
						display: block;
						font-size: 19px;
						height: 35px;
						line-height: 36px;
						margin: 4px 50px 0 0;
						text-align: center;
						width: 35px;
						float: left;
					}
				   .sorting {
                       float: left;
				        .sort-text {
				            display: block;
				            font-size: 14px;
				            font-family: @abold;
				            letter-spacing: -0.2px;
				            margin: 0 0 2px 0;
				        }
				        .jq-selectbox.jqselect.select-class {
				            margin: 0;
				            
				            .jq-selectbox__select {
				                background: none repeat scroll 0 0 #f2f3f5;
				                border: none;
				                border-radius: 5px;
				                color: #8a8f94;
				                font-family: @a;
				                font-size: 13px;
				                font-family: @abold;
				                padding: 0 30px 0 16px;
				                width: 295px; 
				                height: auto;
				                box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.07);
				                .jq-selectbox__select-text {
								    display: block;
								    letter-spacing: -0.11px;
								    line-height: 44px;
								    overflow: hidden;
								    text-overflow: ellipsis;
								    white-space: nowrap;
								    width: 100%;
				                }
				            }
				            
				            .jq-selectbox__trigger-arrow {
				                border: medium none;
				                background: url("@{base-url}/trigger-arrow2.png") no-repeat;
				                width: 15px;
				                height: 9px;
				                right: 15px;
				                top: 19px;
				            }
				            
				            &:hover .jq-selectbox__trigger-arrow {
				                background: url("@{base-url}/trigger-arrow.png") no-repeat;

				            }
				            
				            &.opened {
				                .jq-selectbox__select {
				                    background: @grey;
				                    color: @white;
				                    border-radius: 5px 5px 0 0;
				                }
				                .jq-selectbox__trigger-arrow {
				                    background: url("@{base-url}/trigger-arrow3.png") no-repeat;
				                }
				            }
				            
				            .jq-selectbox__dropdown {
				                border: 2px solid @grey;
				                color: #7b8187;
				                font-family: @a;
				                font-size: 13px;
				                font-family: @abold;
				                padding-bottom: 4px;
				                border-radius: 0 0 5px 5px;
				                top: 44px;
				                width: 337px;
				                ul {
				                    margin: 7px 0 0;
				                }
				                li {
				                    padding: 6px 10px;
				                    color: #7b8187;
				                    
				                    &.selected {
				                        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
				                        color: @black;
				                    }
				                    
				                    &:hover {
				                        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
				                        color: @black;
				                    }
				                }
				            }

				        }
				        .name {
			                background: none repeat scroll 0 0 #f2f3f5;
			                border: none;
			                border-radius: 5px;
			                color: #8a8f94;
			                font-size: 13px;
			                font-family: @abold;
			                padding: 0 30px 0 16px;
			                width: 295px; 
			                height: auto;
			                box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.07);
			                margin: 4px 0 15px;
			                height: 45px;
			                display: block;
				        }
				        .error {
				        	border: 2px solid #ec1e24;
				        	height: 41px;
				        	width: 291px;
				        }
				        .email, .city {
							float: left;
						    margin: 0 9px 0 0;
						    width: 145px;
				        }
				        .email.error, .city.error {
				        	width: 141px;
				        }
				        .phone, .index {
				        	width: 95px;
				        }
				        .phone.error, .index.error {
				        	width: 91px;
				        }
				        .name:last-child {
				        	margin: 4px 0 -1px; 
				        }
				        .check-container {
				        	margin: 14px 0 0 0;
				        	.check {
				        		label {
				        			padding: 0 0 0 29px;
				        			font-size: 14px;
				        			color: @black;
				        			line-height: 16px;
				        			letter-spacing: -0.08px;

				        			.date {
				        				font-size: 14px;
				        				color: @grey-dark;
				        			}
				        			.price {
				        				font-size: 14px;
				        				color: @red;
				        			}
				        		}
				        		label:before {
				        			border-radius: 15px;
				        			left: 1px;
				        			top: -1px;
				        			border-color: @grey-button;

				        		}
				        		label:after {
								    background: @check;
								    border-radius: 5px;
								    height: 6px;
								    left: 7px;
								    top: 5px;
								    transform: 0;
								    width: 6px;
				        		}	
				        		label:hover:before {
				        			border-color: @check;

				        		}
				        		label:hover:after {
				        			opacity: 0;
				        		}	
								.squaredThree input[type="radio"]:checked + label:after {
								    opacity: 1;
								}
								.squaredThree input[type="radio"]:checked + label:after {
								    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
								    filter: alpha(opacity=100);
								    opacity: 1;
								}
								.squaredThree input[type="radio"]:checked + label:before {
									border-color: @check;
								}

				        	}
				        }
				    }
				}
				.l-cart-item {
					padding-top: 26px;
					padding-left: 190px;
					padding-right: 190px;
					padding-bottom: 0;
					margin: -2px 0 19px;
				}
				.payment {
				    border-radius: 4px;
				    color: @white;
				    display: block;
				    font-size: 12px;
				    font-family: @abold;
				    letter-spacing: 1.5px;
				    padding: 14px 0 14px 3px;
				    text-align: center;
				    text-transform: uppercase;
				    width: 170px;
					background: @red;
				    float: right;
				}
				.payment:hover {
					background: @red-light;
				}
			}
		}
	}
}