.content-inner {
    .breadcrumps {
        margin-bottom: 16px;
        margin-top: 28px;
    }
    h1 {
        margin-bottom: 8px;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.6px;
        margin-bottom: 13px;
        text-transform: unset;
    }
    p {
        color: #777;
        line-height: 22px;
        margin-bottom: 20px;
        
        a {
            color: @blue-dark;
        }
    }

    .big-img img {
        width: 100%;
    }
    ul.list {
        margin-bottom: 33px;
        margin-top: -12px;
        
        li {
            color: #777;
            font-size: 13px;
            line-height: 28px;
            padding-left: 11px;
            position: relative;

            &:before {
                content: "\2022";
                font-size: 23px;
                left: 0;
                position: absolute;
                color: @blue-dark;
            }
        }
    }
    
    h3 {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.3px;
        margin-bottom: 6px;
        text-transform: unset;
    }
    p strong {
        color: @black;
    }
    
    .contacts-block {
        margin-bottom: 36px;
        margin-top: 32px;
        overflow: hidden;
            
        .map {
            float: right;
            width: 842px;
            height: 403px;
            
            img {
                height: 403px;
                width: 842px;
            }
        }
        .text {
            background: @grey-back-blocks;
            float: left;
            height: 388px;
            padding: 15px 0 0 24px;
            position: relative;
            width: 316px;
            p {
                color: @black;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 17px;
                
                &.phone {
                    font-size: 18px;
                }
                span {
                    color: #666;
                    display: block;
                    font-size: 12px;
                }
                &.worktime {
                    bottom: 7px;
                    position: absolute;
                }
            }
        }
    }
    
    .big-img {
        margin-bottom: 34px;
    }
    

    blockquote {
        font-size: 22px;
        line-height: 30px;
        margin: 55px 0 51px;
        padding: 31px 85px 35px;
        position: relative;
        text-align: center;

        &:before {
            background: none repeat scroll 0 0 @blue-dark;
            content: "";
            height: 2px;
            left: 50%;
            margin-left: -50px;
            position: absolute;
            top: 0;
            width: 100px;
        }
        &:after {
            background: none repeat scroll 0 0 @blue-dark;
            content: "";
            height: 2px;
            left: 50%;
            margin-left: -50px;
            position: absolute;
            bottom: 0;
            width: 100px;
        }
    }
    
    
    .checkboxes {
        float: left;
        width: 353px;
    }
    .radiobuttons {
        float: left;
    }

    
    
    .checkboxes {
        float: left;
        width: 353px;
    }
    .radiobuttons {
        float: left;
    }
    .date.grey-text {
        margin-bottom: 6px;
        margin-top: -11px;
        color: #999;
    }
    .news-action-photo-inner {
        float: left;
        margin: 5px 16px 0 0;
    }
    .action-news {
        margin-bottom: 56px;
    }
}
.input {
    background: none repeat scroll 0 0 @grey-select;
    border: none;
    border-radius: 5px;
    color: #666666;
    font-family: @a;
    font-size: 13px;
    padding: 0 12px;
    width: 236px;
    margin: 0;
    height: 45px;
    display: block;
    letter-spacing: 0.1px;
    box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.07);

    &.error {
        border: 2px solid #ec1e24;

    }
    &:focus {
        color: #333;
    }
}

.textarea {
    background: none repeat scroll 0 0 @grey-select;
    border: none;
    border-radius: 5px;
    color: #666666;
    font-family: @a;
    font-size: 13px;
    width: 236px;
    margin: 0;
    height: 154px;
    display: inline-block;
    letter-spacing: 0.1px;
    //border-bottom: 1px solid #dbdcde;
    box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.07);
    resize: none;
    padding: 16px 12px;
}



.form-block.ask-question {
    overflow: hidden;
    margin-bottom: 36px;
    .left-part {
        float: left;
        width: 340px;
    }
    .right-part {
        float: right;
        width: 841px;
    }
    .input {
        letter-spacing: 0.6px;
        margin-bottom: 15px;
        padding: 0 16px;
        width: 308px;
    }
    .input.code {
        float: left;
        width: 120px;
    }
    .code-img {
        float: right;
        margin-right: 1px;
        margin-top: 3px;
    }
    .textarea {
        height: 137px;
        letter-spacing: 0.6px;
        padding: 13px 16px;
        width: 808px;
    }
    .blue-button.red-button {
        float: right;
        margin-top: 20px;
    }
}
.check {
    label {
        color: @black;
        .red {
            color: @red;
        }
        .grey {
            color: @grey-dark;
        }
    }
}
.check.radio {
    label {
        padding: 0 0 0 29px;
        font-size: 14px;
        color: @black;
        line-height: 16px;
        letter-spacing: -0.08px;

        .date {
            font-size: 14px;
            color: @grey-dark;
        }
        .price {
            font-size: 14px;
            color: @red;
        }
    }
    label:before {
        border-radius: 15px;
        left: 1px;
        top: -1px;
        border-color: @grey-button;

    }
    label:after {
        background: @check;
        border-radius: 5px;
        height: 6px;
        left: 7px;
        top: 5px;
        transform: 0;
        width: 6px;
    }	
    label:hover:before {
        border-color: @check;

    }
    label:hover:after {
        opacity: 0;
    }	
    .squaredThree input[type="radio"]:checked + label:after {
        opacity: 1;
    }
    .squaredThree input[type="radio"]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    .squaredThree input[type="radio"]:checked + label:before {
        border-color: @check;
    }

}